[2020-10-26 18:59] thamara commented on #557
I think so... Some options might have really complicated icons and maybe font awesome might not be way to go for those, and in such case, flaticon might be a good resource.
I'll assign the issue to you, but I would like to discuss a bit more on the icons themselves as well as the location. Maybe you can select a few suggestions for the icons and share here, and we can discuss. :)
On the placement,

[2020-10-26 21:00] #460 closed

[2020-10-26 21:03] thamara commented on #551
French translations of the README files have been done by the people who also translated the app.

[2020-10-26 21:03] #551 closed

[2020-10-26 21:04] thamara commented on #525
French translations of the README files have been done by the people who also translated the app.

[2020-10-26 21:04] #525 closed

[2020-10-26 22:33] SaviPrograms commented on #557
![image](https://user-images.githubusercontent.com/42438445/97235346-f4ada300-17e2-11eb-93ec-b6137514907c.png)
My proposition. Horizontal rules are helping with dividing options by topics. Some of the options can have different icons, but I think that set is ok.
I also fixed switches, by setting margin-top and margin-bottom to "auto".

[2020-10-26 22:40] thamara commented on #557
Wow, these are looking lit!
I think we can even group some of the options a little better. Something like this for example:

[2020-10-26 23:33] junevarsha commented on #506
sorry couldn't get to it - unassigned myself so others can pick it up

[2020-10-26 23:34] thamara commented on #506
No problem. Thanks for trying :)

[2020-10-27 01:45] thamara opened #561 "Icon for app is missing on RPM/deb build"
The icon for the app in linux based OS is not working. Instead it shows the electron icon.

Tested in Fedora.

[2020-10-27 05:23] loiscodes commented on #388
Quick update. I've been trying to work on tests for main.js however, looking at the latest main.js test coverage by Codecov a lot of what could be covered is. I'm not sure what else could be tested in this file.

[2020-10-27 10:32] thamara commented on #388
Hi @loiscodes! Thanks for the update. Indeed the main.js is well covered. One test I think it's worth to do is move between the days (in day view), and between the months (in month view). This should improve a bit the coverage in `main.js`, covering for example `refreshOnDayChange`, and might also improve the coverage in other files.

[2020-10-27 10:34] #528 closed

[2020-10-27 10:46] thamara commented on #528
Hey @Gnoyoyo  and @fuslonflare. Thank you a lot for both of your work translating TTL to Thai!
In the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you ambassadors of the Thai support in the app, and, when we have new translations, we'll mention you to see if you can work on th

[2020-10-27 14:34] loiscodes commented on #388
Neat! I'll try that

[2020-10-27 21:17] thamara commented on #283
Have fixed this on #562.

[2020-10-27 21:17] #283 closed

[2020-10-27 21:19] thamara commented on #356
The tests now run correctly on ubuntu latest, giving more confidence in our support :)

[2020-10-27 21:37] #508 closed

[2020-10-27 23:32] thamara commented on #388
Let us know if you hit an issue. :)

[2020-10-28 07:45] vuchl commented on #561
Seems like Linux Icons are not supported as of: https://electron.github.io/electron-packager/master/interfaces/electronpackager.options.html#icon

[2020-10-28 08:53] thamara commented on #561
Hmmm... Interesting...

We already set the icon in the constructor, so I guess the issue is that we are using the incorrect path for the production env...

[2020-10-28 09:58] thamara opened #568 "Tray menu is not working on Linux"
Tray menu should contain items such as "Punch Time", "Show App" and "Quit". But in Linux, it only shows "Time to Leave", and clicking on it just displays the app.

Reproduced in Ubuntu, but I expect other Linux distributions to have the same issue.

To reproduce:
- Open the App
- Minimize it
- See the icon on the tray
- Right-click on the icon

[2020-10-28 10:06] thamara opened #569 "Uncaught TypeError in Flexible calendar when trying to add a waiver"
The error above is thrown when trying to add a waiver from the Flexible Month view.
To reproduce:

1. Open the App
2. To to preferences
3. Select View = Month
4. Select Number of entries = Flexible
5. Close preferences
6. On a working day, hover over the day name as the image below, until the icon shows up
7. Click on the week day

![image](https://user-images.githubusercontent.com/846063/97422064

[2020-10-28 10:13] #555 closed

[2020-10-28 10:13] #556 closed

[2020-10-28 10:14] thamara commented on #10
Hey @samin-batra, any update on this?

[2020-10-28 10:14] #51 closed

[2020-10-28 10:17] thamara commented on #226
Solution should be based on  https://stackoverflow.com/questions/38000403/electron-app-installed-but-doesnt-appear-in-start-menu.

[2020-10-28 10:20] #312 closed

[2020-10-28 10:21] thamara commented on #442
Hey @Saumya-Mishra9129 , any update on this?

[2020-10-28 10:23] thamara commented on #514
Not able o reproduce this on Linux either.

[2020-10-28 10:33] samin-batra commented on #10
Hi @thamara , I am working on this. I am trying to use the jquery-timepicker to achieve this. However, I ran into some issues. JQuery-timepicker is not working as expected (could be some set-up and initialization issues). I am working on resolving those.

[2020-10-28 10:35] samin-batra commented on #10
I tried to achieve the same with the normal HTML time input but that doesn't work because it depends on the person's OS settings. Also, can we include some button at the top of the table which indicates 12/24h format? Or do we simply accept any kind of input?

[2020-10-28 10:41] thamara commented on #10
Thanks for the update!

Feel free to join the [discord](https://discord.gg/P3KkEF5) channel if you want to discuss something. You can also open a Draft PR so we can take a look together.

I prefer to have this kind of setting on the preferences window as this is something that the users will most likely set just one time. If it's on the calendar it will be kind of polluting the GUI.

[2020-10-28 10:50] samin-batra commented on #10
Makes sense. I'm checking and will get back.

[2020-10-28 12:22] #71 closed

[2020-10-28 16:30] mkamranhamid commented on #569
Hey I don't have any experience with electron but I've a lot of work experience with js. I would like to know if I will be able to do that or it requires some additional knowledge?

[2020-10-28 18:16] loiscodes commented on #388
![Screen Shot 2020-10-28 at 2 13 30 PM](https://user-images.githubusercontent.com/72313877/97478834-e321e380-1927-11eb-852e-2e8844f845fd.png)
It looks like the 4 tests I added bumped the test coverage up by 2% 🤷‍♀️

[2020-10-28 23:57] lucas-barros commented on #506
Could I take this one?

[2020-10-28 23:58] tupaschoal commented on #506
Sure

[2020-10-29 00:44] lucas-barros commented on #506
@tupaschoal I opened the PR

[2020-10-29 01:02] lucas-barros commented on #568
@thamara could explain how to build for linux? I'm on ubuntu and ran `package:deb`, went to the release folder and tried running `time-to-leave` by command line but get errors like: `Cannot find module 'i18next'`.
Then I notice that package is in devDependencies, so I tried putting in dependencies in package.json, then I get this error: `TypeError: Cannot read property 'setMenu' of null`

[2020-10-29 01:08] #557 closed

[2020-10-29 01:33] #388 closed

[2020-10-29 01:35] thamara commented on #388
I know 2% looks small, but it's a good step towards better and more complete tests. Thank you a lot!

[2020-10-29 01:38] thamara commented on #569
@mkamranhamid I think knowing a bit of js already will allow you to work on this... :D
If you hit any specific issue, you can come to our discord channel, and we can discuss it. My suspicion on this error is some different id for the type or something like this...

[2020-10-29 01:44] thamara commented on #568
Hi @lucas-barros, `npm run package:deb` will create the package we distribute on the releases. For development, there's no need to do this.
You can follow the steps in our [development guide](https://github.com/thamara/time-to-leave/blob/main/DEVELOPMENT.md), but basically, it's just calling `npm start`, and it will run the app. Be aware it's possible it will startup minimized on the tray.

Regard

[2020-10-29 02:24] mecm1993 commented on #569
Sorry, @mkamranhamid and @thamara I had the issue opened but I did not refresh the page until now.

[2020-10-29 02:52] mkamranhamid commented on #569
Sure sure but I think @mecm1993 has already fixed it 😞. Do you have more issues which are "first timer" friendly

[2020-10-29 03:11] thamara commented on #569
@mkamranhamid Maybe #191 is a good option. I can give you more information in there.

[2020-10-29 03:15] thamara commented on #516
We had some recent work done in the preferences, which as a side effected fixed the height inconsistency in there too:

![image](https://user-images.githubusercontent.com/846063/97521163-bd262e80-197b-11eb-907f-5e971c85ed5d.png)

Because of this, I'm closing this issue.

[2020-10-29 03:15] #516 closed

[2020-10-29 03:21] mkamranhamid commented on #191
Where do I show this setting?

[2020-10-29 03:39] thamara opened #573 "Hours per day cannot be smaller than 1h"
In the preferences, users can set how many hours per day they work. We only support values bigger than 1h, but today user can edit it to be for example:

![image](https://user-images.githubusercontent.com/846063/97522613-ef855b00-197e-11eb-81cd-6b0f17b6e375.png)

But when closing the preferences, the value is overwritten by the default value.

The desired behavior would be to highlight the cell wi

[2020-10-29 03:49] thamara commented on #191
The notification is triggered when it's time to leave. You can play with the values on the inputs until you get the "You should leave by" value close to what's the current time.
For the notification we use [`node-notifier`](https://www.npmjs.com/package/node-notifier), which has an `actions` option. You would need to add a new "Dismiss for today" option in there, and on the caller (in `js/calendar

[2020-10-29 03:56] thamara opened #574 "When counting today in totals, the balance row should be moved down"
When users have the `Count today in totals` enabled, the balance row (with Working days, month balance, etc), should be moved to below the day, and not above it).

Today it's like this:
![image](https://user-images.githubusercontent.com/846063/97523516-45f39900-1981-11eb-9804-e71982409fa2.png)

Considering the example, where "today" is the 29th, the rows should be:
- 27 ...
- 28 ...
- 29 ...
- On

[2020-10-29 05:53] mkamranhamid commented on #573
I think we should instead show `hours` field only not minutes but in that way we will not be able enter hours with minutes like *01:30*. So yeah we should go with the warning thing

[2020-10-29 07:35] SaviPrograms commented on #573
Or we could change minimum time to be under the 1 hour

[2020-10-29 08:15] vuchl commented on #561
So this is is the line where the packaging starts, right:
https://github.com/thamara/time-to-leave/blob/main/package.json#L29

From other discussions this fix was proposed: https://github.com/szTheory/exifcleaner/issues/32

Some I will give that a try

[2020-10-29 10:55] servatj commented on #535
Hi @thamara done , If ok,  I will appreciate if you can add the hacktoberfest-accepted :)

[2020-10-29 11:46] #569 closed

[2020-10-29 11:48] thamara commented on #561
Thanks @vuchl !

[2020-10-29 11:49] thamara commented on #573
Yeah, changing the minimum is also an option, I just not sure if we will be able to test it enough...

[2020-10-29 11:50] thamara commented on #535
Hey @Semvrij! Because TTL has the hacktoberfest label applied in the project when the PR is closed, it will go into your count automatically. :)

[2020-10-29 11:57] Semvrij commented on #535
Hey @thamara. I think you meant to tag @servatj. :)

[2020-10-29 12:05] thamara commented on #535
Ooops, indeed I selected the incorrect user. Sorry hahaha

[2020-10-29 12:12] lucas-barros commented on #568
@thamara this does not happen on `npm start`, only with the distribution. I was trying to run the dist to see the "tray menu" because when I minimize the development version, I didn't see anything on the application bar.

Later I figure it out that I can see the app icon when minimize from running `npm start` from the terminal. I was running from vs code terminal, the app would run, but no time to

[2020-10-29 12:15] lucas-barros commented on #568
You are talking about this, right?
![image](https://user-images.githubusercontent.com/11845759/97572599-4adb3b80-19c7-11eb-847d-a254d1eb3d41.png)

[2020-10-29 12:27] thamara commented on #568
Oh, I didn't notice it was only with the distribution. Yes, this is the issue.
Were you able to overcome the issue with the package?

[2020-10-29 12:28] PakkuDon commented on #574
I'd like to give this a try. Can I be assigned to this issue?

[2020-10-29 12:34] lucas-barros commented on #568
No, I get this error:

[code]

[2020-10-29 12:38] thamara commented on #574
Sure! That would be great!

[2020-10-29 12:40] thamara commented on #568
If you remove `-asar` from the script in `package.json` this should be fixed. We have added it there a while ago, but I have a feeling it's not needed. Can you please try removing it and checking if the app behaves as expected?

[2020-10-29 12:57] SaviPrograms commented on #514
I noticed this when I was writing translation. You need to include your language in other languages

[2020-10-29 13:04] SaviPrograms commented on #475
What do you think about translations of other github related files?

[2020-10-29 16:10] lucas-barros commented on #568
Still the same error.

[2020-10-29 17:36] SaviPrograms commented on #475
@thamara, what do you think about translating of other github related files?

[2020-10-29 17:36] stevesioli commented on #573
@thamara I can take a look at this one.

- Is there an example of a warning already in the app?
- When I tried changing the 'Hours per day' value in prefs, it is always being overwritten by the default, not just a value less than an hour.  Is that the correct current behavior?

[2020-10-29 17:53] tupaschoal commented on #475
What do you have in mind @SaviPrograms ?

[2020-10-29 17:57] SaviPrograms commented on #475
Translation of contriburing and developing guide

[2020-10-29 18:56] tupaschoal commented on #475
I'll allow Thamara to have the final word, but I'd say that's not needed. Translating the app and readme is nice because users don't need to know English, but to contribute they do, as it's the language we use to interact here.

[2020-10-29 22:20] PakkuDon commented on #574
Thanks @thamara! I haven't had much luck with this so I'll unassign myself so someone else can give this a go

[2020-10-29 23:04] araujoarthur0 commented on #514
What do you mean @SaviPrograms?

[2020-10-29 23:14] SaviPrograms commented on #514
When you write translation you have to include your language name in lang files of other languages

[2020-10-30 00:30] thamara commented on #568
Let me try and I'll get back at you.

[2020-10-30 02:15] kashaiahyah85 commented on #356
This is an incredibly edge case, but if you have installed npm using the snap (```snap install npm```) then it will fail on testing, and open a billion windows (11 actually). You can work around this by running npm scripts with ```--scripts-prepend-node-path```.
I'm wondering if this could shed some light on other issues related to spawning unwanted instances during Windows and Linux development,

[2020-10-30 02:19] thamara commented on #475
I agree with what @tupaschoal had mentioned.

[2020-10-30 02:21] thamara commented on #514
Hi @SaviPrograms, I have changed that a few days ago... Now the languages only have to be registered one time in `src/configs/app.config.js`.

[2020-10-30 02:42] thamara commented on #573
Hi @stevesioli, you can look for usages of `showDialog` or use Javascript's `showAlert`.

Maybe the problem is deeper... Can you please check this issue with the preferences not saving the value first? (Before adding the error)

[2020-10-30 02:42] kashaiahyah85 commented on #568
The trouble, at current, is that in Electron, [right-click](https://www.electronjs.org/docs/api/tray#event-right-click-macos-windows) is somehow still only MacOS and Windows, and has no effect for Linux. I feel like there's got to be a way around that.

Now, @lucas-barros , do you have libappindicator1 installed? It'll use it if it's there, and I don't know if that's a good thing or not.

[2020-10-30 03:13] kashaiahyah85 commented on #568
From [this gitbook](http://imfly.github.io/electron-docs-gitbook/en/api/tray.html)

If you want to keep exact same behaviors on all platforms, you should not rely on the click event and always attach a context menu to the tray icon.

[2020-10-30 08:08] megankuo commented on #574
Hi, I'd like to give this issue a try as well.

[2020-10-30 12:29] tupaschoal commented on #574
Please do!

[2020-10-31 00:06] RafaelDavisH commented on #475
I'm interested in helping out to translate to ES Spanish.

[2020-10-31 14:19] thamara commented on #475
@RafaelDavisH currently we are missing only one translation to Spanish:

[code]

[2020-10-31 14:27] RafaelDavisH commented on #475
- So this would be?
[code]
That's the only part that gets translated right?

[2020-11-02 10:21] BamButz opened #576 "Easy export to Clipboard"
**Describe the current limitation**

There is no easy way to export work times in a human readable format.

**Describe the proposed feature or enhancement**

It should be possible to copy work times of multiple days to clipboard in a human readable format.

E.g.
<pre>
Day             Start   Lunch Start     Lunch End   Day End    Day Total
MON 09/26       7:48    12:20           12:50       16:18

[2020-11-02 12:29] araujoarthur0 commented on #576
Do you have any special objective for the copied text?
Copying to a report or so?
I say that because the exported ttldb files are in json format, which is "readable" if the intention is only to store the values.

[2020-11-02 15:32] BamButz commented on #576
In my case, I have to report my times to my manager via email every week, if I could solve this with copy & paste it would be a little easier.

It is good to know that the TTLDB is a Json file I could thus also write a script for automation if the solution via the clipboard is not intended for time-to-leave.

[2020-11-02 15:34] tupaschoal commented on #576
Note that the app has an export function too on the menu

[2020-11-02 15:38] BamButz commented on #576
@tupaschoal but thats the mentioned function exporting the TTLDB File if im correct

[2020-11-02 15:44] araujoarthur0 commented on #576
Hmm, interesting.
I think such a feature might fall in nice with #196.

[2020-11-02 17:20] Flodgar commented on #355
Hello, I can try to do this :)

[2020-11-03 01:57] tupaschoal commented on #355
Sure, I assigned it to you

[2020-11-03 10:10] Flodgar commented on #355
So i have few questions/suggestions:
**1.** As @tupaschoal suggested, I would add this option to preferences.
- One checkbox to enable this feature
- and one text input for time interval

**2.** Maybe put them right under _'hours per day'_ option?

**3.** How should we call them? I am not native english speaker so i don't have the best 'feeling' for this.
**'Enable to prefill lunch time'** and **'

[2020-11-03 21:40] tupaschoal commented on #355
'Enable to prefill lunch time' and 'Lunch time interval' maybe?

I like "Lunch time interval", but thinking on the "flexible calendar" usage, where there might be multiple intervals, maybe we should call it "Default break duration" or "Default interval duration"

I don't think either, maybe we want the maximum to not be greater than 23:59 (but I think the time field will already do that). Or just

[2020-11-03 22:45] araujoarthur0 commented on #355
For the flexible calendar, would this have to become "interval time"? Since there can be more than one interval.

[2020-11-04 14:54] silenteyesoncode commented on #445
I think I got problem with Node packages
@virginiarcruz try this if you want

[2020-11-05 01:34] thamara commented on #576
Yes! I think this matches a lot the idea in #196.
@BamButz, in your case, you would be targeting only a weekly report? Or do you think other ranges would be interesting?

[2020-11-05 14:40] BamButz commented on #576
@thamara yes you're right, in my case I would mainly targeting a weekly report. There is also the case that the end of the month is in the middle of the week, in which case a selection of days would be useful or maybe you could use just the days of the week until "today".

[2020-11-06 13:57] Flodgar commented on #573
@stevesioli

I found there was bad condition when validating input for this pref, that caused this problem. It will be fixed in my PR for #355. (Today or tomorrow i hope).

[2020-11-08 14:14] thamara commented on #576
I'll work on a proposal for a report and will update #196 with it and I'll consider your use case on it too.

[2020-11-08 14:24] thamara commented on #10
Hi @samin-batra, any updates on this?

[2020-11-08 14:27] thamara commented on #507
Hey @junevarsha, do you intend on working on the translation of the app to Tamil?

[2020-11-08 14:28] #535 closed

[2020-11-08 14:28] thamara commented on #558
Hey @h-shams, any update on this?

[2020-11-08 14:29] thamara commented on #574
Hey @megankuo, any updates on this?

[2020-11-08 14:48] samin-batra commented on #10
Hi Thamara. I was able to get the timepicker working but now the other validations don't seem to be working. I am trying to understand what the flow is related to validations. I haven't been able to work on this recently.

[2020-11-08 20:16] araujoarthur0 opened #581 "Preferences - "Overall balance start date" input behind the next one"
**Describe the issue**
When clicking on the "Overall balance start date" input. the dotted box that appears is behind the next input.

![image](https://user-images.githubusercontent.com/37311270/98483317-f2394900-21e5-11eb-945d-d0253491619d.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Edit
2. Click on Preferences
3. Click on "Overall balance start date" input

**Expected behav

[2020-11-09 00:18] thamara commented on #10
Thank for the update. When you have the time to work on this, let us know if we can help with anything.

[2020-11-09 00:24] #581 closed

[2020-11-09 00:29] #401 closed

[2020-11-09 00:33] thamara commented on #248
I don't think we were able to reproduce this in a while, so luckily it was fixed.
I'll close it now.

[2020-11-09 00:33] #248 closed

[2020-11-09 01:44] #292 closed

[2020-11-09 01:48] #468 closed

[2020-11-09 01:55] thamara opened #583 "Create Time to Leave website"
Time to Leave now have a new virtual address at [timetoleave.app](https://timetoleave.app) and now it's time to make it gorgeous!
We got a gorgeous proposal for the layout from @RafaelDavisH and now the task at hand is to make it available.
We already have a page set up with netlify, but we can adjust it to whatever technology we see fit.
Anyone interested in making it happen, please get in touch

[2020-11-09 02:15] megankuo commented on #574
Hi @thamara, In all honesty, I realized that this issue is still beyond my skill level. Sorry I wasn't able to help you out though I really loved the project idea.

[2020-11-09 02:39] thamara commented on #574
Thank you anyway! Hope to see you around!

[2020-11-09 03:21] thamara commented on #475
@RuteshRathod we got a few strings missing in Marathi. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.

## mr (12/192 - 6.25% missing):

[code]

[2020-11-09 03:22] thamara commented on #475
@giovannipessiva we got a few strings missing in Italian. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.

## it (13/192 - 6.77% missing):

[code]

[2020-11-09 03:23] thamara commented on #475
@jswildcards we got a few strings missing in Italian. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.

## zh-TW (11/192 - 5.73% missing):

[code]

[2020-11-09 03:23] thamara commented on #475
@Semvrij we got a few strings missing in Dutch. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.

## nl (5/192 - 2.60% missing):

[code]

[2020-11-09 03:24] thamara commented on #475
@Esot3riA we got a few strings missing in Korean. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.
## ko (5/192 - 2.60% missing):

[code]

[2020-11-09 03:25] thamara commented on #475
@servatj we got a few strings missing in Catalan. Would you be interested in translating those? If opening a PR for is too much trouble, you can share the translations in a comment and I'll adjust it.

## ca-CA (5/192 - 2.60% missing):

[code]

[2020-11-09 14:44] Semvrij commented on #475
I created a pull request.

[2020-11-10 01:14] #574 closed

[2020-11-10 22:31] junevarsha commented on #507
sorry I am unable to finish with my other deadlines, I will close the issue.

[2020-11-10 22:31] #507 closed

[2020-11-11 14:09] h-shams commented on #558
Yes @thamara , I was a little busy, but I'm working on this

[2020-11-12 16:54] RafaelDavisH commented on #583
I would to love to give it shot.

[2020-11-13 01:08] tupaschoal commented on #583
Please @RafaelDavisH !

[2020-11-16 06:50] ccsCoder commented on #583
The proposal is indeed Excellent. Great work there !.
A trivial improvement would be to improve the contrast between the dropdown text and the background to make the text more legible. Please check the screenshot.

![Screen Shot 2020-11-16 at 12 19 53 PM](https://user-images.githubusercontent.com/2142386/99221141-08f32780-2806-11eb-87e7-77baab11ad64.png)

Cheers !

[2020-11-17 21:02] tupaschoal commented on #191
I'd say so

Community. Just make sure you add it in English in all files and we'll ping people for the rest.

[2020-11-20 02:57] RafaelDavisH commented on #583
Update: Am I working on this feature. Sorry for the delay, I took a small vacation with the fam. I’m back on it.

[2020-11-26 05:18] thamara commented on #583
Yay! Thanks @RafaelDavisH! I'm looking forward to seeing the result!
I have a few minor comments on the text of the proposal, and on some details as the images and icons. Do you prefer that I give this feedbacks upfront or are you planning on using them as placeholders and we can discuss that later on the PR?

[2020-11-26 06:39] RafaelDavisH commented on #583
Upfront it's okay. I'm sure there will be more tweaks after the first draft.

[2020-11-27 00:26] jrasmith0 commented on #445
@thamara

If the issue is still available I'd like to work on it

[2020-11-27 00:33] thamara commented on #445
@jrasmith0 , yes, it's available! You can work on it, thanks a lot!

[2020-11-28 13:45] #445 closed

[2020-12-07 00:10] #355 closed

[2020-12-13 20:27] JoseNavy commented on #442
Hello! Is anyone working on this? If not I would like to help! I'm new to OS and would like to help.

[2020-12-14 01:48] tupaschoal commented on #442
You can work on it, I don't think anyone is.

[2020-12-19 03:27] araujoarthur0 opened #598 "Working days is wrong on flexible view"
**Describe the issue**
The "Working Days" number is not correct in the Flexible View.

**Environment**

Version: 1.5.6-dev
Electron: 10.1.4
Chrome: 85.0.4183.121
Node.js: 12.16.3
OS: Windows_NT x64 10.0.18363

[2020-12-19 22:51] cinziaborello commented on #480
Commenting to say that I'd like to be a back-up for Italian translations in case Giovanni wouldn't be available 🙂

[2020-12-22 00:23] #442 closed

[2020-12-22 23:46] JoseNavy commented on #226
Is this issue still happening? If it is, I would like to give it a shot!

[2020-12-22 23:51] tupaschoal commented on #226
It is, solution should be similar to what Thamara last posted

[2020-12-23 06:35] cinziaborello opened #600 "Strings in English in the Italian translation"
I was reviewing the Italian translation json file and found that line 143 and 144 are in English.
I'd like to translate these and also fix a typo.

[2020-12-23 12:13] tupaschoal commented on #600
Please go ahead

[2020-12-24 10:18] Pika-Pool commented on #583
I would like to work on this. Has there been any development started according to the proposal? And how can I get the wireframe file containing data about colors, fonts and images?

[2020-12-24 11:11] tupaschoal commented on #583
I think not. @thamara?

[2020-12-25 15:05] RafaelDavisH commented on #583
Link to figma: https://www.figma.com/file/zQeMx1ivozSaLU1irC27al/Figma-Website-Template-Landie-Demo-Community

I've been really busy with work. Sad I didn't get to finish the project. It's fair for someone else to take it.

[2020-12-26 09:04] WilliamCheng12345 commented on #573
Hi, I am interested in solving this issue. Has the issue been resolved? Thank you!

[2020-12-27 15:23] araujoarthur0 commented on #573
I'm not sure if #355 fixed it or not. Can you check it?

[2020-12-28 00:57] JoseNavy opened #601 "Minor error when trying to package the app"
*Describe the issue*
When trying to package the app with the instructions from the DEVELOPMENT.md, there's an error with npm. Instead of using "-", it instead uses ":".

*To Reproduce*
Try to package the app with the next command:
`npm run package-win `
An error appears, saying that the correct syntax is:
`npm run package:win `

*Expected behavior*
Package the app successfully.

*Environment*

- N

[2020-12-29 03:00] kashaiahyah85 commented on #601
Good catch.

[2020-12-29 12:48] #601 closed

[2020-12-29 12:50] tupaschoal commented on #601
You were right, I checked the workflow that packages and it was `:`, thanks for pointing it out!

[2021-01-03 18:37] #600 closed

[2021-01-04 23:21] #226 closed

[2021-01-04 23:25] tupaschoal opened #605 "Decide on CI checks to use"
We currently have one too many CI checks, most of which are redundant:
- codecov
- CodeFactor
- deepcode

This confuses contributors. We should check whether we need them all or not and, if we don't, get rid of some.

[2021-01-10 12:16] #598 closed

[2021-01-11 12:28] CodeWithBlaze commented on #573
Hi, i would like to work on this issue . i have never contributed and want to try on this .so can i please work on it

[2021-01-11 21:08] tupaschoal commented on #573
Plese do @CodeWithBlaze , I've assigned the issue to you.

[2021-01-12 05:59] CodeWithBlaze commented on #573
thank you i will start working on it

[2021-01-12 06:31] CodeWithBlaze commented on #573
Just to clarify  if the user enters any value which is less than an hour than it should not be accepted and error message will be displayed right ???

[2021-01-12 08:10] CodeWithBlaze commented on #573
i actually prevented the saving of the time which is less than i hour .just the error message portion is left just want to know what type of error should be displayed

[2021-01-12 11:55] CodeWithBlaze commented on #573
link with screenshot : https://drive.google.com/file/d/1o47dzgH58Mql3YYlINRDWufu_Ocu8z98/view?usp=sharing
. now the user cannot provide time less than an hour .but i was thinking it would be good to display an custom error like "hours per day should minimum be 1 hour" instead of "please match the requested format" .

[2021-01-12 22:49] tupaschoal commented on #573
Yes!

I agree. The error box looks cool, but the message is too cryptic.

[2021-01-13 05:21] CodeWithBlaze commented on #573
should i change it to display an error although i need to put a error box

[2021-01-14 03:11] tupaschoal commented on #573
Not sure what you meant. I like the visual you came up with, I just think the text should be improved.

[2021-01-14 13:20] CodeWithBlaze commented on #573
i have made the pull request . i have solved the minimum 1 hour working problem . if i have made any mistake please pardon me and guide me what should i do.

[2021-01-18 21:07] kashaiahyah85 commented on #605
CodeCov, which unfortunately seems to have gone somewhat ignored recently, is an incredibly valuable analysis, which we should be listening to. There are not intermittent failures, Codecov doesn't like when code is added without any tests for it. We should keep CodeCov.

CodeFactor, which has been added much more recently, appears to offer nothing as far as I can tell. In theory, yes, but not so m

[2021-01-21 23:31] araujoarthur0 commented on #561
Hi @vuchl , have you done some work on this?

[2021-01-21 23:32] araujoarthur0 commented on #558
Any updates @h-shams ?

[2021-01-22 01:01] suke6mix opened #609 "Translate Time to Leave to Japanese"
Hello! @thamara
I would like to add Japanese translation. Thank you for the contribution guide.

[2021-01-22 01:04] suke6mix commented on #475
Hello, I opened the issue #609 to translate to Japanese.

[2021-01-22 01:12] thamara commented on #609
Yay! Thank you a lot!

[2021-02-09 14:30] BenjaminRochez commented on #583
I'm working on it !

[2021-02-10 10:40] tilenmiklavic commented on #583
I would love to work on a website as well. @BenjaminRochez if you need any help, let me know.

[2021-02-10 12:09] BenjaminRochez commented on #583
Of course it would be cool to collaborate ! I've already made the whole page desktop view and I will work on the animations.
If you can handle the responsive part, I'll let you do so. Let's discuss about it on the discord

[2021-02-18 19:10] radiohazard-dev commented on #568
On Ubuntu 20.04 with GNOME3, the apps in the system tray move to the top bar, and click events there are ignored because that registers as opening a context menu. The context menu in question is never actually set, though, so it simply uses a default.

https://github.com/thamara/time-to-leave/blob/01f0dfd65ef1105cd76f9f10dfbf66b99df80bd2/js/main-window.js#L108-L117

![image](https://user-images.gi

[2021-02-18 19:25] radiohazard-dev commented on #568
The application context menu that you see upon minimizing the app is akin to the app in the Windows Taskbar.

[2021-02-19 01:17] #568 closed

[2021-02-26 01:23] #583 closed

[2021-02-26 01:30] araujoarthur0 opened #613 "Typo in website"
"Get notifed" should be "Get notified" in the website.

https://github.com/thamara/time-to-leave/blob/c9cd0c8b1e5254d4220de31e6f23821297cf010a/website/src/index.html#L111

[2021-02-26 02:16] #613 closed

[2021-02-26 02:35] thamara commented on #573
I could no longer reproduce this. Closing this issue.

[2021-02-26 02:35] #573 closed

[2021-03-01 06:31] code-reaper08 opened #615 "Translation for Tamil language"
Hey @thamara
I would like to work on Tamil translation.

It's mentioned unfinished [here](https://github.com/thamara/time-to-leave/issues/507) and the issue is closed . That's why opened a new issue.

Could you please assign it to me  ?

[2021-03-01 14:56] tupaschoal commented on #615
Done @code-reaper08 !

[2021-03-01 15:30] code-reaper08 commented on #615
Thanks for assigning @tupaschoal 😃✨✌
Will start my work today

[2021-03-05 01:37] oFrederic opened #617 "Translate into French"
Hey @thamara
I would like to work on the French translation.
Could you please assign it to me?

[2021-03-05 14:23] code-reaper08 commented on #615
Hey @thamara @tupaschoal 😃
I've created PR [here](https://github.com/thamara/time-to-leave/pull/616).

I know you are busy 😅, is it done right ?
Could you please point out if anything should be done for merging ?

[2021-03-06 02:28] tupaschoal commented on #617
Done @oFrederic !

[2021-03-06 04:41] oFrederic commented on #617
@tupaschoal Thank you

[2021-03-10 11:45] #615 closed

[2021-03-20 23:32] krogusz commented on #561
Hi, If @vuchl can not do it - can I try?

[2021-03-21 00:39] tupaschoal commented on #561
Sure

[2021-03-27 08:15] BamButz commented on #514
Hey, is this issue still active?
It seems to be the last objective to complete v1.5.6, and I would be happy to see a new release.

[2021-03-27 12:06] tupaschoal commented on #514
Several people could not reproduce, including me.

As for the new release, I too want to see it happen! I know that @thamara was working on a bug, but I think it's untracked. Let me do some housekeeping.

[2021-03-27 12:08] tupaschoal commented on #617
Hello @oFrederic , are you still working on this? Do you need help?

[2021-03-27 12:09] tupaschoal commented on #558
Closing for lack of update, let us know if you resume it by reopening the issue!

[2021-03-27 12:16] tupaschoal opened #619 "Minimum number of entries for calculation became 4 with flexible calendar"
**Describe the issue**
After we moved to the new flexible format, we lost the ability of having only 2 entries on a day.

**To Reproduce**
1. Punch a time on the first entry
2. Punch a time on the last entry
3. Notice that the red bar of invalid entries appear

**Expected behavior**
Punching at the beginning and end of the day should be valid if someone has a working day without breaks, and calcul

[2021-03-27 12:16] tupaschoal commented on #619
@BamButz this is the issue keeping us from releasing, AFAIK. Not sure if @thamara is working at it, you can probably take a stab

[2021-03-27 13:01] tupaschoal commented on #514
Closing it, if we find it is still happening, we can reopen

[2021-03-27 13:01] #514 closed

[2021-03-27 15:37] #609 closed

[2021-03-27 19:01] thamara commented on #475
# Missing Translations:
## ca-CA (7/193 - 3.63% missing):

[code]

## de-DE (6/193 - 3.11% missing):

[code]

## dev (2/193 - 1.04% missing):

[code]

## es (2/193 - 1.04% missing):

[code]

## fr-FR (7/193 - 3.63% missing):

[code]

## hi (12/193 - 6.22% missing):

[code]

## id (7/193 - 3.63% missing):

[code]

## it (1/193 - 0.52% missing):

[code]

## ja (1/193 - 0.52% missing):

[code]

## ko

[2021-03-27 19:18] thamara opened #622 "Day/Total in the month calendar does not get translated when changing languages"
**Describe the issue**
Day/Total in the month calendar does not get translated when changing languages.

![image](https://user-images.githubusercontent.com/846063/112732308-e42b6100-8f17-11eb-9dab-d148058cc58e.png)

**To Reproduce**
Open preferences, change language. Close preferences window.
The Day/Total on the month calendar will remain not translated.
Refreshing the calendar fixes the issue.

[2021-03-27 19:22] thamara commented on #609
Thank you for the translation @suke6mix!
Can you please just confirm to me that "OK" is indeed "OK"?

[2021-03-28 04:15] suke6mix commented on #609
Hi @thamara !
"OK" is used in Japanese as it is, so there is no problem.
Thank you for giving me a good experience.

[2021-04-02 22:19] kashaiahyah85 opened #625 "Add website link to GitHub page."
Let's go ahead and add https://timetoleave.app to the repo page. It looks great.

[2021-04-10 21:16] #625 closed

[2021-04-25 12:50] araujoarthur0 opened #627 "Commit hooks broken due to website css"
**Describe the issue**
Lint hooks when running git commit are broken due to website css.

**To Reproduce**
Steps to reproduce the behavior:

1. Make a change
2. Run git commit
4. See error

**Expected behavior**
No errors

**Environment**

Version: 1.5.6-dev
Electron: 10.1.4
Chrome: 85.0.4183.121
Node.js: 12.16.3
OS: Windows_NT x64 10.0.19042

**Screenshots**
[code]

[2021-04-25 14:35] araujoarthur0 opened #630 "Remove button disappears in day view when removing a 4th entry"
**Describe the issue**
The day view can have any number of entry pairs above 2. The remove button always stays at the last pair and should move up as they are removed.
Today, when there are 4 pairs, if I remove the last one, the button doesn't appear for the 3rd pair.

**To Reproduce**
Steps to reproduce the behavior:

1. Add 4 entry pairs to a day
2. Click on remove
3. Watch the button disappear

[2021-04-25 15:27] araujoarthur0 opened #632 "Improve startup performance"
**Describe the current limitation**
Startup is taking ~16s on an old machine with an SSD disk.
I haven't been able to run profiling on the startup because the inspector only loads afterwards, and the issue doesn't happen on reload.

**Describe the proposed feature or enhancement**
We can try some things like delaying our "requires"
https://blog.inkdrop.info/how-to-make-your-electron-app-launch-100

[2021-04-25 18:01] #630 closed

[2021-04-25 18:02] #627 closed

[2021-04-26 09:27] mayankmohak commented on #622
I want to take on this issue !!
But I am beginner to this repo so plz can you tell from which file it can be corrected.

[2021-04-29 02:48] thamara commented on #622
Hi @mayankmohak, thank you a lot for your interested!
I didn't had a chance to look closer to this issue to give any pointers now. But I'll try doing that on the weekend and will let you know. :)

[2021-04-30 21:53] #619 closed

[2021-05-01 02:49] #506 closed

[2021-05-11 07:11] thamara opened #645 "Remove confirmation when removing empty entry pair"
When click the minus sign to remove a pair of entries, we are prompt with:

![image](https://user-images.githubusercontent.com/846063/117773523-c9ceed80-b20e-11eb-89d1-fe1432413dba.png)

This gets kind of annoying and we should only bother the user with the confirmation if there's any value on the inputs being removed.

To reproduce, click the minus sign in any empty line of TTL.

[2021-05-11 09:37] mayankmohak commented on #645
I want to take on this issue.

[2021-05-12 06:40] mayankmohak commented on #645
how can we check any row pair to be empty.

[2021-05-13 02:38] thamara opened #646 "Upgrade to electron 12.0.6 or newer"
Main changes:
- Updated Chromium to 89.0.4389.128

Breaking Changes

- Changed the default of crashReporter.start({ compress }) from false to true.
- Changed the default value of contextIsolation to true.
- Changed the default value of worldSafeExecuteJavaScript to be true.
- Deprecated the remote module. It is replaced by @electron/remote.
- Deprecated the new-window event of WebContents. It is r

[2021-05-14 03:20] thamara commented on #645
I guess you can use the jquery to retrieve the values from the positions. Something like:
[code]

You'll need to use the inspector from chrome to retrieve the correct identificator.

[2021-05-14 07:17] mayankmohak commented on #645
made a PR please review. @thamara  @tupaschoal

[2021-05-17 21:57] thamara opened #648 "When exporting DB use a name with date indication"
When exporting the DB the automatic name is something like "time_to_leave". It would be better to export it like: "time_to_leave_2021_05_17", or something like that, maybe including the time too.

[2021-05-17 22:28] thamara opened #649 "Import of a DB with lots of entries causes TTL to become unresponsible for some time"
When import of a DB with lots of entries causes TTL to become unresponsible for some time. It's not a lot, but can become a big problem in the future.

Use the attached DB as a reference:
[time_to_leave_20210517.zip](https://github.com/thamara/time-to-leave/files/6497183/time_to_leave_20210517.zip)

[2021-05-17 22:33] thamara opened #650 "Month balance is incorrect"
**Describe the issue**
Month balance is incorrect.
Issue seems to be related to the existence of waivers in the month.

**To Reproduce**
![image](https://user-images.githubusercontent.com/846063/118564246-5bc28300-b746-11eb-83c8-5a13ad5950c2.png)

The expected month balance should be -00:30 (considering count today is enabled), instead it shows -05:30.

**Environment**

Version: 2.0.1
Electron: 11

[2021-05-21 04:22] #645 closed

[2021-05-21 04:38] thamara opened #653 "Investigate why mocha tests are timing out intermittently"
Investigate why mocha tests are timing out intermittently.
Mocha tests were disabled in #652.

[2021-05-23 20:52] adarshnanwani commented on #648
Hey. I haven't made any contribution yet and I'm looking for my first one. Can I take this up? 😃

[2021-05-23 20:55] araujoarthur0 commented on #648
Please do :)

[2021-05-26 02:35] #648 closed

[2021-05-31 15:24] omgjulka opened #660 "Possibility to write letters in the "hour" section in Workday Waiver Manager"
Entering a letter in the WM hour input field
2. Operating system: MacOS Big Sur 11.33.
Initial condition: The user has the Workday Waiver Manager window open
Step 1: The user enters the text into the time field
Expected Result: Unable to enter text, unable to click "Waive"
Actual result: You can enter a letter in the numeric field

![Zrzut ekranu 2021-05-31 o 17 23 38](https://user-images.githubus

[2021-06-01 02:24] tupaschoal commented on #660
Definitely a bug, thanks for reporting!

[2021-06-03 13:36] omgjulka opened #662 "Instead of adding a vacation for the given day, the vacation is applied to the day before"
**Describe the issue**
A clear and concise description of what the issue is.

**To Reproduce**
1. Go to 'main page'
2. Click on ' Choose the correct day when you want to add day off. You should see sick emoji. Click on that. '
3. Scroll down to '....'
4. See error:  As a result, Workday Waiver Manager has selected a date one day before the date you clicked in the second step.

**Expected behavior*

[2021-06-05 05:21] thamara commented on #662
@omgjulka do you mind sharing what is your timezone? I could not reproduce it locally, and I'm suspecting of some time handle..

[2021-06-05 12:36] anujjoshi63 commented on #660
I have started working on this issue. Can this be assigned to me?

[2021-06-05 12:37] tupaschoal commented on #660
Done, thanks for working on it!

[2021-06-05 12:38] omgjulka commented on #662
warsaw, poland

W dniu sob., 5.06.2021 o 7:22 AM Thamara Andrade ***@***.***>
napisał(a):

[2021-06-08 22:12] omerisildak opened #666 "Translate Time to Leave to Turkish"
Hi, :wave:  @thamara  refer to issue #475 . I want to help to translate Turkish.
Also have a good day :blush:

[2021-06-09 07:16] omerisildak commented on #666
Thank you @tupaschoal :)

[2021-06-10 13:25] tupaschoal opened #671 "Mismatching languages on app.config.js"
We have 18 language codes listed on `app.config.js`:
https://github.com/thamara/time-to-leave/blob/d953c4dfe6f72c375cf8574fbcd0bb9fd76b4245/src/configs/app.config.js#L1-L20

However, at the end of this file, we export only 13 of those:
https://github.com/thamara/time-to-leave/blob/d953c4dfe6f72c375cf8574fbcd0bb9fd76b4245/src/configs/app.config.js#L41-L44

Seems like all 18 work, so we should discu

[2021-06-10 13:30] araujoarthur0 commented on #671
If still necessary, looks like we could just export the keys of the map.

[2021-06-10 14:11] #650 closed

[2021-06-11 19:27] #666 closed

[2021-06-14 12:55] #671 closed

[2021-06-14 14:58] #660 closed

[2021-06-15 19:42] tupaschoal opened #677 "Provide helpful tip on hours fields with validation"
**Describe the current limitation**
When user fails to enter the proper information on the hours field for waivers and for the # of hours a day on the preferences, it states that the format is wrong.

**Describe the proposed feature or enhancement**
Aside from saying that the format is wrong, it should also hint at how to make it correct. Seems like this is done by using the `title` tag.

**Additi

[2021-06-20 06:29] nikkhil31 opened #680 "Translate Time to Leave to Gujarati Language."
Hi!
Referring this issue #475,
I would like to add a Gujarati translation to TTL.

could you please assign it to me?

[2021-06-20 06:29] thamara commented on #680
Assined to you. Thanks @nikkhil31!

[2021-06-20 09:25] JulienZD opened #682 "Minor typo in readme"
https://github.com/thamara/time-to-leave/blob/78a086226910736042d1f0e83f8d7f2a33a7da63/README.md#L49

The text

Should be changed to one of these options:

1. > if you want **to receive a** notification or not.

2. > if you want **to receive** notification**s** or not.

"To receive" is optional, I find it adds more clarity.

[2021-06-20 11:23] thamara commented on #682
Thanks!

[2021-06-20 11:28] thamara commented on #677
This can be achieved with setting `title`, or using something like `oninvalid="this.setCustomValidity('Reason why not valid')"` for the input.

[2021-06-20 11:29] thamara commented on #662
I still wasn't able to reproduce this, but I'm still confident this is timezone-related.
Will continue with some experiments and will share the findings here.

[2021-06-20 11:55] #682 closed

[2021-06-22 02:04] #680 closed

[2021-06-27 22:51] panicswtch opened #688 "Translate Time to Leave to ru-Ru"
Hello @thamara!
I would like to translate app to russian. I think that it will take about a month
Could you please assign it to me?

[2021-06-27 23:47] tupaschoal commented on #688
Done @panicswtch . Thanks for the interest!

[2021-07-03 11:44] manisai216 commented on #677
Hi @thamara ,

I would like to work on this. I am new to open source contribution. Any help is appreciated.

[2021-07-03 12:34] tupaschoal commented on #677
Sure, I assigned it to you @manisai216. You need to clone the repository locally, do the changes and then submit a PR. There are a few helpful links on the web about that, let us know if you need more help.

[2021-07-03 13:21] manisai216 commented on #677
@tupaschoal Thanks. I will do that and soon submit a PR.

[2021-07-07 22:10] #191 closed

[2021-07-11 22:35] #688 closed

[2021-07-19 01:58] #677 closed

[2021-08-07 19:53] araujoarthur0 opened #698 "Sort waivers by date"
**Describe the current limitation**
Workday Waiver Manager list sorts by last created, instead of by date. This makes it harder to search chronologically when you want to remove a waiver.

**Describe the proposed feature or enhancement**
Sort waivers by date, backwards in time.

![pref](https://user-images.githubusercontent.com/37311270/128612393-a9b0c084-80db-4b4c-8197-f4fdbc2bbfa6.gif)

[2021-08-09 12:57] araujoarthur0 opened #699 "Waived day still counting for month balance in Day calendar"
**Describe the issue**
Waived day is still counting for month balance in Day calendar.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Day View on a waived day
2. Click on next day
3. See Month Balance changing although the day was waived

**Expected behavior**
Waived days not to count in balance

**Environment**

Version: 2.0.1
Electron: 11.1.1
Chrome: 87.0.4280.88
Node.js: 12.18.3
O

[2021-08-17 02:09] taniadaniela commented on #646
hi! @thamara in order to upgrade electron version,  is the plan to stick with @electron/remote or to go for an implementation with `ipcRenderer` and `ipcMain`?

[2021-08-17 02:48] thamara commented on #646
Hi @taniadaniela , I think the ideal would be to use the native solution, but an intermediary step using @electron/remote sounds good too. Truth be told, I don't fully understand the framework, if you do and has any opinions on it, feel free to share it. We would appreciate very much!

[2021-08-17 02:55] #699 closed

[2021-08-18 12:20] taniadaniela commented on #646
Yeah, I think the intermediate step sounds good and after that a major refactor to remove the remote usage that according to docs it has some major performance issues. I will try to get a PR for this!

[2021-08-23 21:29] manisai216 commented on #12
@thamara @tupaschoal I would like to take this up !! If it's not already assigned, please assign it to me !!

[2021-08-23 22:42] thamara commented on #12
Thanks @manisai216! I have assigned it to you.

[2021-08-28 07:09] aakashpothepalli commented on #698
Hello @araujoarthur0 , I'd like to work on this issue
Please assign it to me

[2021-08-28 16:47] araujoarthur0 commented on #698
Hi @aakashpothepalli, it's yours :)

[2021-08-29 06:09] aakashpothepalli commented on #698
Thanks
So i understand that the dates are to be sorted on basis of start date in decending order, i.e the most recent date comes on the top

[2021-08-29 07:51] manisai216 commented on #12
@tupaschoal Can you please elaborate on this requirement. I am a bit confused as to what needs to be implemented exactly. Hitting a tab key moves from one field to another, right ? Do you want that behavior to be overridden ? Or when user hits tab button, should the previous field be marked to 00 ?

Another thing, '3' + tab --> '03' . '3' + tab is already filling the field with 03.

[2021-08-29 08:08] aakashpothepalli commented on #698
![image](https://user-images.githubusercontent.com/19583729/131243325-1d0f6ef8-96d2-4a26-b503-ca2eca6f860c.png)
@araujoarthur0  I've written a sorting function that sorts the table each time a row is added to it. As a result, each insert operation's time complexity will be O(nlogn)
Raising a PR

[2021-08-29 09:19] aakashpothepalli commented on #698
my code is failing on these test cases
 × computeAllTimeBalanceUntil: irregular days (with mixed time) (215 ms)
    × computeAllTimeBalanceUntil: irregular (but even) days (with mixed time) (228 ms)

Here's my sorting function

[code]

[2021-08-29 09:37] aakashpothepalli commented on #698
I've added a test to checked whether the table is sorted
I've also tested the codebase with ```npm run test:jest```
Rasing a PR
@araujoarthur0 please review it

[2021-08-29 10:00] aakashpothepalli commented on #698
I've tried running jest tests but my code fails on these test cases
    × computeAllTimeBalanceUntil: only regular days (94 ms)
    × computeAllTimeBalanceUntil: only regular days (6 entries) (77 ms)

here's my code
[code]

[2021-08-30 12:36] tupaschoal commented on #12
I'm not even sure I like this request I made anymore, I find it unlikely that someone will ever be joining/leaving work at exactly `:00` and people will probably just type everything or use the punch button (not sure if this request predates the button itself).

I'm considering closing this request, what do you think @thamara and @araujoarthur0 ?

[2021-08-31 04:54] manisai216 commented on #12
ok @tupaschoal @thamara , If you feel its no longer useful, I will pick another issue and work on it. Thanks !!

[2021-08-31 04:57] manisai216 commented on #622
@thamara Can I work on this one ?

[2021-08-31 10:44] tupaschoal commented on #622
I've assigned it to you @manisai216

[2021-09-30 11:45] Dudu-CNU commented on #622
Hello, I am a student studying in South Korea.
I would like to challenge this issue, is there any chance?
My teammates are going to try it.

Our Organization : https://github.com/Open-Software-Training

[2021-09-30 13:10] hy38 opened #708 "Translate some texts in Korean, Spanish, Netherlands, German"
**Describe the current limitation**
There isn't much translations for below :
[code]

https://github.com/thamara/time-to-leave/blob/6b3624c451b095c18c639118b5d8cf368497d2f6/locales/en/translation.json#L144
https://github.com/thamara/time-to-leave/blob/6b3624c451b095c18c639118b5d8cf368497d2f6/locales/en/translation.json#L145

**Describe the proposed feature or enhancement**
So I would like to trans

[2021-09-30 23:10] tupaschoal commented on #622
Hello @Dudu-CNU ,

Yes, I've reassigned it to you, thanks!

[2021-09-30 23:12] tupaschoal commented on #708
Hello @hy38,

Feel free to translate the missing strings for languages you are fluent in. We'd rather not have machine translations, as those can be quite inaccurate for some languages.

[2021-10-01 02:09] #698 closed

[2021-10-01 02:17] thamara opened #709 "Use an SVG file for the icon in the correct color instead of using a filter in CSS"
The TTL icon in the application can be found in the `assets/timer.svg`. It's a black icon, and we transform it into a purple by using CSS filter:

[code]

The task in this issue is to:

- Replace the icon for a purple icon. There is one ready in ``website\src\images\resources\timer.svg`
- Remove the filter treatment

[2021-10-01 02:53] SubhamChoudhury commented on #709
Hi, I would like to work on this issue. Can you please assign it to me?

[2021-10-01 03:03] thamara commented on #709
Yeah! Sure!

[2021-10-01 03:33] thamara opened #710 "Update README pictures"
The pictures in the README files in the repository are out of date and also, they are hard coded.
The task in hand is to:

- [ ] Update the picture considering the newest version of TTL (you can use the one in the main branch) (Please fill with data so the "experience" is more real)
- [ ] Add the new images to `docs/` directory
- [ ] Update the main README, as well as the README-*.md to point to t

[2021-10-01 04:07] CLOEI commented on #710
![image](https://user-images.githubusercontent.com/57063107/135563639-2c068399-3102-4f2b-b4f8-8af80274f8f0.png)
Hello, i like to do it but it seems i found an issue i installed the newest build and it only show a blank screen

[2021-10-01 04:27] Archit0123 commented on #709
Hi! I would like to help out with this if its still open ?

[2021-10-01 04:36] thamara commented on #709
Hi @Archit0123, @SubhamChoudhury is already working on this.

[2021-10-01 04:44] thamara commented on #710
Hey @CLOEI, can you please try removing the file `%AppData%/Time to Leave/preferences.json`?

[2021-10-01 04:57] SubhamChoudhury commented on #709
Hi @thamara , can you please help me find which file has the `title-header-img` class in it? I have been searching for it quite a while now, but couldn't find it.

[2021-10-01 05:01] thamara commented on #709
Hi @SubhamChoudhury, the CSS definition is in `css\styles.css`. The declaration of divs using such class can be found in `js\classes\FlexibleDayCalendar.js` and `js\classes\FlexibleMonthCalendar.js` if you need those.

[2021-10-01 05:04] SubhamChoudhury commented on #709
Thank you so much, resolving the issue at the earliest!

[2021-10-01 05:05] thamara commented on #709
Take your time :)

[2021-10-01 05:51] SubhamChoudhury commented on #709
Hi, I have made a PR with the necessary changes, please let me know if any further changes are required.

[2021-10-01 05:59] CLOEI commented on #710
Hello, i just tried it, it still give me a blank page

[2021-10-01 06:02] thamara commented on #710
Hmm, that's strange. It's kind of (really) late now here, but I'll take a closer look at it on the weekend.

[2021-10-01 11:53] hy38 commented on #708
Cool!

We will grab this one :)

[2021-10-01 21:03] tupaschoal commented on #12
I don't think this is useful anymore, I guess it predates the punch button and is too much work for little improvement

[2021-10-01 21:03] #12 closed

[2021-10-01 21:05] tupaschoal commented on #145
Do you think this is useful @araujoarthur0 and @thamara ? I mean, there is an easy workaround which is just adding a new pair of entries with exactly the amount waived

[2021-10-01 21:07] tupaschoal commented on #420
Do you mean update the changelog workflow/bot? This sounds like a "good first issue"

[2021-10-02 05:04] thamara commented on #145
I think it's useful indeed, but I don't like the idea of a workaround. I think it would be more confusing than helpful. But I have a few ideas:

1. Days with partial waivers woudl span 2 rows, the first would be the usual 4+ fields for the the hours and the second one just some text that would read for example "Waiver: Some reason (4:00)". In this scenario we could think of having 2+ totals, one f

[2021-10-03 07:13] #709 closed

[2021-10-04 21:10] Minozzzi opened #718 "Change icon color when in background"
**Describe the current limitation**
When Linux systems have the dark theme, the icon is almost invisible when in the background

**Describe the proposed feature or enhancement**
Change icon color to a lighter shade of color when system theme is dark

**Additional context**
Add any other context about the problem here.

[2021-10-04 21:10] Minozzzi commented on #718
I would like to try to make this improvement if possible.

[2021-10-04 21:13] thamara commented on #718
Hi @Minozzzi, are you talking about the icon on the menu bar? (Can you share screenshots?)

[2021-10-04 21:23] Minozzzi commented on #718
Hey @thamara. Here is a screenshot of the problem.
![image](https://user-images.githubusercontent.com/61752597/135926750-36b0a723-3050-411a-99e8-6b08af9d4368.png)

[2021-10-04 21:27] thamara commented on #718
Thank you for confirming it.
I even have started working on something related, but this is stalled. So feel free to work on it.
I believe a food solution is to use the icon with the purple border, and with a white circle background (only within the clock).
I believe this solution will work for both light and dark themes and will fit within the established color scheme for TTL.

[2021-10-04 21:33] Minozzzi commented on #718
Is it possible that this issue will be accounted for hacktoberfest 2021?

[2021-10-04 21:41] thamara commented on #718
Absolutely. All issues in time to leave are valid for hacktoberfest as the repository itself has the hacktoberfest label. Some specific issues also have the label, bus this is only to get people who want to start contributing to find those easier issues by searching for the label in the issues.

[2021-10-04 23:39] tupaschoal commented on #145
They look nice, but they did give me a third idea, which is my workaround "officialized": we just add a non-editable pair when there is a partial waiver. Problem is just adding it in the right place or not allowing it to be deleted from the main window, and rather just the waiver one

[2021-10-04 23:55] araujoarthur0 commented on #145
I think I like Thamara's second one. So we don't need an exact time pair to attribute the waiver, and it is secretly included anyway.

[2021-10-05 00:33] thamara commented on #145
I like being more explicit about it to avoid confusion. Having a time field that is blocked still sounds like a bad workaround to me.

[2021-10-05 00:37] fikimaul opened #719 "Add missing translations for locale id"
Add translations for locale id
Relevant file: `locales\id\translation.json`

[code]

[2021-10-05 02:13] #719 closed

[2021-10-05 09:08] Dudu-CNU commented on #622
@tupaschoal
Sorry for my belated reply. Thank you so much!

[2021-10-05 09:15] QuentinPhilipp commented on #617
Hello ! Is this still open ? I can work on this

[2021-10-06 01:29] thamara commented on #718
You can use the icon in asserts/timer.svg, but it doesn't have the white backdrop on the clock.

[2021-10-06 03:16] thamara commented on #718
Thanks!

[2021-10-06 10:47] tupaschoal commented on #649
I'd expect something like running asynchronously or in another thread indeed, not sure if it's the actual best solution

[2021-10-06 23:45] Minozzzi commented on #718
No, but I can do this. As Thama said, this would be another general solution.

[2021-10-07 00:31] Minozzzi commented on #718
I can't simulate it on a white top bar but I played it on a white background on figma, I didn't think it was cool
![image](https://user-images.githubusercontent.com/61752597/136301949-9e91e28e-2762-434f-a6d4-5d5285acce9c.png)

[2021-10-07 00:38] tupaschoal commented on #718
Maybe we should make the clock handles purple too?
🤔

[2021-10-07 08:04] haeramkeem opened #727 "Add missing Traditional Chinese translation"
Hi @thamara!
I've found the missing traditional chinese translations linked below :

https://github.com/thamara/time-to-leave/blob/79f4c513fad2d1d32c002b0c27a8309e3a70bc76/locales/zh-TW/translation.json#L128
https://github.com/thamara/time-to-leave/blob/79f4c513fad2d1d32c002b0c27a8309e3a70bc76/locales/zh-TW/translation.json#L144
https://github.com/thamara/time-to-leave/blob/79f4c513fad2d1d32c002b0

[2021-10-07 09:38] kishorliv opened #728 "Buttons in the website get misplaced and dropdown does not work in smaller screens."
**Describe the issue**
In the [timetoleave.app](timetoleave.app) website, I found few issues when the screen gets smaller:
- Intro buttons (Source code and Download) do not align properly.
- The text inside the buttons do not align centrally.
- The dropdown menu does not seem to work and is nearly invisible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'timetoleave.app'
2. Resize t

[2021-10-08 10:47] #420 closed

[2021-10-08 11:00] tupaschoal opened #732 "Changelog update workflow should push to PR branch instead of main"
We have a [workflow](https://github.com/thamara/time-to-leave/blob/main/.github/workflows/ChangelogUpdater.yml) to update the changelog upon a comment in PRs matching a given message.

The comment looks like:
[code]

Upon triggered, it will commit on the `main` branch with the new changelog addition. This is not ideal as we technically update the changelog before actually merging the content (we c

[2021-10-08 21:50] #727 closed

[2021-10-09 10:43] BhumikaSaini commented on #732
Hi @tupaschoal,
Is this in-progress already? If not, I would like to work on this.

[2021-10-09 10:53] tupaschoal commented on #732
Assignee it to you;)!

[2021-10-12 23:46] tupaschoal commented on #728
@kishorliv though the issue seems somewhat concerning, I couldn't understand whether it prevented you from running the app or the website and going after the issue, can you add more details, please?

[2021-10-13 00:09] kishorliv commented on #728
@tupaschoal no the app runs fine. I started working on the issue yesterday so will probably send a PR by today.

[2021-10-14 03:25] tupaschoal commented on #622
Something is probably wrong on `js\classes\FlexibleMonthCalendar.js`'s `_getTableHeaderCode`. Maybe this file also needs to implement `_updateTableHeader`

[2021-10-14 05:12] thamara opened #744 "Add missing translations for locale Spanish (es)"
Add translations for locale es
Relevant file: `locales\es\translation.json`

[code]

[2021-10-14 05:13] thamara opened #745 "Add missing translations for locale Gujarati(gu)"
Add translations for locale gu
Relevant file: `locales\gu\translation.json`

[code]

[2021-10-14 05:13] thamara opened #746 "Add missing translations for locale Hindi(hi)"
Add translations for locale hi
Relevant file: `locales\hi\translation.json`

[code]

[2021-10-14 05:13] thamara opened #747 "Add missing translations for locale Japanese(ja)"
Add translations for locale ja
Relevant file: `locales\ja\translation.json`

[code]

[2021-10-14 05:14] thamara opened #748 "Add missing translations for locale Marathi(mr)"
Add translations for locale mr
Relevant file: `locales\mr\translation.json`

[code]

[2021-10-14 05:14] thamara opened #749 "Add missing translations for locale Polish(pl)"
Add translations for locale pl
Relevant file: `locales\pl\translation.json`

[code]

[2021-10-14 05:14] thamara opened #750 "Add missing translations for locale Russian(ru-RU)"
Add translations for locale ru-RU
Relevant file: `locales\ru-RU\translation.json`

[code]

[2021-10-14 05:15] thamara opened #751 "Add missing translations for locale Tamil(ta)"
Add translations for locale ta
Relevant file: `locales\ta\translation.json`

[code]

[2021-10-14 05:15] thamara opened #753 "Add missing translations for locale Turkish(tr-TR)"
Add translations for locale tr-TR
Relevant file: `locales\tr-TR\translation.json`

[code]

[2021-10-14 09:39] Sahana-YS commented on #749
@thamara could I please work on this issue?

[2021-10-14 10:31] #749 closed

[2021-10-14 10:38] #751 closed

[2021-10-14 11:21] PrateekBing commented on #744
I'm sorry I didn't see that someone was assigned to this issue. I submitted a PR before I saw.

[2021-10-14 11:54] #558 closed

[2021-10-14 12:13] #744 closed

[2021-10-14 12:39] thamara opened #771 "Remove dead code in date-to-string-util.js"
In file `js\date-to-string-util.js`, the function `getDayName` is defined, but never used in TTL.
Such functions queries the translated strings based on the following keys:

[code]

The task at hand is to remove this dead code from this file, and also the strings in each `translate/*/translations.json` files. That is, not only remove the dead code in `js\date-to-string-util.js`, but also remove th

[2021-10-14 12:44] thamara opened #772 "Add test for getCurrentDateTimeStr from js / date-aux.js"
In file `js\date-aux.js`, the function `getCurrentDateTimeStr` exists, but we don't have any test for it.
This task is to include tests for it. Such tests should be added to `__tests__\__main__\date-aux.js`.

Some ideas on how to test something that depends on the current date:
- Test the format of the output using regular expression (The format is `YYYY_MM_DD_HH_MM_SS`)
- Test that there are no s

[2021-10-14 12:53] thamara commented on #771
Sure! Thanks!
I'm assigning the issue to you.

[2021-10-14 13:01] Kesav890 commented on #772
i would like to give it a try

[2021-10-14 14:11] thamara commented on #771
Yes, please.

[2021-10-14 17:43] #771 closed

[2021-10-15 08:30] thamara commented on #10
After different tries, we keep hitting the issue of HTML's input time being tied to the OS.
In order to support this we need to migrate to another solution, maybe something like moment.js library.

[2021-10-15 08:33] #458 closed

[2021-10-15 08:39] thamara commented on #772
Thank you for letting us know. We keep coming with new beginner-friendly issues, so feel free to stop by and check what's available.
Thank you anyway!

[2021-10-15 17:45] adarivamsi opened #781 "Add missing translations for Catalàn (ca-CA)"
Add translations for locale Catalàn (ca-CA)
Relevant file: `locales\ca-CA\translation.json`

Please only translate into languages you are fluent on. :)

[code]

[2021-10-15 17:55] adarivamsi commented on #781
Hey @thamara could you add yourself as a reviewer. I'm not able to add you.
Add also can you add label "Hacktoberfest"

[2021-10-16 00:40] #781 closed

[2021-10-16 00:46] thamara commented on #781
Hey @adarivamsi, all PRs in TTL are automatically counted towards Hacktoberfest, even if the PR doesn't have the tag.

[2021-10-16 09:41] ri-tae-ka opened #783 "Update footer"
**Describe the proposed feature or enhancement**
I would like to work on the footer as currently the text is not properly aligned i'd like to fix it under hacktoberfest.

[2021-10-16 09:42] thamara commented on #783
Hey @ri-tae-ka, thanks for reporting this. Are you talking about the application or the website?
Can you share screenshots?

[2021-10-16 09:46] ri-tae-ka commented on #783
The website's footer

![Screenshot 2021-10-16 151541](https://user-images.githubusercontent.com/79984800/137582956-3e0b6d79-c099-43f0-b9d8-b63f7074bd65.jpg)

[2021-10-16 15:16] tupaschoal commented on #783
@ri-tae-ka we have #742 that is doing some changes on the website already, maybe what you're seeing is covered. From the screenshot you shared I didn't really get what is the alignment issue

[2021-10-16 18:15] BhumikaSaini commented on #497
Hi @thamara,
@susheelg1107 has done a wonderful job adding the translations!
However, some translations need to be corrected. For example, these are the ones that I can see right off the top (will check for more):
Current:
[code]
These should be:
[code]
Also, I see some instances where we are not truly translating the words but rather, just writing the English word in Hindi letters.
Examples that

[2021-10-16 19:23] #747 closed

[2021-10-17 03:55] thamara commented on #622
I was looking into a related issue and found the root cause for this issue. This might help the implementation of the fix.
`_updateTableHeader()` from `js\classes\BaseCalendar.js` is called when changing the language of the TTL. The problem is that all it's doing is changing the month/year field.
What is missing is for that to also call changes for updating the `.header-day` and `.header-day-total

[2021-10-17 04:37] thamara commented on #732
For the future: To test, reopen PRs #741 and #739

[2021-10-18 05:10] adarivamsi opened #788 "Add test for getMonthLength from js / date-aux.js"
**Describe the current limitation**
In file `js\date-aux.js`, the function `getMonthLength` exists, but we don't have any test for it.
This task is to include tests for it. Such tests should be added to `__tests__\__main__\date-aux.js`.

**Describe the proposed feature or enhancement**
This test checks the number of days in the month of that year.

[2021-10-19 15:18] thamara opened #792 "The holiday part of the Workday Waiver is broken"
On the Workday Waiver window, we have a tab for sourcing holidays based on the location. This was broken recently when we upgrade the bootstrap version to 5.1.

**How to reproduce:**
1. Click Menu -> Workday Waiver Manager
2. On the new window, click on "Holiday". Sees that nothing happens

**Expected behavior:**
Click on holiday should switch tabs.

As a starting point, we can check how to do the

[2021-10-19 15:20] AayushSaini101 commented on #792
Please assign

[2021-10-19 17:23] #788 closed

[2021-10-19 20:31] tupaschoal commented on #792
It has been assigned to you @AayushSaini101

[2021-10-19 20:39] dark-coder155 opened #795 "Want to add a bengali README.MD for the project"
I want to add bengai Readme.md for the project

[2021-10-20 01:56] Dudu-CNU commented on #622
@thamara Sorry for not leaving a reply. We stopped working for a while because it was a trial period. Maybe the deadline is a little tight? Thank you so much for always replying.

[2021-10-20 01:58] tupaschoal commented on #622
We don't set a deadline, per se, but activity is a bit higher during Hacktoberfest, that's why we ask sooner :)

[2021-10-20 03:03] Dudu-CNU commented on #622
@tupaschoal Oh, I'm really sorry if we're hurting you. We didn't know about Hacktoberfest. We decided to hold a meeting this Friday. Thank you so much for your concern. :)

[2021-10-20 03:29] Dudu-CNU commented on #622
haha Thank you 😂

[2021-10-20 05:41] BhumikaSaini commented on #497
Sure, will do. Thanks @thamara!

[2021-10-20 05:53] dark-coder155 commented on #795
i have done it .pls check @tupaschoal @dofbi @ramonh @tuxinaut

[2021-10-20 13:29] thamara commented on #795
Hey @dark-coder155! Thanks! We'll take a look at it soon.
Also, you don't need to mention everybody. Some of those you mention are contributors and not maintainers. :)

[2021-10-28 03:17] araujoarthur0 opened #802 "Centralize i18n handling in one class"
The idea is to centralize i18n handling in one class, and only offer the translation data to other users through either functions (for scripts in the main process) or IPC communication (renderer).

This will avoid every file to have its own instance of i18n and remove the i18n dependency from the renderer process. And this will, in turn, help with the decoupling of electron remote from the rendere

[2021-10-30 11:02] #718 closed

[2021-10-30 20:57] araujoarthur0 opened #806 "Allow ES6 import statements along with node require()"
**Describe the current limitation**
Allow ES6 import statements along with node require().
The renderer process is moving to be node-free, so we're using ES6 importing in it. The main process is still in node, and today it doesn't allow importing ES6 modules, so we're duplicating Utils code that could be used in both process.

**Describe the proposed feature or enhancement**
Using 'esm' module to

[2021-10-30 21:07] #802 closed

[2021-10-30 21:10] thamara commented on #622
Hey @Dudu-CNU, any update?

[2021-10-31 03:08] #795 closed

[2021-10-31 03:10] araujoarthur0 commented on #792
Clicking on the holiday is fixed, but going back to the first tab is still broken.

[2021-10-31 12:42] araujoarthur0 opened #808 "Adapt Workday Waiver window to an electron isolated environment"
**Describe the current limitation**
Pre-requisite for #646. In #646 we are trying to update electron to the newest version, but we're blocked because we're using electron remote, and that is deprecated in the newest versions.

The task is to adapt the Workday Waiver window to an electron isolated environment, like #786 did for the Preferences window.

[2021-11-01 23:44] araujoarthur0 opened #810 "Remove "SnoreToast" label from the notifications"
**Describe the current limitation**
The notifications are coming with a SnoreToast label on Windows. On the notifications tab they're also grouped under that name. They should instead have a Time to Leave label.

![image](https://user-images.githubusercontent.com/37311270/139756484-ca2883fb-0b87-40a3-b8ee-982b7008fa57.png)

Apparently we need to change some sort of AppId to fix that: https://githu

[2021-11-02 02:18] thamara opened #811 "Click on the notification should open TTL"
Clicking on the notification for "It's time to leave" should open the TTL app.

[2021-11-02 15:29] haeramkeem commented on #622
Sorry for late @thamara!
Our team has been busy so far, so the progress has been delayed a bit. But it will probably be finished within this week. :D

[2021-11-05 13:54] iamrichR commented on #810
There's more info on this problem here:  mikaelbr/node-notifier/issues/332

After a first glance at that thread, it seems like an "appID" property might need to be added to the notifier.notify object in /js/notification.js

However, the string used for that property apparently "must be exactly the same value that was registered during the installation of your app".  Not entirely sure what this mea

[2021-11-05 14:09] araujoarthur0 commented on #810
Thanks @iamrichR !

You can use the notification test:
Run "npm run test:jest notification" on the command line and it should trigger some.

[2021-11-12 08:55] chopinballadeno4 opened #814 "Text that does not change after language change"
**Describe the issue**
Changing the language in settings does not change the text entered through the button click.
The image below will help explain.

![KakaoTalk_20211109_232705207](https://user-images.githubusercontent.com/70872563/141439757-d96dab1f-e5a5-4e8e-b51b-e7744eb9c471.gif)

![image](https://user-images.githubusercontent.com/70872563/141439212-0f37196c-a370-40a3-8110-4c9d7a5437e2.png)

[2021-11-14 12:59] tupaschoal commented on #814
I think this might be hard to fix without changing the inputs using a third party library. Last I investigated, these inputs use the system configuration to set clock format (24h/12h), so I guess this also applies there.

[2021-11-15 04:06] chopinballadeno4 commented on #814
Thanks for the reply :) Would it be okay if I could try to solve this problem with my teammates?

[2021-11-15 10:41] tupaschoal commented on #814
Sure, I've assigned the issue to you :)

[2021-11-15 21:25] mayanhavoc commented on #792
Could I have this issue assigned?

[2021-11-15 21:35] tupaschoal commented on #792
Sure, just did it

[2021-11-15 22:07] mayanhavoc commented on #792
Thank you! I've submitted a pull request.

[2021-11-20 12:31] haeramkeem commented on #811
Hi! Would you mind if I'm asking you to assign it to me? Me and my teammate would be glad to work on it.

And by the way, I'm waiting for the review of the PR #813 I requested 15 days ago. It would be nice if you leave a comment about it. Thanks!

[2021-11-20 13:26] araujoarthur0 commented on #811
Sure, I've assigned it to you (and commented on the PR)

[2021-11-24 01:23] #622 closed

[2021-11-24 01:24] #806 closed

[2021-12-02 14:27] chopinballadeno4 commented on #814
Hello :) I have a problem in solving it, so can I try to solve it by adding data to the json file for each language in the locales file?

[2021-12-04 01:10] tupaschoal commented on #814
You can try that, but I don't think that will work, really. Would be happy to hear if you think otherwise.

[2021-12-04 18:24] yullidias opened #821 "Unlock Punch time on non-working days"
On non-working days punch time is blocked, for this I can't register time.

[2021-12-05 13:32] hy38 commented on #821
I think it is an intended behavior.
If you set the non-working day to working day, it would work.
You can change it at Preference.

[2021-12-05 15:41] haeramkeem commented on #811
While working on this issue, I've got an error `$ is not defined` in `js/notification.js`. I think using jquery in `notifyTimeToLeave()` causes this problem because `js/notification.js` runs in main process, not in renderer process. Have any idea how to fix this?

[2021-12-07 02:29] tupaschoal commented on #821
I'm thinking on how we would be able to allow this, because currently we use the working days to make the sum of how much time you owe or not. We probably would need a 2nd kind of waiver? Or a way to make specific days working days?

[2021-12-07 02:29] tupaschoal commented on #811
I have never faced this, any idea @araujoarthur0 ?

[2022-02-10 19:50] Emeka-Ugbanu-hub commented on #814
I would love to help with this

[2022-02-10 20:22] araujoarthur0 commented on #814
@chopinballadeno4 Are you still working on this or should we reassign?

[2022-02-10 20:59] Emeka-Ugbanu-hub commented on #814
If there no one working on this issue I would love to help

[2022-02-11 09:47] Emeka-Ugbanu-hub commented on #814
Ok Thanks I'll have a go at it

[2022-02-14 22:06] Emeka-Ugbanu-hub commented on #814
how do I reproduce this issue

[2022-02-14 22:24] thamara commented on #814
Looks like the issue shows when you have your computer time to display hours including am/pm, and then, chance a language to something like Chinese, add some entries on TTL, then chance the language back to English.
The information that is not being updated/translated is the AM/PM.

[2022-02-14 22:53] Emeka-Ugbanu-hub commented on #814
https://user-images.githubusercontent.com/65762678/153959960-7072c825-5f99-4c77-bcf3-d923956c5447.mp4

There is no translation at all when I try to replicate the issue. it just stays in English

[2022-02-14 22:58] thamara commented on #814
I think you did reproduced it. When you changed the language, the am/pm continued in English.
It may be getting the initial page language. To confirm that, please try changing the language to something not English (maybe something like Chinese just to make it clear) and add a few entries. Then close TTL and reopen.
When reopening check if the am/pm is in the language previously set

[2022-02-14 22:58] tupaschoal commented on #814
I think that's part of the bug, it stays in whichever language the app loads with, the first time it is - opened

[2022-02-14 23:00] Emeka-Ugbanu-hub commented on #814
oh so i need to change to the text i.e the numbers and the AM/PM to whatever the user picks

[2022-02-14 23:01] Emeka-Ugbanu-hub commented on #814
Ok

[2022-02-15 09:58] Emeka-Ugbanu-hub commented on #814
ok so I need to change to the text i.e the numbers and the AM/PM to whatever language the user picks

[2022-02-22 21:38] Emeka-Ugbanu-hub commented on #814
I just need some clarifications on what to do

[2022-02-22 23:25] tupaschoal commented on #814
Yes

[2022-02-22 23:32] Emeka-Ugbanu-hub commented on #814
ok thanks

[2022-02-28 13:48] Emeka-Ugbanu-hub commented on #814
For me, I don't think there is an issue here everything works fine the only text that doesn't change is the PM and AM which there is no other translation for and the current time which is OK

[2022-02-28 13:48] Emeka-Ugbanu-hub commented on #814
But you can explain to me so I can get it

[2022-02-28 19:43] Atomic-Germ commented on #811
This appears to already be correct on MacOS. @Thamara Are you using Windows?

[2022-02-28 20:06] Atomic-Germ opened #825 "Popper.js"
Currently, popper.js is listed in the dependencies. Looking through the code, however, it doesn't look like it's actually being used at any time. If we aren't actually using it, it's just bloat. I've made a PR #824

[2022-03-01 11:12] tupaschoal commented on #825
Having extra unused dependencies is for sure unwanted, but not really a bug

[2022-03-01 13:10] tupaschoal commented on #814
I mean, not having everything consistently on the same language, even if something small like AM/PM, is an issue itself.

[2022-03-01 13:36] Emeka-Ugbanu-hub commented on #814
is there any other language for AM/PM?

[2022-03-01 13:42] tupaschoal commented on #814
I think it gets it from the system?

[2022-03-01 13:45] thamara commented on #814
Maybe its something about the language defined in the html lang attribute?

[2022-03-01 20:05] Atomic-Germ commented on #825
True enough!

[2022-03-02 10:36] Emeka-Ugbanu-hub commented on #814
so what is the exact thing you wantme to work on

[2022-03-07 19:05] yullidias opened #827 "Show balance even though month ends on non-work day"
**Describe the current limitation**
If last day of month is a non-work day, balance is hidden. Example: Out, 2021

**Describe the proposed feature or enhancement**
It's important show balance every month to be more easily validate it with HR official system

[2022-03-07 23:47] tupaschoal commented on #814
Every text on the screen should be consistently on the same language. If the AM/PM changes when you change the language and reopen the app, then there probably is some way of refreshing/rebooting the app as soon as this change happens that will fix this issue

[2022-03-08 00:26] #792 closed

[2022-03-08 20:04] yullidias commented on #827
Hi! Please enable "Hide non-working days (MONTH VIEW)" in Edit > Preferences to reproduce.

[2022-03-09 14:04] makos commented on #827
Thank you, now I can reproduce it. I'd like to get assigned to this issue, I'll get working on it soon. :)

[2022-03-10 04:17] thamara opened #829 "Localization action is broken somehow"
In https://github.com/thamara/time-to-leave/pull/828 the Localization action is broken. This action is used to compare if new strings are added or any inconsistency on the localization files.

Run: https://github.com/thamara/time-to-leave/runs/5490690174?check_suite_focus=true

[2022-03-10 04:25] #827 closed

[2022-04-20 00:19] araujoarthur0 commented on #10
Hey @Madiena, feel free to tackle it :) Let me assign it to you.

[2022-04-20 02:52] thamara commented on #10
Hey @Madiena, just a heads-up, in the past, other people have tried to tackle this issue, and what we found out is that there's no way of doing such thing in vanilla html/javascript.
To do so, we need an external library, something like https://www.npmjs.com/package/timepicker.
Feel free to take a look, and suggest what you believe should be done. :)

[2022-04-22 15:02] Madiena commented on #10
Just to be clear: the only page that's affected by this issue would be the preferences page. Am I right?

[2022-04-28 23:39] tupaschoal commented on #10
The main window too, but it depends on your region configuration to show or not the AM/PM

[2022-05-23 19:27] jg100 commented on #814
AM/PM is an international standard, the alternative is military time.

[2022-07-31 20:16] #810 closed

[2022-09-25 15:25] TechWiz-3 opened #843 "Repo description"
The repo description and at the top of the README says

Is the `live` intentional or is meant to be `leave`?

[2022-09-26 00:39] tupaschoal commented on #843
It's intentional, it's kind of a pun "time to leave/exit the office so you can start to live/enjoy life"D

[2022-09-26 00:39] #843 closed

[2022-09-26 03:50] TechWiz-3 commented on #843
ohh i see 👌

[2022-09-29 08:11] Nishchal-Tiwari commented on #418
Repit is also a good option. It allows external domains for free and we can link GitHub repo to it.

[2022-10-01 15:07] PUNEET-EMM commented on #561
Can I pick this one?

[2022-10-01 16:37] tupaschoal commented on #561
Sure

[2022-10-04 02:10] #825 closed

[2022-10-05 00:48] TomerPacific opened #847 "Translate Time to Leave to Hebrew"
**Describe the current limitation**
Add a translation in Hebrew for Time To Leave

**Describe the proposed feature or enhancement**
Add a translation in Hebrew for Time To Leave

**Additional context**
References #475

[2022-10-07 13:06] wonkyung opened #848 "Translate Time To Leave to Swedish sv_SE"
Hi @thamara
I would like to help with  translation of  time-to-leave to Swedish.
I live in Sweden (the last 40 years or so) so I believe I'm fluent in Swedish and hope I can contribute!
Thanks

[2022-10-08 01:42] tupaschoal commented on #848
Sure @wonkyung !

[2022-10-08 05:34] TomerPacific commented on #475
Hi @thamara , just made a PR to translate TTL to Hebrew. Can you check it out?

[2022-10-11 23:33] LouisHLAV opened #853 "Entry removal button does nothing"
**Describe the issue**
Clicking the "minus" button on any entry does not remove it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to either month view or day view.
2. Add an entry
3. Click the "minus" button
4. See error

**Expected behavior**
Entry is removed

**Environment**
[code]
- OS:  Manjaro Linux x86_64
[code]
- TTL version: main

**Screenshots**
![Screenshot_20221011_202128](h

[2022-10-12 00:19] #853 closed

[2022-10-12 02:14] LouisHLAV opened #855 "Inconsistent behavior when removing empty entries"
**Describe the issue**
Removing empty entries in Day View triggers an confirmation dialog, while in Month View it does not.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Month View
2. Click on the "plus" symbol to create an empty entry (optional, if you already have an empty entry)
3. Click on the "minus" symbol
4. Observe the removal without any dialog
5. Switch to Day View
6. Repe

[2022-10-12 03:03] #855 closed

[2022-10-12 11:58] #847 closed

[2022-10-15 12:44] #848 closed

[2022-10-15 20:44] araujoarthur0 opened #858 "Missing Month Name in Month View"
**Describe the issue**
The Month Name is missing in Month View.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app in month view

![image](https://user-images.githubusercontent.com/37311270/196006792-fcd79d8b-3d72-40e5-aa67-18e962863004.png)

**Expected behavior**
The month name should be visible in the header between the arrows.

**Environment**

Version: 2.0.2-dev
Electron: 11.5

[2022-10-15 21:07] araujoarthur0 opened #860 "Punch Button should not have cursor: pointer when disabled"
**Describe the current limitation**
Punch Button should not have cursor: pointer when disabled. This is not in-line with the expectation of disabled buttons, nor with other disabled buttons in the UX like the - in Month View. Upon hovering the disabled button it should not change the cursor.
Happens both in Month and Day view.

![cursor](https://user-images.githubusercontent.com/37311270/196007593

[2022-10-15 21:15] araujoarthur0 opened #861 ""Time to Leave" in window title is unexpectedly translated in 3 languages"
**Describe the issue**
Differently from other languages, in Mineirês, Gujarati and Hindi the "Time to Leave" text is translated in the title of different dialogs, like Preferences and Waiver Manager. Is this expected?

Mineirês:
![image](https://user-images.githubusercontent.com/37311270/196007649-13b10418-dbcd-4071-be38-802a9c137983.png)

Hindi:
![image](https://user-images.githubusercontent.com/

[2022-10-15 21:16] araujoarthur0 commented on #861
What do you think @thamara and @tupaschoal ?

[2022-10-15 21:20] araujoarthur0 opened #862 "Hindi preferences window has broken text"
**Describe the issue**
If the Hindi language is selected, the preferences window is breaking around the translated text for Tuesday.

![image](https://user-images.githubusercontent.com/37311270/196007800-085a2f0f-1916-4097-ae25-766acd7e4994.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Preferences'
2. Change language to 'हिंदी' (Hindi)
3. See the text broken.

**Expected behav

[2022-10-15 21:24] araujoarthur0 opened #863 "Language ordering in preferences is not alphabetical by language code"
**Describe the issue**
The order of languages in preferences has "hi" and "gu" codes swapped, if we're expecting these to be sorted alphabetically.

**Environment**

Version: 2.0.2-dev
Electron: 11.5.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
OS: Windows_NT x64 10.0.22621

**Screenshots**
![image](https://user-images.githubusercontent.com/37311270/196008062-afdb5939-1834-4a32-9f3b-8b4b8df5434c.png)

[2022-10-15 21:44] araujoarthur0 opened #865 "Unhandled promise rejection in terminal"
**Describe the issue**
I'm not sure when, but when using npm start to develop the tool, it is randomly throwing an unhandled promise rejection in the terminal.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Use 'npm start'
2. Watch the terminal as you use the tool.

**Environment**

Version: 2.0.2-dev
Electron: 11.5.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
OS: Windows_NT x64 10.0.2

[2022-10-15 21:50] araujoarthur0 commented on #865
Seems like the notifications are broken.
This is triggered by a setInterval in esm-main.js. Probably broke when I started the electron migration.

[2022-10-15 21:53] araujoarthur0 opened #866 ""Minutes between notifications" preference is not saving"
**Describe the issue**
"Minutes between notifications" preference is not saving. The value goes back to 5 after every time we close the window.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Preferences'
2. Change the value of 'Minutes between notifications'
3. Close the window
4. Open again and see the value went back to 5

**Expected behavior**
The value should be saved.

**Enviro

[2022-10-15 22:04] araujoarthur0 opened #867 "Add a "Debugging" section to the Development guide"
We should have a "Debugging" section in the development guide, mentioning how to debug the renderer (chrome dev tools) and the main process (electron debugger).
This could help future contributors.

[2022-10-15 22:05] araujoarthur0 commented on #867
Reference: https://www.electronjs.org/docs/latest/tutorial/debugging-main-process

[2022-10-15 22:41] araujoarthur0 opened #868 "Improve user-preferences test"
**Describe the current limitation**
The jest tests for user-preferences.js at `__tests__\__main__\user-preferences.js` today is not comprehensive with all the possible preferences. We should add new tests f`or each key available in the window. Check the file to see how we already test a few of the keys: default value -> change value and save -> check that save worked or failed as expected.

[2022-10-15 22:52] tupaschoal commented on #861
I think later we defined it shouldn't, as it is "our brand". I would revert it in all but mineirês, given it is a joke language and consistency doesn't really matter.

[2022-10-15 22:55] #860 closed

[2022-10-15 23:06] tupaschoal commented on #858
I'm surprised this broke and we didn't notice

[2022-10-15 23:20] araujoarthur0 commented on #858
@tupaschoal me too, for a whole year apparently ahhaha But I confess I haven't used the dev version in a while

[2022-10-15 23:21] thamara commented on #858
As this was a regression during the development, I'll refrain from making a release note on it.
Thanks for catching and fixing it Arthur!

[2022-10-15 23:21] #858 closed

[2022-10-15 23:35] #866 closed

[2022-10-16 03:05] thamara commented on #561
@PUNEET-EMM were you able to reproduce this issue? We could not recently so I want to check on it to see if it's still a bug or not.

[2022-10-16 03:10] thamara commented on #418
Thank you all for the suggestions. Ultimately, I strongly believe that a live demo is not worth it at this moment. We have invested in a website that captures the essence of the application, as well as a readme full of pictures that allows people to have a pretty good idea on what the application is at a glance.
So, as for now, I'll be dropping this issue.

[2022-10-16 03:10] #418 closed

[2022-10-16 03:17] thamara commented on #814
The issues was related to AM/PM settings, which is actually defined by the system and as mentioned by @jg100, an international standard. Dropping issue.

[2022-10-16 03:17] #814 closed

[2022-10-16 04:41] thamara commented on #861
I agree with Tulio. Mineires is really just an easter egg, but other languages should not translate Time to Leave.
We should look into removing this string from the translation list and hard code it into the app.

[2022-10-16 19:39] #862 closed

[2022-10-17 00:10] thamara commented on #576
Reporting will be tracked in https://github.com/thamara/time-to-leave/issues/196.

[2022-10-17 00:10] #576 closed

[2022-10-17 00:12] thamara commented on #732
Droping this for now. Although not ideal, dealing with adding commits to others PR is quite complicated. :(

[2022-10-17 00:12] #732 closed

[2022-10-17 00:22] thamara commented on #632
This slowdown is caused by electron reloader.
If you remove the part that requires the electron-reloader from esm-main.js, it should load significantly fast.
I don't really understand why this happens, but I think the gain is still worth it.
Closing this as it's "expected".

[2022-10-17 00:22] #632 closed

[2022-10-17 04:07] CalArcher commented on #863
Can you assign this to me?

[2022-10-20 12:07] araujoarthur0 opened #877 "Dialogs open in wrong monitor in multi-monitor configuration"
**Describe the issue**
Might be a Windows 11 thing or a stable version thing, as I haven't seen this before, but both the Preferences dialog and the Waiver Manager dialog are always opening centered in the main monitor instead of the secondary monitor, no matter where the main TTL window is.

**To Reproduce**
Steps to reproduce the behavior:

1. Open TTL
2. Move it to a secondary display
3. Click

[2022-10-20 12:09] araujoarthur0 opened #878 "Preferences window opens in white mode even when system default is dark"
**Describe the issue**
Might be a Windows 11 thing or a stable version thing, as I haven't seen this before, but the Preferences dialog is always opening in White mode when the theme is set to "System Default", even if the Windows theme is Dark.
The Waiver manager is opening in dark, however.

**To Reproduce**
Steps to reproduce the behavior:

1. Change your Windows to Dark Mode
2. Open TTL
4. Cli

[2022-10-20 22:10] tanyaleepr commented on #475
Hi. I am interested to translate into Spanish. Can I work on it? Thanks.

[2022-10-21 12:39] araujoarthur0 commented on #475
Hi @tanyaleepr! Please open an issue and then we can assign it to you.

[2022-10-21 23:02] ochan12 commented on #868
Hey! I wanted to do this but I'm running into issues when running `npm run test:jest` looks like the babel traspiling is not being correctly done. I managed to run it using `babel-jest` instead of `@babel/plugin-transform-modules-commonjs`. Am I missing some configuration?

On RENDERER tests:
[code]

On MAIN tests
[code]

[2022-10-21 23:21] araujoarthur0 commented on #868
Hi @ochan12, did you install all dependencies using the `npm ci; npm install` commands from https://github.com/thamara/time-to-leave/blob/main/DEVELOPMENT.md?

[2022-10-21 23:36] ochan12 commented on #868
Yes I did!
npm ci
[code]

npm install
[code]

[2022-10-21 23:42] araujoarthur0 commented on #868
Could you also check the node `node -v` and npm `npm -v` versions?
I recently installed the latest on a new machine with Windows 11 and was able to get it working with just the ci + install. Are you on Windows?

[2022-10-21 23:44] ochan12 commented on #868
Nope MacOS.
[code]
[code]
I also tried with newer versions, but same result

[2022-10-21 23:50] araujoarthur0 commented on #868
Something that sometimes helps for me is to remove the node_modules folder and run ci + install from scratch.
Also, if you run just the preferences tests `npm run test:jest preferences`, does it work?

[2022-10-21 23:53] ochan12 commented on #868
Which node version are you working with?

Nope, same result after `npm run test:jest preferences`

[2022-10-21 23:54] araujoarthur0 commented on #868
Mine are 8.19.2 npm and 18.10.0 node.

[2022-10-21 23:55] araujoarthur0 commented on #868
@thamara has done development on a Mac, maybe she could help.

[2022-10-22 00:03] ochan12 commented on #868
It works if I
`npm install --dev babel-jest @babel/core @babel/preset-env`

remove the babel config from `package.json` and create `babel.config.js` with:
[code]
But I don't think is something you wanna add

[2022-10-22 00:13] araujoarthur0 commented on #868
If we don't find the cause, you could potentially use this custom configuration to develop the tests, but only commit the test changes and use the pull request test runs to confirm everything is fine.

[2022-10-22 03:37] thamara commented on #877
It's not W11 specific. I have seen this same behavior in W10 too.

[2022-10-22 03:43] thamara commented on #475
@tanyaleepr , TTL is already translated to 'es'. But I know that Spanish can be quite different around the world. So please, check if by any chance the 'es' supported is already in line with your Spanish, and if not, feel free to open an issue and translate it to the specific locale (for example, es-ar for Argentina, es-es for Spain, etc).

[2022-10-22 03:55] thamara commented on #868
Hmm, I haven't done any programming in mac for a while now, but the CI we have has been able to run fine on macos, so it's looking like it may be something from your env.
Can you try instead of running `npm ci`, try `npm install`? I saw someone with some issues with `npm ci`, but `npm install` would work fine.
But as Arthur said above, you can develop this way, but only commit the parts related to

[2022-10-22 12:03] ochan12 commented on #868
@thamara  No luck on running just npm install, so I just kept configuration locally. Thanks!

[2022-10-22 12:51] ochan12 commented on #878
Same behaviour on MacOS

[2022-10-22 12:53] araujoarthur0 commented on #878
Thanks for checking!

[2022-10-24 21:53] araujoarthur0 opened #883 "Find an alternative to SnoreToast for notifications"
Time To Leave notifications today all come with the SnoreToast banner in Windows. This doesn't look the best as it could: having the actual Time to Leave title for the notification. Is there an alternative package to help us with notifications?

![image](https://user-images.githubusercontent.com/37311270/197636789-6d98bf86-faf3-4f96-9e74-16697cfd2e81.png)

[2022-10-25 00:07] araujoarthur0 opened #884 "Date picker icon *slightly* cut in day view"
**Describe the issue**
The date picker icon is *very slightly* cut in day view.

Check the right side of it. I believe the margin is a bit off.

![image](https://user-images.githubusercontent.com/37311270/197652816-416b453f-12cc-49de-aebf-9d8136aca4f8.png)

Version: 2.0.2-dev
Electron: 11.5.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
OS: Windows_NT x64 10.0.22621

[2022-10-25 00:34] #884 closed

[2022-10-25 03:03] araujoarthur0 opened #886 "Running jest without --verbose"
I just found out we always run jest with --verbose, which seems to eat up any console.log() that we might add while trying to debug tests (that took me almost an hour).
Do we have a strong reason for that? I took it out and didn't see much difference in the common logs.

[2022-10-25 10:07] tupaschoal commented on #886
I don't remember any, I'd say go for it.

[2022-10-25 22:15] thamara opened #888 "On macOS, icon on tray is huge!"
As per the screenshot below, the icon for TTL on the tray is huge!
It probably got broken in #881.
![Screen Shot 2022-10-25 at 19 12 32](https://user-images.githubusercontent.com/846063/197892238-0015c0d7-d966-47ef-889e-ad31cca94282.png)

[2022-10-25 22:16] tupaschoal commented on #888
I found it awesome uhahuahuauhauhahuahu

[2022-10-25 22:17] thamara commented on #888
Although not the goal, I must say that I found the whole looks very edge and modern hahahha

[2022-10-26 00:09] araujoarthur0 opened #889 "Adapt Calendar window to an electron isolated environment"
**Describe the current limitation**
Pre-requisite for #646. In #646 we are trying to update electron to the newest version, but we're blocked because we're using electron remote, and that is deprecated in the newest versions.

The task is to adapt the Calendar window to an electron isolated environment, like #786 did for the Preferences window.

[2022-10-26 01:15] araujoarthur0 opened #890 "Removing entry pair in day view show redraw the balance of the day if entries are all complete"
**Describe the issue**
In day view, when removing an entry pair, if there are enough entries filled to trigger a balance of the day, it should show up instead of needing a refresh.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Day View'
2. Fill up 4 entries
3. See the balance of the day
4. Punch to add a new entry
5. See the balance of the day disappear
6. Remove the new entry pair

[2022-10-26 01:16] araujoarthur0 commented on #890
The fix should be fairly simple, to call `calendar._updateLeaveBy();` on the action that is triggered when removing entries. Would you like to try, @LouisHLAV?

[2022-10-26 01:23] araujoarthur0 opened #891 "Feature to reset preferences"
Just like we have a menu button to clear the database, I wish we had a way to reset the preferences to the default value through the UI.
Maybe on the preferences page, or even a menu button.

[2022-10-26 11:19] araujoarthur0 commented on #890
Cool!

Also, I guess it makes sense. In month view I believe we always update them when a new time is punched. Take month view as the golden one.

[2022-10-26 17:09] araujoarthur0 opened #892 "Time to Leave .exe windows installation"
When installing the latest time to leave .exe file in Windows 11, the start menu entry is a little weird:

![image](https://user-images.githubusercontent.com/37311270/198091665-686ff15b-f431-4884-8815-c1ab579323d6.png)

I expected the full name over there.

[2022-10-27 03:24] #890 closed

[2022-10-29 07:02] Harmonygrams commented on #888
I can work on it.

[2022-10-29 15:35] araujoarthur0 commented on #888
Thanks @Harmonygrams. I've assigned it to you.

[2022-10-30 02:32] Harmonygrams commented on #888
Thanks

[2022-10-30 07:36] Harmonygrams commented on #888
I've fixed it.

[2022-10-30 10:38] #868 closed

[2022-10-30 10:43] araujoarthur0 commented on #868
Thanks @ochan12 😁

[2022-11-02 18:26] sisir-umich commented on #878
Hi, me and @show981111 are CS students and we're looking to contribute to an open-source project - could we have this issue assigned to us? We don't have much experience with open-source projects, but we're hoping to pick up some skills with these kinds of issues

[2022-11-02 18:32] araujoarthur0 commented on #878
Sure, thanks for offering the contribution. I've assigned it to you. Feel free to ask questions.

[2022-11-02 18:33] sisir-umich commented on #878
Thank you - could you add @show981111 as well (we're working together on the assignment)

[2022-11-02 18:36] araujoarthur0 commented on #878
It's not appearing as assignable here, I think he has to comment as well to show up in the interface.

[2022-11-02 18:38] sisir-umich commented on #878
Ah sorry, just asked him to comment as well

[2022-11-02 18:38] show981111 commented on #878
Hello, can you assign me now? Let me know if you need anything else.

[2022-11-02 18:53] araujoarthur0 commented on #878
Now it worked :)

[2022-11-02 19:16] ochan12 commented on #863
Hey I can do this!

[2022-11-02 19:23] araujoarthur0 commented on #863
It's assigned :)

[2022-11-02 19:25] ochan12 commented on #863
I can create a test to make sure this doesn't happen again, I'm not completely sure where I should put it

[2022-11-02 19:29] araujoarthur0 commented on #863
Maybe in the tests/renderer/preferences test? Since it's related to that page/file in the renderer process.

[2022-11-02 23:05] ochan12 opened #896 "Fallback language es?"
**Describe the proposed feature or enhancement**
Even though I'm flattered 🇦🇷  that fallback language is Spanish for i18n, I'm not completely sure this is desired behaviour since TTL's name is in english and it looks that the base language is english. In that case the fallback language should change to `en`.

<img width="264" alt="image" src="https://user-images.githubusercontent.com/20117588/1996

[2022-11-04 13:00] ochan12 commented on #829
I think is because the action is configured to run on `pull_request` so secrets are not sent to forked repos, as said [here](https://docs.github.com/en/actions/security-guides/encrypted-secrets#using-encrypted-secrets-in-a-workflow). On PRs coming from own repo seems to work.

It could be changed to [pull_request_target](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workfl

[2022-11-07 07:34] SarahRemus commented on #877
I will try to solve this problem.

[2022-11-07 20:14] sisir-umich commented on #891
Hi @araujoarthur0 can you assign this to me? If it isn't a high-priority task, I can work on this through November with my partner.

[2022-11-07 21:08] araujoarthur0 commented on #891
Sure, thanks.

[2022-11-08 16:13] SarahRemus commented on #861
I would like to work on this issue! Should I simply correct the translation in these cases, or hard code the "time to leave" string and remove it from all translations?

[2022-11-08 21:14] show981111 commented on #891
Hi, @araujoarthur0 can you assign this to me too? Sisir and I are planning to work together.

[2022-11-08 21:48] sisir-umich commented on #878
Hi @araujoarthur0 I think this issue isn't there any more. @show981111 and I tried reproducing it on MacOS and Windows and it looks like the preferences window matches the system default even when it's dark.

[2022-11-08 21:53] show981111 commented on #892
Can you assign this to me? @araujoarthur0  also, Can you tell me the exact name you are expecting?

[2022-11-08 22:52] araujoarthur0 commented on #878
Oh, I wonder if it's only present in the last release but fixed in the main branch. Were you able to reproduce it with the release?

[2022-11-08 22:52] araujoarthur0 commented on #891
Done!

[2022-11-08 23:43] sisir-umich commented on #878
Oh I didn't try it in the release yet (I'll try it tomorrow) - running the app with the code in main doesn't have the issue though. If the problem isn't in main, would it still be considered an open issue?

[2022-11-09 02:27] show981111 commented on #892
Is this a new issue from the latest release? or does the previous release have the same naming?

[2022-11-09 10:13] araujoarthur0 commented on #892
This is the first time I noticed this, it can even be specific to Windows 11

[2022-11-09 10:53] tupaschoal commented on #829
That's a good point, maybe we should try that @thamara

[2022-11-09 11:02] tupaschoal commented on #861
I think just reverting in the translations is a good first step. A follow-up PR could take then away from the translations and hardcode

[2022-11-09 11:38] tupaschoal commented on #878
No, if it's not on main we can close it.

[2022-11-11 19:16] #861 closed

[2022-11-11 19:21] #863 closed

[2022-11-15 10:53] ochan12 commented on #883
I'd like to work on this one, any reason why not to use the [Notification](https://www.electronjs.org/docs/latest/api/notification) module ?

[2022-11-15 11:54] araujoarthur0 commented on #883
I'm not sure as I wasn't here back then. Do you know @tupaschoal or @thamara?

[2022-11-15 23:24] tupaschoal commented on #883
Nope, maybe it isn't available on the electron version we are using (or wasn't at the time)?

[2022-11-17 03:00] tupaschoal opened #905 "Broken CI steps for website deployment"
The CI for the website has started breaking on deployment with the following:
[code]

I guess only you can update it @thamara ?

[2022-11-17 03:03] #877 closed

[2022-11-17 17:49] drcor opened #907 "Translate Time to Leave to pt/pt-PT"
There are currently no translations into Portuguese from Portugal
I would like to add it

Thanks

[2022-11-17 17:49] drcor commented on #475
Hello I want to help translating to pt-PT (Portuguese from Portugal)
I have opened an issue for it #907

[2022-11-17 19:55] tupaschoal commented on #907
Ok, let us know if you have questions

[2022-11-17 21:42] sisir-umich commented on #891
Hi @araujoarthur0 - I have a quick question.

I implemented the reset preferences button now, and it successfully changes the preferences after closing the preferences window (the main app has the changes immediately). However, the changes in the UI and sliders don't render in the preferences window itself, but they appear once the preferences window is reloaded.

Should the preferences window als

[2022-11-17 23:46] drcor commented on #907
Thanks :)
I have submitted the #908 PR with the translation

[2022-11-19 11:54] tupaschoal commented on #891
I'd say it should reflect the changes immediately, but if that is too hard, maybe we pop-up that "preferences have been reset" and then upon closing the pop-up the preferences window closes? Then the user upon reopening would see them on their default value. It's not the best solution, but it is a stopgap if it's too difficult to update it live.

[2022-11-19 15:44] sisir-umich commented on #891
Thanks for the suggestion! I'll try to implement it to show the immediate changes, and then I'll look into the second option.

[2022-11-20 11:58] #907 closed

[2022-11-22 08:02] SarahRemus opened #912 "Remove Time to Leave string from translations and hard-code instead"
**Describe the current limitation**
At the moment, the Time to Leave string is part of the translations. In particular, it concerns these cases:
- Preferences - title
- WorkdayWaiver - title
- Menu - should-migrate-to-flexible
- e.g.: `"title": "Time to Leave - Preferences"`

This can cause potential errors in the translation when the translator is translating the time-to-leave string as well (whi

[2022-11-23 22:06] araujoarthur0 opened #913 "Online Sync feature between devices"
It would be awesome to have a feature to sync the database from more than one device with TTL installed.
For example, travel with a notebook and load up the data from your home desktop, punch your time, then arrive back home and have the new data synched back to your desktop.
We could do this through some web service integration, like Google Drive, as I have seen some Android Apps do, or Dropbox.

[2022-11-24 12:25] tupaschoal commented on #913
Would be great, and you mean the user itself would choose his cloud environment to save it, so we wouldn't have to maintain ourselves, right?

[2022-11-24 12:28] araujoarthur0 commented on #913
Yes! We could add one service, and open for Hacktoberfest for new services hauahah

[2022-11-24 22:17] ochan12 commented on #865
Maybe you could assign this to me so no one else work on it?

[2022-11-24 22:17] ochan12 commented on #883
Maybe you could assign this to me so no one else work on it?

[2022-11-24 22:17] ochan12 commented on #811
Maybe you could assign this to me so no one else work on it?

[2022-11-24 22:28] araujoarthur0 commented on #912
Hi @SarahRemus, thanks! I assigned it to you.
Because of the Mineirês being able to translate the name, I guess this becomes harder than simply keeping the hardcoded string in the .js file.
Could we maybe have the hardcoded string by the language not being the PT-mi?

[2022-11-28 08:50] SarahRemus commented on #912
Is it a hard requirement for you that in Mineirês the "Time to Leave" string is translated? As far as I understood it in #861, it was just not so important that the translation is correct here, "given it is a joke language and consistency doesn't really matter."

I'm asking because it makes solving this issue a lot more complicated and the solution less "clean".

Also, the main title and the main

[2022-11-28 16:14] SarahRemus commented on #913
I would like to give this a try. I would do some research on how this could be implemented, then propose some ideas to you, and then we could decide how to proceed?
I will try to work with Google Drive first

@araujoarthur0 could you specify the sources where you have seen this feature before?

[2022-11-28 16:27] araujoarthur0 commented on #913
That would be awesome 🎉
I've seen this in WhatsApp and Tachiyomi apps, which backup to Google drive.
It probably only needs read/write access to a service and then we always use a same folder. It could possibly be good to encrypt/compress the file to avoid unintentional tampering.