[2019-09-16 22:46] thamara opened #5 "Improve README"

[2019-09-16 23:08] #5 closed

[2019-09-17 02:46] tupaschoal opened #6 "Blank window when opening for the first time"
I don't know why, but when I opened it for the first time, the whole screen was blank and it only appeared after I cleared the database once.
![broken](https://user-images.githubusercontent.com/6443427/65043672-be3ffc00-d931-11e9-8619-1c8566ca9c43.png)

[2019-09-17 02:50] tupaschoal opened #7 "App shouldn't allow a time earlier than the previous one"
If you arrive at 08:00AM, then lunch can't be earlier than that. Same applies for all other registries.
![time](https://user-images.githubusercontent.com/6443427/65007518-cf125280-d8dc-11e9-913d-3f03678af166.png)

[2019-09-17 02:52] thamara commented on #6
The issue happens because the preferences files was not created yet.

`fs.js:125 Uncaught Error: ENOENT: no such file or directory, open '/Users/thamaraandrade/Library/Application Support/Time to Leave/preferences.json'`

[2019-09-17 02:52] tupaschoal opened #8 "Allow non-working days to be hidden"
Currently you can go on preferences and select which days to be considered "working days". I'd say it would be nice to have a compact view where the "non-working" days would be hidden.

[2019-09-17 02:54] tupaschoal opened #9 "Deleting an entry does not clear out total time"
I typed 8:13AM as day end, but then erased it. Day total still kept the old sum
![time2](https://user-images.githubusercontent.com/6443427/65007656-36c89d80-d8dd-11e9-9881-f2e8b3c85ad1.png)

[2019-09-17 02:56] tupaschoal opened #10 "Allow configuration of 12/24 hour day"
Some people prefer one format over another, so it would be good to allow them to choose it

[2019-09-17 02:58] tupaschoal opened #11 "Source holidays from user's location"
It would be great if the users could type in their locations and the calendar would adapt accordingly including holidays.
There are several ways to make this more complex

- Start with just a country
- Move to city-based
- Make app read approximate location, instead of having user type it

[2019-09-17 03:00] tupaschoal opened #12 "Tab should auto complete as '00'"
When typing a time, whenever user hits 'tab', the current field should be auto-filled with 0s. I'd do it like:
'--' + tab -> '00'
'3' + tab -> '03'
'--' + tab -> AM/PM (always AM or PM if previous is already PM)

[2019-09-17 03:03] tupaschoal opened #13 "App should open with "fit to window" resolution"
App should open on a size that already fits the whole month, if the screen has enough resolution for such,

[2019-09-17 03:08] tupaschoal opened #14 "List node.js as dependency on readme"
Seems kind of obvious, but I guess it would be nice to list Node.js as a dependency, so illiterate people can know how to start getting `npm`

[2019-09-17 03:16] tupaschoal opened #15 "Allow user to choose themes"
Current app is black on white, but maybe some people prefer the other way around?
I do!

In the future you could also allow it to be fully customisable.

[2019-09-17 03:45] tupaschoal opened #16 "Allow "minimize to tray""
It should be possible to configure, on the settings, to minimize to tray, as this is an app that will be open, at most, 4 times a day.

[2019-09-17 03:52] tupaschoal opened #17 "npm run test is broken on windows"
Tried running the `npm run test` command and got the following:
![broken](https://user-images.githubusercontent.com/6443427/65010098-29afac80-d8e5-11e9-91f3-dc1aa6b69770.png)

Log as attached
[2019-09-17T03_47_49_320Z-debug.log](https://github.com/thamara/time-to-leave/files/3619187/2019-09-17T03_47_49_320Z-debug.log)

[2019-09-17 12:59] tupaschoal commented on #6
Added screenshot

[2019-09-17 12:59] tupaschoal opened #18 "Icon not working on released windows kit"
When using the release (not compiling it locally), the icon doesn't work
![icon](https://user-images.githubusercontent.com/6443427/65043701-d0ba3580-d931-11e9-9f1c-5172a3e73574.png)

[2019-09-17 13:00] tupaschoal opened #19 "Add button to punch in"
There should be a "punch in" button somewhere, so that it can record the current time as the next entry in whatever field is next on the current day, easing the job of typing everything.

[2019-09-18 02:11] #6 closed

[2019-09-18 05:13] thamara commented on #7
![2019-09-18 02 12 11](https://user-images.githubusercontent.com/846063/65113496-cb083280-d9b9-11e9-9d5a-b4fd97110a8a.gif)

Now, when a input is invalid (earlier than a previous one), the line is is underlined with a red line and the total fields are updated.

[2019-09-18 05:15] #7 closed

[2019-09-18 05:22] #9 closed

[2019-09-18 05:24] thamara commented on #9
![2019-09-18 02 22 32](https://user-images.githubusercontent.com/846063/65113897-41f1fb00-d9bb-11e9-9d6b-b536c71b4c86.gif)

Now when deleting an input, it will have clear the the day's totals.

[2019-09-18 23:36] #18 closed

[2019-09-19 02:31] thamara commented on #19
![2019-09-18 23 29 01](https://user-images.githubusercontent.com/846063/65208758-60fc9580-da6c-11e9-8256-870dfdb88cfe.gif)

Added buttons to punch current time.

[2019-09-19 02:39] tupaschoal commented on #19
I think one button for each time adds too much clutter, don't you?
I was thinking about a floating button like you find on Android or something similar, a single button, and it would deduce where to fill based on the current day and the last filled day

[2019-09-19 02:47] #14 closed

[2019-09-19 03:10] thamara commented on #16
![2019-09-19 00 05 17](https://user-images.githubusercontent.com/846063/65210389-67414080-da71-11e9-802a-3c55c164ac1f.gif)

On MacOS the minimize to tray is working. Pending validation on Windows.

[2019-09-19 03:23] tupaschoal commented on #16
It does work, but then double clicking doesn't open it back, I have to right click and click "Show App"

[2019-09-19 03:24] tupaschoal commented on #18
Actually the icon is now broken for my locally compiled build ahhahaha

[2019-09-19 03:29] thamara commented on #19
How about something like:

![Screen Shot 2019-09-19 at 00 27 42](https://user-images.githubusercontent.com/846063/65211237-63fb8400-da74-11e9-8aaa-113f20865cbe.png)

Which will fill the first available input in today's row.

[2019-09-19 03:33] tupaschoal opened #20 "Weirdly broken"
I did `npm install` then `npm start` and faced #6 again (actually took multiple reload + clear database to "work"). This is what I got then:

![broken_ttl](https://user-images.githubusercontent.com/6443427/65211233-5fcf6680-da74-11e9-9900-8afe60271b73.png)

Note that:
- Icon is broken (~ #18)
- Rows are not editable (I'm guessing a bug on reading the preferences)
- Editing the preferences brings e

[2019-09-19 03:35] tupaschoal commented on #19
I like it, though I think stretching it horizontally might look bad on the layout.
What about a big button on a fixed footer at the bottom? Then it can be written as punch-in and have something like a [fingerprint icon](https://www.flaticon.com/free-icon/fingerprint_125503#term=fingerprint&page=1&position=3) which would be a big button to hit and in an accessible space.

[2019-09-19 03:41] thamara commented on #19
Loved the idea of the fingerprint icon, but didn't like the idea of having it at the bottom... Considering cases of small screens, in the beginning of the month, it would require the user to scroll down the page.

[2019-09-19 03:49] thamara commented on #20
Very strange behavior o startup. I've removed the application's directory and started again and could not see the problem.
The issue with the punch buttons is most likely due the differences in the date format, which will be fixed only on #10.

[2019-09-19 03:51] thamara commented on #16
Thanks for verifying this!
The double click you mentioned is on the tray icon?

[2019-09-19 03:53] tupaschoal commented on #19
But I was thinking it would be like an "always on top" button at the bottom, just like frozen rows in s spreadsheet.

[2019-09-19 03:53] thamara commented on #20
I could reproduce the issue. This is due the preferences file existing, but being invalid.

[2019-09-19 03:55] tupaschoal commented on #16
Yes!

[2019-09-19 03:55] tupaschoal commented on #20
Great!

[2019-09-19 03:57] tupaschoal commented on #16
And actually most icons on the windows tray just require a single click to open. I double clicked as well just to be sure hahaha

[2019-09-19 05:13] thamara commented on #16
Just clicking the tray icon should work now.

[2019-09-19 10:49] tupaschoal commented on #16
Yup, works!

[2019-09-22 19:57] #16 closed

[2019-09-22 20:04] thamara commented on #18
Icon should be fixed now:
![Screen Shot 2019-09-22 at 17 01 00](https://user-images.githubusercontent.com/846063/65393729-02c8fe80-dd5b-11e9-8563-27fd57b6ada6.png)

Even though the color scheme is not too good.

[2019-09-22 20:05] #20 closed

[2019-09-22 21:44] thamara commented on #19
![2019-09-22 18 20 46](https://user-images.githubusercontent.com/846063/65394836-d7e5a700-dd68-11e9-8f12-9909278d1c2a.gif)
Replaced the individual buttons by a big one in the bottom.
It works by finding the first entry not filled in the day, and assigning the current time to it.

[2019-09-22 21:44] #19 closed

[2019-09-23 00:32] tupaschoal commented on #18
Works on my machine hahahaha

[2019-09-23 00:33] tupaschoal commented on #19
This looks soooo cute now, thanks ;D

[2019-09-23 00:36] tupaschoal opened #21 "Punch-in button should be disabled if non-working day"
If the current day is a non-working day, I think the punch-in button should be disabled. Currently it is possible to click it, but nothing happens.

You can also make it pop-up an error/warning, which I dislike a lot more.

[2019-09-23 00:37] tupaschoal opened #22 "Punch-in button behavior when all entries have been punched"
If you've punched the four times required in a day, the button should either:
- Be disabled
- Replace the last punched-in entry (with optional confirmation dialog)

[2019-09-23 01:34] thamara commented on #21
If working day:
![Screen Shot 2019-09-22 at 22 32 41](https://user-images.githubusercontent.com/846063/65397753-0a070100-dd89-11e9-8fe8-752db10fce56.png)

If not a working day:
![Screen Shot 2019-09-22 at 22 32 55](https://user-images.githubusercontent.com/846063/65397755-0bd0c480-dd89-11e9-9303-5895c9e9c4d7.png)

[2019-09-23 01:34] #21 closed

[2019-09-23 02:36] tupaschoal opened #23 "Blank window when opening app"
When trying to test it for #21, I couldn't see anything, just like #6 . I even ran `npm install` first.
I got the following error:
[code]

[2019-09-23 02:37] tupaschoal commented on #21
You forgot to label as enhancement :P

[2019-09-23 02:37] tupaschoal commented on #20
You forgot to label as bug :P

[2019-09-23 02:52] #17 closed

[2019-09-23 02:53] thamara commented on #17
Apparently, windows is not able to parse "test/*.test", and match all files under test.

[2019-09-23 02:54] thamara commented on #23
Dammit these preferences. There must be a better way.

[2019-09-23 03:09] thamara commented on #23
Could you please provide:
- Does the preferences file exists? It should be located in `C:\Users\<USER>\AppData/Roaming/Time\ to\ Leave/preferences.json`
- If it does exist, what's its content?

[2019-09-23 03:17] tupaschoal commented on #17
Works nicely now ;)

[2019-09-23 03:19] tupaschoal commented on #23
It exists and its sole content is `null`

[2019-09-23 03:21] tupaschoal opened #24 "Set-up a Windows-configured CI"
Given that `npm run test` was broken, as mentioned on #17, it might be worth setting up a GH Action CI that runs on a windows machine

[2019-09-23 03:27] thamara commented on #23
Thanks!

[2019-09-23 03:27] #23 closed

[2019-09-23 03:38] tupaschoal commented on #23
Works like a charm now, thanks :)

[2019-09-23 03:39] #24 closed

[2019-09-23 03:39] thamara commented on #24
Thanks for reminding me of that!

[2019-09-23 12:30] tupaschoal opened #26 "Create summary view"
There should be a summary view, or similar, so that you can see how many hours you have extra or to be paid.

We all know we don't/can't work exactly <X>h a day hahahaha

[2019-09-23 14:06] thamara commented on #26
My Idea was to have a sum by month (or by week), in which the extra time would be considered when computing the time to leave.

[2019-09-23 14:34] tupaschoal commented on #26
This is fine, though I think the user should be able to choose whether the accumulated hours should be accounted on their time to leave. Maybe they don't want to use it all at once?

One alternative might be showing two times to leave

[2019-09-25 01:29] tupaschoal commented on #26
I was testing it and found out it is doing some weirdness on the month total:
![weird_sum](https://user-images.githubusercontent.com/6443427/65561937-b3c9c780-df1a-11e9-85f6-495b338ea376.png)

Also, I was thinking if it wouldn't be nice having it fixed at the bottom, just like the punch in, so you wouldn't need to scroll to see your balance

[2019-09-25 01:46] tupaschoal opened #27 "Behavior of when to leave bar"
I feel like the bar telling you when to leave should change in some way when you've punched in all entries for the day. I don't know what to do though, if it should be hidden, or just rewritten...
![dunno](https://user-images.githubusercontent.com/6443427/65562503-102de680-df1d-11e9-8448-059d755e13ef.png)

[2019-09-25 02:51] thamara commented on #26
Fixed representation of the balance.

[2019-09-25 03:19] thamara commented on #26
Now the summary is fixed in the footer.
![Screen Shot 2019-09-25 at 00 18 52](https://user-images.githubusercontent.com/846063/65566726-1b3b4380-df2a-11e9-80bb-6a6b1c2822b2.png)

[2019-09-25 03:19] tupaschoal commented on #26
Nice, do you think the month total should show a sum up until the current day?
I'm thinking if users will be confused by the huge negative, specially in the first days of the month

[2019-09-25 03:27] thamara commented on #26
This is the current behavior. See the screenshot below. In this example the person works 10h a day. On the current day (25), the balance will be -10h, as the person still needs to work 10h that day.

![Screen Shot 2019-09-25 at 00 24 43](https://user-images.githubusercontent.com/846063/65567049-25aa0d00-df2b-11e9-9b6a-e49ea342d5dc.png)

You might be seeing a huge negative number because you haven'

[2019-09-25 03:28] tupaschoal commented on #26
Ahh, awesome. Then I think we have everything required to close this issue, are you planning something else?

[2019-09-25 03:30] thamara commented on #26
Just want to add some tool tip for the summary. :)

[2019-09-25 03:43] #26 closed

[2019-09-25 04:03] #22 closed

[2019-09-25 04:03] thamara commented on #22
The button will not be available if all entries have been filled.
![2019-09-25 00 59 03](https://user-images.githubusercontent.com/846063/65568471-4de83a80-df30-11e9-8b98-fb574d4acc6a.gif)

[2019-09-25 04:10] thamara opened #28 "Add import feature"
Add database from csv file.

[2019-09-25 11:37] tupaschoal commented on #22
Nice!

[2019-09-27 18:54] brenoguim opened #29 "Allow "start date" configuration"
New users often will not start using right in the start of the month. So, it would be nice to be able to set the date from which hour count starts.
Perhaps, if this date is not set yet, then the 'time-to-leave' can auto configure it for the first time I open the program.

[2019-09-27 18:55] brenoguim opened #30 "Add tooltip for "go to current month button""
It wasn't rocket science to figure out what it does, but I think a tooltip would be helpful

[2019-09-27 18:58] tupaschoal commented on #29
Actually I was thinking that it should start counting from the first date that you punched in.

This will be simpler, because user won't have to configure anything and it will also make the "total balance" possible

[2019-09-27 19:03] brenoguim opened #31 "Make the time table scrollable instead of the whole application"
I believe the application would look nicer if the scroll is in the time table instead of the whole app.
Then you can always see the title  and headers.
It would look similar to what was done to the punch time button  and statistics.

[2019-09-27 19:07] brenoguim opened #32 "Menu dialog doesn't need a menu bar"
When you open a "menu" the dialog contains the bar with "Menu", "Edit" and "View".

That doesn't seem to be necessary.

[2019-09-27 19:07] brenoguim commented on #32
Moreover, if you open the Menu from the Menu you end up with two menus :D

[2019-09-30 23:38] #29 closed

[2019-09-30 23:49] tupaschoal opened #34 "Closing main window does not close preferences"
If you close the main window, the preferences one stays alive and yields the following exception when you try to close it:
![image](https://user-images.githubusercontent.com/6443427/65924586-d9941800-e3c3-11e9-90b9-ca50f5f1b079.png)

[2019-10-01 10:39] brenoguim opened #40 "September has 31 days when it should have 30"
I did not check other months.

[2019-10-01 12:27] thamara commented on #40
Probably doing something wrong with the month number as js has the base habit of describing months from 0 to 11, and not 1 to 12

[2019-10-01 21:47] #32 closed

[2019-10-01 21:48] #34 closed

[2019-10-02 00:03] arieldsr commented on #40
All days are right-shifted one month (e. g., March has 28 days on 2019). I search through _getBody() method on js/calendar.js. Lines 489-450 have the following code:

[code]
In that case, monthLength has the number of days of this.month - 1, that's why everything is shifted (just adding a one will cause other things to crash, though 😅 ).

[2019-10-02 00:39] tupaschoal commented on #40
[Apparently](https://stackoverflow.com/questions/1184334/get-number-days-in-a-specified-month-using-javascript):

So calls calculating monthLength should take this into consideration.

[2019-10-02 01:36] tupaschoal commented on #11
Seems like sourcing it from the location might be difficult, but I found some resources on where to get the holidays from.

There's this [date-holidays](https://www.npmjs.com/package/date-holidays) module and it even has an [html example](https://github.com/commenthol/date-holidays/tree/master/examples/browser) which can probably be used as inspiration on how to make a list of checkboxes in the co

[2019-10-03 21:41] #40 closed

[2019-10-07 11:43] #8 closed

[2019-10-09 10:33] #31 closed

[2019-10-09 14:51] tupaschoal opened #43 "Inform the user of a new TTL version"
Many electron-based apps download updates automatically and ask the user to restart to apply. I feel this is of best interest to this app, specially because people typically would download this application and use as is until they find a major problem with it, and then they'd have to come to GH releases.

It would be great if this was actually part of the next release.

[2019-10-09 15:50] thamara opened #44 "Add waiver for working day"
It should be possible to waiver a working day.
An idea is to right click the day on the table and have an option waiver, which would open a pop up for the user to input the reason and optionally how many hours to waive.

[2019-10-09 15:53] thamara opened #45 "Notification should appears every x minutes"
The notification is one time currently. It would be nice if it shows every 5 (?) Minutes, until user acknowledges it.

[2019-10-12 12:00] thamara commented on #10
Today the time inputs are using HTML input tag, which is a newer thing in HTML and follows the OS time configuration. In order to allow the user to select am/pm we must change to use some external API for Time picking.

[2019-10-14 18:56] patrixxn commented on #27
Hey, I'd like to contribute my work herefore, may I ask you to grant me push access?

[2019-10-14 19:14] tupaschoal commented on #27
@patrixxn you don't need to, you can just fork the repository and then submit a PR, that's what people normally do. This [gist](https://gist.github.com/Chaser324/ce0505fbed06b947d962) explains it well :)

[2019-10-18 23:59] thamara opened #47 "Menu does not work on Mac"
After #39, the menu on Macs is not showing up.
According to [browser window](https://electronjs.org/docs/api/browser-window#winsetmenumenu-linux-windows) documentation, setMenu only works in Windows and Linux.

[2019-10-19 00:13] #47 closed

[2019-10-19 00:18] thamara opened #49 "Improve style of non-working day option in preference"
Currently the option to hide non-working days is centered and has a bold font:
![Screen Shot 2019-10-18 at 21 15 57](https://user-images.githubusercontent.com/846063/67135091-8bb54780-f1ec-11e9-943f-a2d83143a4ab.png)

I feel like this is somewhat clutter.
It should be left-aligned, and have a normal, non-bold, font. Also, have a little spacing from the options above it.

[2019-10-19 00:20] thamara commented on #43
As a first milestone for this, the app should inform the user a new version is available.

[2019-10-19 00:34] thamara opened #50 "Color balance total based on the value"
The balance on the app is currently:

![Screen Shot 2019-10-18 at 21 33 24](https://user-images.githubusercontent.com/846063/67135336-f2d3fb80-f1ee-11e9-8eb2-2ec61b3d82b1.png)

If the number is negative (means the user is missing working hours) it should be red. If the balance is positive is should be green-ish.

[2019-10-19 00:37] kashaiahyah85 commented on #10
This and #12 might be solved with https://www.npmjs.com/package/timepicker. At least that's one idea.

[2019-10-19 00:42] thamara opened #51 "Move preferences manipulation to another file"
Currently, on calendar.js we handle the update of the preferences (`ipcRenderer.on('PREFERENCE_SAVED'`), as well as the queries of the preferences in functions such as `notificationIsEnabled`, `getHoursPerDay` and `showWeekDay`.
All of this should be moved to `js/UserPreferences.js`, and imported in `calendar.js`, just the way it's done for `getUserPreferences`.

[2019-10-19 00:45] thamara commented on #51
Points of attention is that when handling `PREFERENCE_SAVED`, the calendar should be redraw. So possibly the call for `calendar.redraw();` should be moved to `main.js`, as a new event such as:
`win.webContents.send('CALENDAR_REDRAW', savedPreferences);`

[2019-10-19 00:59] vspedr commented on #50
Hi, I'd like to work this issue :)

[2019-10-19 01:18] cSparkle commented on #49
I'd like to claim this issue, please! :)

[2019-10-19 01:23] thamara commented on #50
@vspedr  Just fork the repository and create a PR when you are done. :D

[2019-10-19 01:24] thamara commented on #49
@cSparkle Feel free to fork the repository and create a PR when you are done.

[2019-10-19 02:08] #50 closed

[2019-10-19 02:10] thamara commented on #50
Thanks for the work @vspedr!

[2019-10-19 02:16] thamara commented on #44
As a first milestone for this, we could have a window such as:

![Screen Shot 2019-10-18 at 23 06 47](https://user-images.githubusercontent.com/846063/67136458-d343cf80-f1fc-11e9-826c-af5fc0bbfcf8.png)

In this the user would add new entries, and see and manage the inputs.
I've included a 'Allow time inputs on this day', but I don't think we should have it on the first version. The reason for this

[2019-10-19 02:18] #49 closed

[2019-10-19 02:54] thamara opened #55 "Punch in time from the tray icon"
It should be possible to punch in time from the icon on the tray, by right clicking it and selection an option 'Punch in time'. This way the user don't even need to open the app.

[2019-10-19 03:06] thamara opened #56 "Update calendar when day changes"
User can left TTL opened for days in their computer, but we don't update the page (to show the current day correctly).
We should redraw/update the calendar when the day change.

I believe this can be achieved by using setInterval, and querying the `today` on the calendar.

[2019-10-19 03:09] tupaschoal opened #57 "Align clock on header"
If you take a close look, the clock icon is misaligned at the header, being a bit to the right of the table and it is kind of weird.

![image](https://user-images.githubusercontent.com/6443427/67136983-bb704980-f204-11e9-8efc-09687b678ae0.png)

[2019-10-19 03:13] tupaschoal opened #58 "Toolbar icon should be light grey"
Currently the toolbar icon is black, which looks great on light toolbars, but bad on dark ones.
![image](https://user-images.githubusercontent.com/6443427/67137007-2c176600-f205-11e9-9c67-d1aa52ccca5c.png)

It should be grey/ice for Windows and keep black for mac, maybe

[2019-10-19 03:15] thamara opened #59 "Add help menu"
Add help menu. On this we should have:

- TTL on Github (with a link to this repository)
- Latest releases (pointing to https://github.com/thamara/time-to-leave/releases)

[2019-10-19 03:18] tupaschoal commented on #56
More of a bug than an enhancement, no?

[2019-10-19 03:25] VicoErv commented on #55
what do you mean by 'Puch in time' ? is it showing the time in the tray context menu? or by clicking that menu, will open a dialog that show the time data for today?

[2019-10-19 03:27] thamara commented on #45
With this patch the notification is shown until the end of the day, when the hour became lower than the time to leave. Just registering this behavior here.

[2019-10-19 03:27] #45 closed

[2019-10-19 03:27] tupaschoal commented on #55
@VicoErv the app has a big button at the bottom that allows you to "punch-in" and stamp the current time as you're entering or exiting. This action should also be available from the tray context menu.

[2019-10-19 03:30] dbeigi commented on #59
Hi @thamara I would like to help you with this issue.

[2019-10-19 03:36] thamara opened #60 "Allow user to specify interval of notification"
After #45, the notification appears to the user until the end of the day, every 5 min.
I think the user should be able to control this interval, and maybe the maximum number of times the notification appears.

We should add this under preferences page, which currently have:
![Screen Shot 2019-10-19 at 00 30 32](https://user-images.githubusercontent.com/846063/67137196-b365d900-f207-11e9-9d41-e3a76

[2019-10-19 03:38] thamara commented on #60
For documentation purposes, changing/adding/removing fields in the preferences file make the old preferences file not backwards compatible. But this is another problem for which I'll open another issue.

[2019-10-19 03:39] tupaschoal commented on #59
Fork and do @dbeigi , I've assigned it you.

[2019-10-19 03:47] thamara opened #61 "Preferences validation should be able to handle new entried"
Changing/adding/removing fields in the preferences file make the old preferences file not backwards compatible, as `hasValidPreferencesFile` checks that all the expected preferences are presented in the file.
We should be able to overlook missing fields, fallbacking to the default specified value, and inserting this missing value into the preferences file.

[2019-10-19 03:49] thamara commented on #56
Good point.

[2019-10-19 03:51] schillingjerrid commented on #60
@thamara I'd like to take a crack at this!

[2019-10-19 03:52] tupaschoal commented on #60
Fire the engines @schillingjerrid !

[2019-10-19 03:53] VicoErv commented on #55
@tupaschoal i got it, do i need to show dialog confirmation or success dialog after that?

[2019-10-19 04:08] tupaschoal commented on #55
@VicoErv I'd say a brief tooltip is nice, as users have no visual indicators it worked, because the app is minimized. A dialog seems too much

[2019-10-19 04:10] VicoErv commented on #55
thank you @tupaschoal, i've made a pull request for this.

[2019-10-19 04:19] thamara commented on #55
I think a notification would be good in this case. A notification similar to the one used to inform the user it's time to leave.

[2019-10-19 04:19] #58 closed

[2019-10-19 05:17] tupaschoal opened #67 "Introduce hidden concept of entry/exit and suggest punch in"
Currently the app just annotates the time when you punch, but it can actually know whether you are punch in or out, depending on whether it's an even or odd punch.

It would be great if it had inner logic saving whether you're working or not and if you punched out and the computer became idle, suggesting you to punch in upon coming back.

[2019-10-19 05:20] thamara commented on #67
I had a similar idea in the beginning. Punch in automatically when you unlock your pc, or something like that.
I think this idea would be awesome, but I'm not sure if we would get it right most of the time.

[2019-10-19 05:25] tupaschoal commented on #67
Seems very doable with [Electron's Power Monitor](https://electronjs.org/docs/api/power-monitor)

[2019-10-19 05:28] #57 closed

[2019-10-19 06:28] VinitaPotter commented on #56
Can I work on this?

[2019-10-19 06:56] thamara commented on #56
Sure!

[2019-10-19 11:00] tupaschoal commented on #55
Closed with #63

[2019-10-19 11:00] #55 closed

[2019-10-19 11:05] tupaschoal opened #70 "Disable punch from tray when not applicable"
Issue #55 introduced the ability to punch from tray, but it is always enabled. It should follow the behavior of the button on the main window, which is disabled if the day is a non-working day or if all entries have already been punched.

[2019-10-19 11:17] tupaschoal opened #71 "Notification icons not working on windows"
Though the notification shows up pretty on mac, as shown by the screenshots on the README, they have a random icon on Windows:
![image](https://user-images.githubusercontent.com/6443427/67144059-d795da00-f248-11e9-8fe9-02c7e25abcbd.png)

[2019-10-19 12:21] tupaschoal opened #72 "Punch from tray notification not working on windows"
#55 introduced a notification when punching from tray, but it doesn't show up on windows.

[2019-10-19 12:42] tupaschoal opened #74 "Improve formatting of punch from notification"
#55 introduced punching from notification, but it emits a message that is "[H]?H:[m]?m", so these are a few examples on what looks like and what it should look like for different times:

- 8:8 -> 08:08
- 8:11 -> 08:11
- 10:8 -> 10:08

[2019-10-19 12:46] tupaschoal opened #75 "Clean up notification code"
If #73 proves to be the right solution, the notifications can be cleaned up to be a single `notify(msg)` function that receives different messages.

The title should probably be title-case: "Time to Leave" instead of "Time to leave"

[2019-10-19 12:59] adnanSharif commented on #61
@thamara I would like to handle this issue.

[2019-10-19 13:01] tupaschoal commented on #61
I've assigned it to you @adnanSharif

[2019-10-19 16:11] adnanSharif commented on #75
I would like to work on this Issue.

[2019-10-19 17:09] adnanSharif commented on #75
Whether  #73  proves to be right or wrong, we can clean it up to be a single `notify(msg)` that receives  different messages. I am working on it.

[2019-10-19 19:39] adnanSharif commented on #30
I would like to do this.

[2019-10-19 19:51] tupaschoal commented on #30
I assigned it to you

[2019-10-19 20:15] #72 closed

[2019-10-19 23:40] #59 closed

[2019-10-20 00:23] thamara commented on #61
Thanks for the work @adnanSharif!

[2019-10-20 00:23] #61 closed

[2019-10-20 00:32] thamara opened #79 "Remove old options when checking preferences"
After #61 we check if a new option is not presented on the preferences file, and if not, we insert it. But we don't remove unsed/old options.

[2019-10-20 00:52] s-arika commented on #70
Hi! I'd be interested in working on this

[2019-10-20 01:15] meyer20 commented on #71
Are there any contribution guides I should follow to open the pull request?

[2019-10-20 01:26] thamara commented on #70
Go for it! I've assigned the issue to you. :D

[2019-10-20 01:27] thamara commented on #71
There's no contribution guide yet. So just open the PR and in case of any GUI change, please provide the screenshot. :D

[2019-10-20 02:50] s-arika commented on #70
Thank you, I have a question. When you say "if all entries have already been punched", does that mean when the Punch Time button is pressed or if the user fills out all times for each working day, including the last End Day field (leaving the Punch Time disabled)?

[2019-10-20 03:11] thamara commented on #70
It would be second option: "if the user fills out all times for each working day".
You could try checking when we do:
`document.getElementById('punch-button').disabled = true;`

[2019-10-20 12:36] ozgunbal commented on #74
I'm on it.

[2019-10-20 15:59] adnanSharif commented on #79
I would like to do it

[2019-10-20 16:00] tupaschoal commented on #79
Alright :)

[2019-10-20 19:29] #30 closed

[2019-10-20 20:07] #79 closed

[2019-10-20 20:08] #75 closed

[2019-10-20 20:31] tupaschoal opened #90 "About dialog doesn't show Time To Leave icon"
The about dialog shows a generic "Info" icon. I think it should show the TTL clock:
![image](https://user-images.githubusercontent.com/6443427/67165768-63018f00-f35f-11e9-8cde-5fef8c92c0a1.png)

Do change to an enhancement, if you don't think this is a bug @thamara

[2019-10-20 21:23] thamara commented on #90
Are you running development mode or production? Icons only show on production (don't know why, just that it's this way shrug).

[2019-10-20 21:23] Grigory57 commented on #90
Hello. Can I work on this?

[2019-10-20 21:28] Grigory57 commented on #90
Hello. Can I work on this? Actually, I have already done it)
![timer icon](https://user-images.githubusercontent.com/13119986/67166622-be507300-f399-11e9-9b71-5a21c5e1a8d6.jpg)

[2019-10-20 21:32] thamara commented on #90
Oh! Great! Just create the PR.

[2019-10-20 21:51] thamara commented on #74
Thanks @ozgunbal !

[2019-10-20 21:51] #74 closed

[2019-10-20 22:09] thamara commented on #90
Thanks @Grigory57 !

[2019-10-20 22:09] #90 closed

[2019-10-20 23:43] tupaschoal opened #92 "Add "Submit feedback" button to help menu"
I feel like there should be a "submit feedback" button on the help menu that redirects to the "new issue" page on this repository, to make it easier for people to find where to submit bugs and request things.

[2019-10-21 00:14] VicoErv commented on #92
Hello, can i submit pr for this?

[2019-10-21 00:18] thamara commented on #92
Yes! Sure!
Assigning the issue to you.

[2019-10-21 01:18] #44 closed

[2019-10-21 01:24] thamara commented on #92
Thanks for the work!

[2019-10-21 01:24] #92 closed

[2019-10-21 01:31] thamara opened #94 "Add waiver on day from the calendar"
After #44 we have a waiver manager, which allows the user to add waivers on the working days.
It would be possible to add waivers from the calendar itself. As @tupaschoal suggested:

I think this could be done by either:
- Right click on the day, which would open a menu with a waiver option.
- Having an icon such as suggested before, which would open the waiver dialog.

Either way, the waiver opti

[2019-10-21 01:35] #43 closed

[2019-10-21 01:35] thamara opened #95 "App should auto update"
From #43:
Many electron-based apps download updates automatically and ask the user to restart to apply. I feel this is of best interest to this app, specially because people typically would download this application and use as is until they find a major problem with it, and then they'd have to come to GH releases.

It would be great if this was actually part of the next release.

[2019-10-21 02:03] tupaschoal commented on #15
This was solved by #69

[2019-10-21 02:03] #15 closed

[2019-10-21 02:07] tupaschoal opened #96 "Add minimalist version/tab"
I'd say most people are not really concerned about seeing the whole table report all the time, and just want to input the times from the current day. One idea is to split the app in two:
- **Detailed report**: would be the view that we have today
- **Minimalist**: Would have big numbers with the times punched, the balance, the punch button and maybe a dial to change the day being viewed.

In this

[2019-10-21 14:38] tupaschoal opened #98 ""Month Balance" should sum until previous day"
I'm a bit confused as to whether month balance should sum up until the previous day and just consider the current day when you finished punching it up. Because as it is right now, it's difficult to grasp whether you have extra time or negative time.

One option is to move the balance to be above the current day, so it is very clear that it's the sum up until there. What do you think @thamara?

[2019-10-21 16:47] tupaschoal opened #99 "Check for Updates should tell when app is up-to-date"
Nothing happens if the app is up to date on version 1.2.0 when we check for updates using the option in the menu. It makes the button look like it is a no-op. I suggest having a dialog saying "your app is up-do-date"

This might not be necessary if #95 is completed first.

[2019-10-21 16:52] tupaschoal commented on #71
@meyer20 are you working on this (or intending to)? So we can assign it to you

[2019-10-21 16:58] tupaschoal opened #100 "Reorganize menus"
Most apps put the preferences and other things that edit the app state on the "Edit" umbrella. We currently have:
[code]
I'd say we should move "Preferences" and "Clear Database" over to edit. Not sure yet what to do with "Workday Waiver Manager".
[code]

[2019-10-21 17:01] meyer20 commented on #71
@tupaschoal I think it can be closed, it has already been fixed in pr: https://github.com/thamara/time-to-leave/pull/82

[2019-10-21 17:03] tupaschoal opened #101 "Create issue and PR templates"
#81 created the `CONTRIBUTING` section, but not everyone reads the manuals :X

I think we should create issue and pull request templates [(source)](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates), as these automatically fill out the window when people are submitting them and give hints on what it would be good for them to do (provide step-by-st

[2019-10-21 17:07] tupaschoal opened #102 "Remove "Latest Releases" from Help menu"
I feel like "Latest Releases" and "Check for Updates" are redundant, and since the latter takes you there if needed, it seems better.

[2019-10-21 17:13] tupaschoal commented on #71
Weird, I think it might be messed up, I downloaded the latest release and it is still showing up snoretoast's icon, like on the screenshot I posted for the issue

[2019-10-21 18:32] meyer20 commented on #71
That's weird :/
As soon as I get off work I'll take a look at the problem and give you a feedback.

[2019-10-21 19:18] tupaschoal commented on #71
Maybe it's weirdness between local run and released version. I'll confirm the local run works when I get home as well

[2019-10-21 19:34] PallaviTS commented on #101
@tupaschoal Can I take this one?

[2019-10-21 19:49] tupaschoal commented on #101
Sure!

[2019-10-21 20:30] arieldsr commented on #94
I would like to do it, please

[2019-10-21 20:46] meyer20 commented on #71
Running only with the beginning of the working electron, but when generating a release the path not found.

When i remove the --asar=true parameter from the build package file for windows, the icon works in the notification. I don't know the benefits of this packaging model, I can't tell what the real impact of the fit is.

[2019-10-21 21:00] tupaschoal commented on #71
Thanks for the investigation. Here is the [documentation](https://electronjs.org/docs/tutorial/application-packaging) for `asar`. We'll have to check with @thamara about it.

[2019-10-21 21:01] tupaschoal commented on #94
Alright :)

[2019-10-21 21:26] karottenbaum commented on #99
I'd like to do this.

[2019-10-21 21:27] tupaschoal commented on #99
Go for it

[2019-10-21 23:20] meyer20 commented on #71
If you need me, I'm at your disposal.

[2019-10-21 23:42] thamara opened #106 "Add waiver on a range of days"
When adding a waiver, it is currently done for just one day at a time. It should be possible to add the same waiver reason for a range of days (considering the workings days set on the preferences).

[2019-10-22 00:38] suganya-sangith commented on #102
@tupaschoal Will take this up

[2019-10-22 00:40] thamara commented on #102
Great!

[2019-10-22 00:40] thamara commented on #102
I think we should remove "Latest Releases" at all.

[2019-10-22 00:46] #99 closed

[2019-10-22 00:50] thamara commented on #100
I've added some separator, which would like:

[code]

I think we should keep it on the menu. In the future, if necessary, we can move it elsewhere.

[2019-10-22 01:04] thamara commented on #101
Hi @PallaviTS, the PR looks great, but the bug report is not showing. I believe it should be renamed to something like "issue_template.md", to be more general (instead of just a bug).
Also, thinking a little bit harder, I feel we are missing one important field: the "specifications", such as OS and version of TTL.
Would you like to give a try on this points?

[2019-10-22 01:07] thamara commented on #98
I agree. I even bumped into this today. hahaha

[2019-10-22 01:20] #102 closed

[2019-10-22 01:37] dbeigi commented on #100
@thamara A bit confused as to what the <separator> means, I can start working on this issue btw. :)

[2019-10-22 01:42] thamara commented on #100
The ideia here to re-arrange the menu of the app. As Tulio said, today we have things like preferences in the "Menu", and it should be moved to "Edit".
In this [comment](https://github.com/thamara/time-to-leave/issues/100#issuecomment-544766583), I stated how the new menu of the app should look like.
Is it clearer now?

[2019-10-22 01:47] dbeigi commented on #100
@thamara Oh yes I got the objective. Don't know what happen to my original comment but I meant to ask what the "<separator>" is for and how would I tackle that?

[2019-10-22 01:56] thamara commented on #100
I think your comment is still missing something, but I guess you mean what the "separator" means, right?
If that's the case, this is that little line present in menus, for example, what's between "Clear Data" and "Exit".
In electron this means creating a `{type:'separator'}`. You can see examples in `main.js.`

[2019-10-22 01:59] dbeigi commented on #100
@thamara Yeah I was talking about the "separator" but it didn't show because I used the <>. But you answered it perfectly and I'll get it on right away.

[2019-10-22 01:59] thamara commented on #100
Great! I assigned the issue to you. :)

[2019-10-22 02:19] VicoErv commented on #106
hello, i will send pr for this

[2019-10-22 02:20] thamara commented on #106
Great. I'll assign the issue to you.

[2019-10-22 02:24] tupaschoal commented on #71
@meyer20 can you show us a comparison of the build sizes with and without ``asar``?
If they're fairly equal, we can drop this restriction

[2019-10-22 02:25] thamara commented on #71
Consider checking their sizes when zipped (just a common .zip will do it).

[2019-10-22 03:09] tupaschoal commented on #101
I think the PR is also missing a "screenshots/gifs, if applicable"

[2019-10-22 14:35] meyer20 commented on #71
I compared the compressed and uncompressed file, the size difference is minimal. Follow below the screenshots.
Without --asar:
![woutasar](https://user-images.githubusercontent.com/13800506/67297209-f81b9980-f4bf-11e9-863a-186dc8f440b6.PNG)

With --asar
![asar](https://user-images.githubusercontent.com/13800506/67297211-f8b43000-f4bf-11e9-9995-25216cc10024.PNG)

[2019-10-22 20:40] Grigory57 commented on #95
I would like to work on this, but I've got some questions. What message should be displayed after downloading updates? How often should the app check for updates? I mean, should it be only once right after opening or checking for updates should be carried according to some interval?

[2019-10-22 21:31] tupaschoal commented on #95
We already have the logic to check for updates (including how often and etc), so you could just work on actually auto updating :D

Btw, do you have a clue on how to do it already or would you learn as you go? (Just curious)

[2019-10-22 21:51] Grigory57 commented on #95
Well, I am not an Electron developer. Do it just for fun. I thought to use ipcRenderer.send("download"..  Or autoUpdater.

[2019-10-22 22:13] tupaschoal commented on #95
Well, give it a try and let us know!

[2019-10-23 02:10] #100 closed

[2019-10-23 03:01] tupaschoal commented on #95
Assigned to @Grigory57

[2019-10-23 23:48] Grigory57 opened #114 "Uncaught TypeError: Cannot read property 'split' of undefined"
There is an error shown in the console. Both in development and production.

![Time bug](https://user-images.githubusercontent.com/13119986/67442173-6ff4db80-f608-11e9-9220-880037ddb007.jpg)

[2019-10-23 23:50] tupaschoal commented on #114
I saw this bug once, but couldn't reproduce. The screenshot is nice though.

If you reload it or clear the database+reload, does it come back?

[2019-10-24 00:18] #98 closed

[2019-10-24 01:03] thamara opened #115 "Standardise js file names"
Unfortunally we do not follow any naming convention for java script files. I think we should follow [Google's style guide](https://google.github.io/styleguide/jsguide.html#file-name) and:

[2019-10-24 01:15] danielimmke commented on #115
I'd like to take this!

[2019-10-24 01:28] thamara commented on #115
Go for it!

[2019-10-24 02:56] #106 closed

[2019-10-24 02:57] thamara commented on #106
Thanks @VicoErv !

[2019-10-24 03:26] #114 closed

[2019-10-24 03:28] thamara commented on #114
The issue here happened when the preferences file was empty (but existed). The code that validates the preference and decides to save the default was returning upon invalid (empty) theme without enforcing the save of the default preferences.

[2019-10-24 06:26] VicoErv commented on #96
![Screen Shot 2019-10-24 at 14 24 22](https://user-images.githubusercontent.com/26959883/67458951-03122d80-f66a-11e9-9f93-963546fbaa23.png)
![Screen Shot 2019-10-24 at 14 24 27](https://user-images.githubusercontent.com/26959883/67458955-05748780-f66a-11e9-9088-897d89119971.png)
example musixmatch

did you mean window like this, or same window but different tab?

[2019-10-24 13:21] VicoErv commented on #96
It's just close the main window and open the minimal window, no transition.

[2019-10-25 16:31] Grigory57 commented on #95
Sorry guys, I haven't succeeded. I did some research and tried to update app with electron-updater and autoUpdater but no luck. I feel I miss something but I can't put my finger on it. So I believe it's better to assign someone else in order to not to waste your time. Sorry.

[2019-10-26 04:33] tupaschoal commented on #95
Oh, that's unfortunate @Grigory57 , but thank you very much for trying, we really appreciate, now we know it's not a trivial effort and we also have documented it to other people :)
Thanks!

[2019-10-26 11:38] tupaschoal commented on #101
Hey @PallaviTS, are you planning on following up on this?

[2019-10-26 11:38] tupaschoal commented on #60
Hey @schillingjerrid , are you planning on following up on this?

[2019-10-26 11:38] tupaschoal commented on #56
Hey @VinitaPotter , are you planning on following up on this?

[2019-10-27 00:54] arieldsr opened #120 "Waiver added to days subsequent to the ones set"
**Description**
When you try to add a waiver, it's added on the day subsequent to the 'End date', respecting the range specified. For instance:
-   Trying to add a waiver from 28/10/2019 to 29/10/2019 will create waivers for the days 30/10/2019 and 31/10/2019.

**Context**
- OS version: Windows 10  v. 1903
- Time to leave version: current origin master branch (until #108)

**Steps to reproduce**
1

[2019-10-27 00:56] arieldsr commented on #120
If the behavior is confirmed, I'd please like to solve it

[2019-10-27 01:17] tupaschoal commented on #120
It does happen, sure you can fix it. I've assigned it to you

[2019-10-27 02:41] thamara opened #121 "Preferences not taking effect"
Changing preferences and closing the windows does not take action.

[2019-10-27 02:42] marisusis commented on #28
Could I work on this?

[2019-10-27 03:26] #121 closed

[2019-10-27 03:34] #70 closed

[2019-10-27 03:54] tupaschoal commented on #28
Sure @marisusis

[2019-10-27 04:10] #115 closed

[2019-10-27 16:23] schillingjerrid commented on #60
Hey @tupaschoal, I'm still trying to get it working. I've got the options displayed in the preferences but I'm having a hard time getting them to persist and affect the timer.

[2019-10-27 16:25] tupaschoal commented on #60
Ok, let us know if we can help, you might want to submit the PR as draft and have us comment

[2019-10-27 18:28] PallaviTS commented on #101
@tupaschoal yup, sorry for the delay! I have created new PR, wdyt?

[2019-10-27 18:56] schillingjerrid commented on #60
Hey @tupaschoal, I've played with this a little more today and am not having much luck. Running into a lot of errors that I can't track down. I also don't have much free time at the moment to dedicate to working on this so it may be a good idea to give someone else a chance at it. Sorry for wasting time on this and hope someone else can get this working!

[2019-10-27 20:03] tupaschoal commented on #60
That's too bad, thanks for trying though.

[2019-10-27 20:34] #94 closed

[2019-10-27 20:45] thamara commented on #101
Closing issue. Thanks @PallaviTS !

[2019-10-27 20:45] #101 closed

[2019-10-28 00:49] tupaschoal commented on #56
Removed assignee for lack of activity

[2019-10-28 00:50] tupaschoal commented on #71
@thamara, what do you think?

[2019-10-28 03:37] #56 closed

[2019-10-29 02:41] #67 closed

[2019-10-29 17:54] arieldsr commented on #60
Hi, guys! Would you mind if I try this one?

[2019-10-29 17:57] tupaschoal commented on #60
Sure

[2019-10-30 00:14] thamara commented on #71
What is actually being measured there? I think there might be something wrong with the measurement. In the screenshots it says the app has about 7MB. But the release compressed has almost 60MB...

[2019-10-30 01:30] kashaiahyah85 commented on #71
![Screen Shot 2019-10-29 at 6 28 59 PM](https://user-images.githubusercontent.com/46304146/67821387-064a5680-fa7a-11e9-8b41-f5a9689e18d3.png)

There are implications to turning it off, but the size difference is negligible. It Will however slow down require() by a tad.

[2019-10-30 01:34] tupaschoal commented on #71
I'm not willing to slow down the app, I feel like it is already noticeably slow sometimes. We'll have to dig further into the issue to solve it.

[2019-10-30 01:42] #13 closed

[2019-10-30 01:42] thamara commented on #13
Thanks @kashaiahyah85!

[2019-10-30 01:43] #120 closed

[2019-10-30 02:11] thamara opened #128 "Balance row showing in not current month incorrectly"
**Describe the issue**
The "balance row" is showing up on every month, below the current day. See the image below. It's displaying November and the balance row is below the 29th.

![Screen Shot 2019-10-29 at 23 03 48](https://user-images.githubusercontent.com/846063/67823275-2b9e8b00-faa1-11e9-8101-5c4c7cf8514e.png)

**To Reproduce**
Open TTL, and go to another month clicking the ">" icon on the t

[2019-10-30 02:17] thamara commented on #27
An idea to solve this is to change the text displayed in the row by something like:

[2019-10-30 02:45] gfranco93 commented on #128
Im on it

[2019-10-30 02:47] thamara commented on #128
Great!

[2019-10-30 16:27] kashaiahyah85 commented on #128
Was this bug introduced by a recent patch, or do we know?

[2019-10-31 02:27] tupaschoal commented on #128
Yes, it was introduced by #112

[2019-10-31 02:27] tupaschoal commented on #71
If you have ideas, feel free to open issues, or PRs!

[2019-10-31 02:44] #128 closed

[2019-11-03 01:22] arieldsr opened #133 "Today's entries disappear of the window on reload"
**Describe the issue**
Today's entries are registered on config.json, but disappear on window reload. The screenshot below shows the data on the file and the app window at the same time.

**To Reproduce**
1. Insert any data today
2. Select 'View' -> 'Reload'
3. Data will disappear

**Expected behavior**
Today's data should remain displayed

**Environment**
- Node/npm version: Node 10.16.1/npm 6.9.

[2019-11-03 16:32] tupaschoal commented on #133
Just a note, when providing the TTL version, you can say the version number, like "1.2.0" or the commit you were in. "TTL version: current master" would take a person to see the timestamp of the issue and cross check with the commit history :)

[2019-11-04 17:12] arieldsr commented on #133
Fixed. Thanks for the notice!

[2019-11-04 23:42] thamara opened #138 "Javascript date incorrect timezone for Brazil"
**Describe the issue**
Javascript is currently stating Brazil as in summertime, which is not true for this year. This leads to incorrect notification times and punch time.

**To Reproduce**
[code]

**Expected behavior**
Correct timezone.

**Environment**
Win/Mac, starting v.1.2.0

[2019-11-05 00:38] #138 closed

[2019-11-05 04:51] tupaschoal opened #139 "Investigate usagee of deprecated API"
https://github.com/thamara/time-to-leave/blob/c3dc88584c84fef5a21f77144bf54445a1980e0a/main.js#L298

I don't know the code above is still working after we updated to Electron 7.0, because in [its release](https://electronjs.org/releases/stable) notes we have exactly:

[2019-11-06 02:33] #133 closed

[2019-11-09 18:43] kashaiahyah85 commented on #95
Okay, so this is kind of nuts and still requires the user to allow the app in their mac security settings, but homebrew casks might do the trick. We can write up a quick guide in the readme, and I'll make it as simple as possible.

To install:
[code]
And, for upgrades:
[code]

We can probably work this into an update option in a menu, or even have it run as a separate process in the background now

[2019-11-19 21:26] kashaiahyah85 commented on #95
Though this in itself is not an auto-update, it Is a significantly easier way of installing Time to Leave:
https://github.com/kashaiahyah85/homebrew-k85-tap

[2019-11-19 22:01] kashaiahyah85 commented on #139
@tupaschoal - setApplicationMenu() is indeed removed in the "app" class; But in the "Menu" class, setApplicationMenu(menu) is right.
If you'll check out [Menu](https://electronjs.org/docs/api/menu#menusetapplicationmenumenu) vs. [app](https://electronjs.org/docs/api/app) in the current docs, app no longer has setApplicationMenu() listed, but Menu does.

Oh my I hope that made sense. The upshot is

[2019-11-21 04:03] tupaschoal commented on #139
Weird, @thamara had told me she was facing an issue due to this

[2019-11-21 21:34] kashaiahyah85 commented on #139
I'm curious to know just what issue exactly, but I'll look deeper.

[2019-11-26 00:16] kashaiahyah85 commented on #139
After looking deeper -- this is a non-issue. We are using the Menu api correctly.

[2019-11-26 00:18] kashaiahyah85 commented on #95
It is essentially impossible to accomplish this on macos, save for paying apple. But, Windows and Linux are much simpler.

[2019-12-06 15:48] tupaschoal opened #145 "Allow waiver on part of the day"
**Describe the issue**
Today you can only waive the full day, and the sum of hours become the hours logged in the waiver.

**To Reproduce**
Log two times in a day and then waive it

**Expected behavior**
Maybe you worked during the morning and got a 4h waiver, the total should be the combination of the two.

[2019-12-11 03:44] tupaschoal opened #147 "Improve differentiation on titles and editable fields on Workday Waiver Manager"
**Describe the issue**
It is currently hard to distinguish what is simply a title and editable fields

**To Reproduce**
Open workday waiver manager and notice how "Start date" and "end date" don't look like titles, at first glance I even tried clicking them to fill in the dates.

**Expected behavior**
I'd expect these to be bold to differentiate.

**Environment**
- OS: Windows 10
- TTL version: v1

[2019-12-11 03:59] tupaschoal opened #148 "App opens with fit to screen"
**Describe the issue**
App opens with fit to screen. Probably either wrongly introduced or misinterpreted by #13

**To Reproduce**
Open the app

**Expected behavior**
It should fit to content instead, being as minimal as it can be

**Environment**
- OS: Windows 10
- TTL version: v1.3.0, master

**Screenshots**
https://i.imgur.com/vs7sPvp.gif

[2019-12-11 04:06] tupaschoal opened #149 "Clear Database not Working"
**Describe the issue**
Can't clear the database via the menu action

**To Reproduce**

1. Fill the app with anything
2. Click on "Clear Database"
3. Confirm
4. View that times are still there

**Expected behavior**
All times should be erased.

**Environment**
- OS: Windows 10
- TTL version: v1.3.0, master

[2019-12-11 19:45] thamara opened #151 "Missing summary row"
**Describe the issue**
The summary row is missing from some of the months:

Working month:
![image](https://user-images.githubusercontent.com/846063/70654584-631e5c80-1c35-11ea-96ce-080f4360efcc.png)

Bugged month:
![image](https://user-images.githubusercontent.com/846063/70654620-72050f00-1c35-11ea-8c72-2116ccffc104.png)

**To Reproduce**
Check for the summary row on Nov/2019.

**Expected behavio

[2019-12-11 19:47] thamara opened #152 "Make the about text selectable"
Make the text available in Help -> About selectable/copiable.

[2019-12-11 21:05] tupaschoal opened #153 "App malfunctions when current day is waived"
**Describe the issue**
I can't change the month and do much stuff when the current day is waived, this is the stack:
[code]

**To Reproduce**
1. Waive the current day
2. Reopen the app
3. Note the error on the console

**Expected behavior**
Should be able to do all operations even if current day is waived.
Leave by bar shouldn't be drawn.

**Environment**
- Node/npm version: npm 6.10.3
- OS: Windo

[2019-12-11 22:21] thamara opened #155 "Notification not working on windows"
**Describe the issue**
Notification not working on windows:

![image](https://user-images.githubusercontent.com/846063/70665434-586ec200-1c4b-11ea-91e4-7dd71f575abc.png)

[2019-12-12 00:05] #153 closed

[2019-12-12 00:36] #151 closed

[2019-12-12 00:55] thamara commented on #149
This is affecting the check for updates too.

[2019-12-12 01:14] #149 closed

[2019-12-12 03:13] #155 closed

[2019-12-12 03:14] #148 closed

[2019-12-13 22:27] #147 closed

[2019-12-16 18:19] kashaiahyah85 opened #160 "App exits when all windows are closed on osx"
**Describe the issue**
When you close the main window in macos, the entire app will exit. The usual behavior of an app on macos is to stay running and allow recreating the closed window on clicking the icon, which should remain.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the app in mac os, and close the main window.

**Expected behavior**
The app itself should continue on with the

[2019-12-16 18:39] kashaiahyah85 commented on #152
I think this should help:
https://github.com/w3c/clipboard-apis/blob/master/explainer.adoc#writing-to-the-clipboard

[2019-12-23 22:56] kashaiahyah85 commented on #139
@thamara Can we close this? Or perhaps try for a second code review from another? I have determined that it is no issue, but if it is considered still an issue it should be assigned and fixed (fixed? changed)

[2019-12-29 18:45] kashaiahyah85 commented on #160
Fixed in #162

[2020-01-02 14:04] AndreiSantosS opened #163 "Workdway Waiver Manager does not compute correct range of days"
When entering the range of days 12/23/2019 to 01/01/2020, the waiver manager register days 01/24/2020 to 01/31/2020.
To reproduce:
1. Open Workday Waiver Manager
2. Start date: 12/23/2019; End date: 01/01/2020
3. Enter reason
4. Observe waived workday list

Environment:
Windows 10
TTL 1.3.0

![image](https://user-images.githubusercontent.com/18191476/71670685-7366ba80-2d4f-11ea-9cf0-c403556c79ff.p

[2020-01-06 16:24] thamara opened #164 "Have a all time balance"
Today TTL has balance for each month. It should be possible to have a "all-time balance", which would be computed considering the sum of the balance for all months.

[2020-01-06 18:07] tupaschoal commented on #164
Yes, please 😎

[2020-01-09 02:15] thamara commented on #163
After one related fix it has been using the correct start date, but not the correct end date yet:
![Screen Shot 2020-01-08 at 23 14 21](https://user-images.githubusercontent.com/846063/72031924-b1db0880-326c-11ea-9476-71e62cce2d2c.png)

[2020-01-09 02:38] #163 closed

[2020-01-09 02:40] thamara commented on #163
Fixed the remaining
![Screen Shot 2020-01-08 at 23 39 02](https://user-images.githubusercontent.com/846063/72033141-2ebbb180-3270-11ea-83e6-4434a01b4925.png)
 issue and now it's using the expected range.

[2020-01-09 02:42] #139 closed

[2020-01-09 02:43] thamara commented on #139
Indeed, not an issue. Thanks @kashaiahyah85 .

[2020-01-11 17:23] #160 closed

[2020-01-13 23:08] kashaiahyah85 commented on #10
I've begun working on this using jquery-timepicker

https://github.com/kashaiahyah85/time-to-leave/tree/jquery-timpicker

[2020-01-14 11:40] tupaschoal opened #168 "Text illegible on dark theme"
**Describe the issue**
When changing the theme to dark, the text color is not changing and continues to be black, which makes it illegible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `Edit`->`Preferences`
2. Click on `Dark` under `Themes`

**Expected behavior**
The text color should have been changed to white.

**Environment**
- OS: Windows 10
- TTL version: v1.3.0

**Screenshots

[2020-01-14 19:37] kashaiahyah85 commented on #168
#169 should do

[2020-01-15 01:32] #168 closed

[2020-01-15 01:34] thamara commented on #10
YAY

[2020-01-31 23:14] kashaiahyah85 opened #178 "[enhancement] Why we should switch to a single .css"
**Describe the issue**
Currently, we're using a separate css file for each window. Doing this results in a much higher chance of inconsistent look and feel. Aside from that, it's significantly simplified from a maintainer's vantage point to keep the styles centralized.

If there are reasons for or against, or anything else to discuss, let's do.

[2020-02-01 17:16] tupaschoal opened #179 "Allow app to open on startup"
**Describe the issue**
Some users need the app to pop-up on their faces when computer starts so that they can remember to log their working hours. So it should be possible to configure it to open on startup

**Additional context**
I made it work just alright with the [setLoginItemSettings](https://www.electronjs.org/docs/all#appsetloginitemsettingssettings-macos-windows):
[code]

It should be conf

[2020-02-01 17:23] tupaschoal opened #180 "Clicking X should exit the app, not minimize to tray"
**Describe the issue**
When you click the exit button on the window, it actually hides the window and minimizes it to tray, same behavior as if you click the minimize button.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Time To Leave
2. Click on the X button to exit
3. Notice it is still in the tray

**Expected behavior**
I'd expect it to minimize to tray only when clicking the mini

[2020-02-01 17:32] kashaiahyah85 commented on #180
I have been considering this for a few hours myself, but you beat me to the issue!!

[2020-02-01 23:03] kashaiahyah85 commented on #180
This behavior would make the tray icon and menu essentially meaningless. As is, it works as a person generally expects when they see a tray icon; that closing the window will keep the icon there, and that you'd exit with either the menu or the tray.

Because you find it annoying; I'd like an example of an app that functions as you describe. I can't imagine that behavior with a tray app, which - as

[2020-02-01 23:06] tupaschoal commented on #180
I did think about this for a while. Spotify seems to be one that is built using electron which closes on clicking the X (but allows configuring X to close to tray). It also does minimize and still have a tray icon.

I think close not really doing it is mostly frustrating when developing, as we tend to reopen the app quite a few times to test, but desirable, on daily use

[2020-02-01 23:16] kashaiahyah85 commented on #180
I think that the spotify method would be alright, although we're eventually going to have to restructure the preferences page with all the options! That's not such a bad trouble to have though, because I think this discussion existing proves that this should be an option, and we should weigh the decision for the default.

Although; I very much agree on that last note; which is why we've got electr

[2020-02-01 23:24] tupaschoal commented on #180
Yeah, I think the settings page makes bad use of the real state and is too big for the little amount of settings we have. I'm not in huge pain because most people will only access it once or twice, but in any case I still think that we should introduce the configuration of whether or not closing takes it to tray. We can even make it true by default.

[2020-02-04 21:17] kashaiahyah85 opened #182 "[improvement] [conversation] Let's revisit testing."
**Describe the issue**
As it stands, we test the time math, which is important but also not likely to become broken without being noticed. This isn't to say we shouldn't test that, but that we should be testing essentially everything.

**Additional context**
We'll need to reproduce a number of user's situations and the resulting ways in which they use the app. We'll need to test both the main and

[2020-02-04 23:22] thamara commented on #182
@kashaiahyah85 Do you suggest any specific platform or library for this?

[2020-02-05 00:05] kashaiahyah85 commented on #182
I have shown a few ways in #183 for how we can build on what we've got now. As for testing the portions that need a headless browser; I'm still thinking it will end up being spectron. As a matter of fact, I'm certain of it.

However, I also think it would be best to fill out our current tests with all of the portions of the app which are testable with that method. Which, it seems at a glance, is a

[2020-02-05 16:36] tupaschoal commented on #182
I'm all ears, having more tests is something I've talked a few times with Thamara, we were just clueless until now

[2020-02-10 17:40] tupaschoal opened #184 "Allow user to configure where to save data"
**Describe the issue**
Currently we save everything that TTL needs to in `%appdata%` on Windows or corresponding in other OSes. This might make it difficult for the user to back-up the data, if they want to.

 We should allow users to set where the data is to be saved, so they can rely on some cloud backup. If the user is starting a TTL with data and choosing a new place, we should copy the data o

[2020-02-10 17:56] kashaiahyah85 commented on #184
This seems like it should be wrapped into #28 along with an export. I believe @marisusis had begun looking into the importing.

[2020-02-11 01:40] tupaschoal commented on #184
Likely, though I don't see this one as just dumping data once, but as a way of configuring where the app will always try to read from.

[2020-02-11 16:05] kashaiahyah85 commented on #184
What if we were to check where the app is running from, and use a sane default gathered from that context (is it in /Applications, or on a usb stick?), and have a configurable path in preferences? That would be easily done, I should think.

[2020-02-12 00:34] #179 closed

[2020-02-12 01:32] thamara commented on #184
I'm not sure if I understood the "use a sane default gathered from that context". You mean default to the default path provided by the system (in electron-store that is `app.getPath('userData')`), and have it configurable from the preferences, right?

[2020-02-12 01:37] #28 closed

[2020-02-12 01:38] tupaschoal commented on #180
@thamara what's your take?

[2020-02-12 01:51] thamara commented on #180
I think most users will want to have TTL open, regardless if they click X (sometimes this happens so automatically we don't even notice we did it). To me, this constraint (having TLL open all the time) is one of the motivations for #181.

But I do agree this could be customizable, and it does raise the issue of restructuring the preferences page.  So, to summarize, I think we should:
- Add an opti

[2020-02-12 01:52] thamara commented on #178
I don't see any reason to not do this.

[2020-02-12 01:57] thamara opened #186 "Revamp preferences windows"
As stated in #180:

With new options being added to the preferences we need to review how the information is displayed. It should be simple, efficient and intuitive (and maybe also pretty). We can discuss here some options on this. Should we have multiple tabs? How to group configuration?

[2020-02-12 01:59] thamara commented on #182
I'm tagging this as 1.4.0 as I believe we should strive to have full coverage on TTL before releasing a new version. (Maybe full is too much, we can discuss it.)

[2020-02-12 02:11] thamara opened #187 "Allow user to specify if the summary row will count current day or not"
![Screen Shot 2020-02-11 at 23 04 26](https://user-images.githubusercontent.com/846063/74296644-2d741d80-4d23-11ea-8109-4089142f7f02.png)

Currently, the balance row (the row with the month balance) is located before the current day, in a way of specifying that the count is done up until the day before. But constantly (and don't judy me here), I'm too lazy to do time math and figure out what will

[2020-02-12 23:21] kashaiahyah85 commented on #184
The meaning of a sane default would, in this case, be a default that matches what the system and user would expect to find it if it's not being directly told otherwise. That default would be from electron-store, and configurable from the same place one would import or export from.

[2020-02-12 23:24] kashaiahyah85 commented on #187
Often, a behavior will be called a bug by one, a feature by the other, and a preference by the one who's expected to handle it. I think when it comes to code, laziness is often the _best_ justification for anything on the UX.

[2020-02-12 23:28] kashaiahyah85 commented on #182
@thamara 100% is asking a little much from anything but a simple module. The trick to getting _close_ to 100% will be in refactoring pieces of main and calendar, and getting anything that _can_ be modular into a module. It will become easier over time to test new areas of code, this way.

But we can definitely get much more coverage than we've got yet, and we definitely should! As we go, we will r

[2020-02-13 02:35] thamara commented on #184
I agree and will start working on this soon.

[2020-02-13 02:39] thamara commented on #182
Yeah, full covered is like in dream land. I think one approach for this first milestone (or second, if we count the tape setup as the first), would be to try to cover previous reported and fixed bugs with what we have. And then we can start the refactors and everything else we know we need.

[2020-02-13 18:03] kashaiahyah85 commented on #182
That's a great idea, let the bug-hunt begin!

[2020-02-14 00:33] kashaiahyah85 commented on #182
I just thought I'd update you guys as to progress on test writing:
![Screen Shot 2020-02-13 at 4 28 22 PM](https://user-images.githubusercontent.com/46304146/74490629-03833e00-4e7e-11ea-8daa-7e40d63d8f3e.png)

Note however, this is testing exactly what it says: date-aux, notification, themes, and time-math. Any other code hasn't begun yet. But still, this is the chunk we previously had 40% on.

[2020-02-14 01:26] thamara commented on #182
This looks awesome!
Do you think it's worth to merge the code and maybe we split what might be missing?

[2020-02-14 02:54] kashaiahyah85 commented on #182
![Screen Shot 2020-02-13 at 6 52 58 PM](https://user-images.githubusercontent.com/46304146/74497317-320b1400-4e92-11ea-900c-504a13720fb5.png)

I'm neck deep in user prefs testing, at the moment! I think tomorrow morning we should discuss on the discord. But, this is getting fun.

[2020-02-15 23:13] #186 closed

[2020-02-16 20:34] #180 closed

[2020-02-25 03:20] #60 closed

[2020-02-25 03:29] thamara opened #191 "Have a dismiss button on TTL notification"
After #132 user has the ability to specify interval of notifications or disabling it altogether. It would be nice that with such control, the user would also be able to dismiss the notification for the rest of the day. Something that would behave as "I understand it's time to leave, but I want to ignore that".

[2020-02-25 16:49] kashaiahyah85 commented on #191
Good call!

[2020-02-26 17:38] kashaiahyah85 opened #192 "Importing a database shows double confirming notifications."
**Describe the issue**
Hey, it's better than none. The data and actual functionality is great. Impressive, even. However! As for MacOS, this is what happens when I import; but not when I export.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Edit'
2. Click on 'Import Database'
3. Scroll down to 'time_to_leave.ttldb'
4. See the double notification.

**Expected behavior**
Either node-

[2020-02-26 19:06] kashaiahyah85 opened #193 "`Quit` from the app bar does not quit."
**Describe the issue**
If I right-click on the icon of my app bar and click quit, it does not.

**To Reproduce**
Steps to reproduce the behavior:

1. Right click on the icon.
2. Click on 'Quit'
3. Notice as it minimizes. If minimized, nothing occurs.

**Expected behavior**
It should exit the app

**Environment**

- OS: Mac OS 10.13.6 (17G11023)
- TTL version: master

**Screenshots**
![Screen Shot

[2020-02-28 02:14] #192 closed

[2020-02-29 02:30] #193 closed

[2020-03-07 23:24] kashaiahyah85 opened #196 "[improvement] [1.4.x] Get reports!"
**Describe the issue**
It seems to me that an app that handles schedule clocking - albeit with a slant toward going home on time - should be able to generate attractive and simple reports for whoever may wish to use something like this for employee clocking.

**Expected behavior**
Something akin to the Workday Waiver window could be used to display a report of hours for a selected time frame.

**E

[2020-03-07 23:26] kashaiahyah85 commented on #164
This seems related: #196

[2020-03-08 07:13] tupaschoal commented on #196
I know that @thamara was working on something like this.

[2020-03-09 01:15] thamara commented on #196
Actually I was not. That was something I had on my mind (and even though we had an issue to track this), but no work was done so far.

[2020-03-09 15:30] kashaiahyah85 commented on #196
Quite alright, I've got the time.

[2020-03-24 16:35] kashaiahyah85 opened #198 "Automate Releases"
#### Context / Background
- Introduce fully automated draft releases of installers for linux, mac, and windows.

#### What change is being introduced by this PR?
- Releases.yml in github workflows accomplishes this

#### How will this be tested?
- When given a tag latest/* (latest/v.1.4.2-dev1) or stable/* (stable/v.1.4.1), or when pushed to branch ci/* (ci/feature/packing)

See PR: https://github

[2020-03-24 19:55] tupaschoal opened #200 "Triggering refresh/redraw changes the selected month"
**Describe the issue**
If you do something to trigger the calendar to be redrawn or refreshed, it will reset the view to the current/actual month and you will lose the previous context.

**To Reproduce**
1. Go back to the previous month
2. Add a waiver there
3. Notice that after refreshing, it is now back to the current month.

**Expected behavior**
The app should not change the month being shown.

[2020-03-24 20:24] kashaiahyah85 commented on #200
Well there's a weird one!

[2020-03-25 20:17] kashaiahyah85 commented on #200
I am not quite certain, but after reproducing this I believe it is a desirable feature but not an actual bug. It works as expected from the code, but that way leaves out remembering the window state, and merely reloads like hitting refresh on a browser, starting from square one.
I will be looking into different ways of remembering the main window's state, and keeping it consistent.

[2020-03-25 20:47] kashaiahyah85 commented on #200
I'm thinking we store the focused month during the prevMonth() and nextMonth() functions of js/calendar.js, and store the selected date, rather than the current one, if you are not starting the app for the first time but rather reloading the calendar. This should be entirely handled from calendar.js itself; or else we should seperate off the functions in calendar.js to a seperate (more testable) l

[2020-03-25 20:53] #182 closed

[2020-03-27 01:36] tupaschoal commented on #200
Sounds like a good plan of action, to work on prev and next. We also need to update it on startup, when clicking go to current month and some cleaning routines

[2020-04-09 23:30] thamara commented on #200
I must tell the truth, I know this existed in the tool for basically since it was added and I always overlooked. :S
I'll compensate it by working in it now.

[2020-04-09 23:37] thamara commented on #200
Hmm. Strange. I cannot reproduce on mac. Will try on windows.

[2020-04-09 23:53] tupaschoal commented on #200
Can't reproduce, seems fixed on latest

[2020-04-09 23:53] #200 closed

[2020-04-17 10:05] tupaschoal opened #209 "Punch time button filling whole row"
**Describe the issue**
This is kind of weird, but it seems like if you change your preferences (not 100% sure it's related yet), when clicking the punch button it will register multiple punches, sometimes the whole row.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Preferences
2. Change anything
3. Click the punch time button

**Expected behavior**
Should punch only once

**Environm

[2020-04-17 10:13] tupaschoal opened #210 "Count Today in totals seem to be always on"
**Describe the issue**
There is a new preference, "Count Today in Totals" which seems to be kind of always on but not really. When you finish logging for the day, the month total will update no matter whether you have it on or not, but the balance wont't change.

**To Reproduce**
Steps to reproduce the behavior:

1. Log all the hours in the current day
2. Notice the total changing, but not the bal

[2020-04-17 10:29] tupaschoal opened #211 "Preferences window is a little bit shorter than it should"
**Describe the current limitation**
Width is a tiny bit smaller than it should, which makes the "working days" row become two

![image](https://user-images.githubusercontent.com/6443427/79559988-17fdd580-807d-11ea-9e89-d613532e604a.png)

**Describe the proposed feature or enhancement**
Increase the width a bit to not create two rows

[2020-04-18 18:42] kashaiahyah85 commented on #209
Can confirm, but it isn't related to changing preferences. At least, not necessarily.

Recreated on MacOS

[2020-04-19 02:37] #211 closed

[2020-04-19 02:37] #210 closed

[2020-04-19 03:07] thamara opened #214 "Missing lunch entry should leave the row as an error"
From the comments in #204:

[2020-04-22 20:27] thamara opened #215 "Uncaught Exception: isNan is not defined"
**Describe the issue**
Trying to add a waiver causes an uncaught exception:

![image](https://user-images.githubusercontent.com/846063/80030048-12115580-84be-11ea-800d-d67449756721.png)

It's worth mentioning that besides this, the waiver window opens as expected, but without the day filled.

**To Reproduce**
On TTL, click on the day (e.g. click on "TUE 21" of April. The error should be displayed

[2020-04-22 20:27] tupaschoal commented on #215
aahhaha caught this today too and forgot to open, I think the culprit is one of my commits :X

[2020-04-23 18:46] kashaiahyah85 commented on #215
Worth  nothing; this doesn't happen if you open the window from the menu. But I think you already know what's up :P

[2020-04-24 01:31] tupaschoal commented on #215
I know where it happens, I have no clue as to why the function isn't available, but then, I haven't really debugged it for the moment.

[2020-05-02 19:19] tupaschoal commented on #198
This has already been merged, so I'm closing as resolved.

[2020-05-02 19:19] #198 closed

[2020-05-02 20:15] #215 closed

[2020-05-06 23:16] #209 closed

[2020-05-08 00:34] araujoarthur0 opened #220 "Tried to start development but the npm dependencies are failing"
Hi!
I tried to create my fork and run npm install but it looks like some dependencies are causing the process to fail.
I am trying both on WSL on a Windows 10 PC and on a PowerShell on the same Windows 10 PC.

On WSL:
node version: v14.2.0
npm version: 6.14.5

[code]

[2020-05-08 16:59] kashaiahyah85 commented on #220
Who else uses Windows - @tupaschoal is there anything special that you do to work with it?

[2020-05-08 22:19] araujoarthur0 commented on #27
I want to work with this one :)

[2020-05-08 22:20] thamara commented on #27
I've assigned that to you. Have fun!

[2020-05-08 22:41] araujoarthur0 opened #221 "CSS Lint target is searching on ignored folders"
**Describe the issue**
The CSS lint target on npm (npm lint:css) is searching on ignored folders as well. It is set today as `"lint:css": "stylelint **/*.css"`. When the coverage folder is present on the repository, for example, which appears when running test, the css files from the coverage package will also be linted.

**To Reproduce**
Steps to reproduce the behavior:

1. run `npm run test`
2.

[2020-05-08 23:17] thamara commented on #221
Fixed :)

[2020-05-08 23:17] #221 closed

[2020-05-09 18:17] kashaiahyah85 commented on #221
Thank you so much for the well-formed report!!

[2020-05-09 21:09] araujoarthur0 commented on #220
Found the root cause in https://github.com/rogeriochaves/npm-force-resolutions/issues/10

Apparently the preinstall target on npm is calling out `npx npm-force-resolutions`. This process only works if there is a package-lock.json file. In the case of TTL, it is always committed, but this file may describe versions of packages that will not be installed the first time a person clones the repo.

Run

[2020-05-09 23:24] #27 closed

[2020-05-12 00:29] araujoarthur0 commented on #178
I would say: go for SCSS instead of pure CSS. You can have decentralized declarations of colors, styles, have inheritance in styles definitions, and benefit from a lot of added functionalities to the language :)
At the end you can compress, concatenate and minify it all into one .css file for the build version.
https://alistapart.com/article/why-sass/ is here to back me up haha

[2020-05-12 15:51] thamara commented on #178
On another project I've been working with SCSS and indeed I see the value of it. TBH I barely know what I'm doing in CSS, and SCSS is littler worst, so please correct me if I'm wrong, but wouldn't it be easier/clear to move all css into a single file and then migrate it to SCSS?

[2020-05-12 15:57] araujoarthur0 commented on #178
Hmm, I don't know. I can see it being easier to understand the entire scope of all the files, but at the same time it might simply be double the work to compress and then decompress.
________________________________
From: Thamara Andrade <notifications@github.com>
Sent: Tuesday, May 12, 2020 12:52:10 PM
To: thamara/time-to-leave <time-to-leave@noreply.github.com>
Cc: Arthur Araujo <araujoarthur0@h

[2020-05-12 19:50] tupaschoal opened #226 "Time to Leave is not found on windows taskbar search"
**Describe the current limitation**
When hitting the windows key and typing Time to Leave, I can't find it anymore

**Describe the proposed feature or enhancement**
We should be adding the shortcut for Time To Leave when installing it, cause this is a quick way of opening & finding the app. This is kind of a regression when we changed the packaging & install, but it worked previously, I think, bec

[2020-05-13 19:08] kashaiahyah85 commented on #178
There’s no need for that part to be at all manual, a set of npm build and test process scripts can handle that. I’m curious only as to what benefit a very small and simple app would actually gain. The trouble is that using it would require still more dependencies. We should avoid excess on that. If we can have it as simply part of the dev process alone, we can handle that in a number of ways.

So,

[2020-05-13 19:13] kashaiahyah85 commented on #220
The REAME option is the only real option for this, because the resolutions have to be enforced with the versions listed; using npm install and then not reinstalling with forced resolutions first, the dev environment will no longer be identical to the build environment.

[2020-05-14 00:18] tupaschoal commented on #220
Can you PR the readme change @araujoarthur0 ? :)

[2020-05-14 00:33] tupaschoal commented on #178
Are you really? hhahaha

I think we should first move to a single CSS and then later investigate SCSS or not. I'm with Kash here that it sounds like overengineering.

[2020-05-14 15:48] araujoarthur0 commented on #220
Yes! I'll do it over the weekend :)

[2020-05-15 01:41] araujoarthur0 opened #229 "Count Today in Totals is breaking the month balance"
**Describe the issue**
When disabling the "Count Today in Totals" preference, the actual day is not being counted anymore, but the missing balance of the other days is entering the total calculation.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on Edit
2. Open Preferences
3. Switch off "Count Today in Totals"
4. You will see your month balance go into the negatives if there are unf

[2020-05-15 01:54] #220 closed

[2020-05-16 14:38] araujoarthur0 commented on #152
Please assign me, I'll make the text copyable :)

[2020-05-16 14:49] araujoarthur0 commented on #152
![image](https://user-images.githubusercontent.com/37311270/82122645-38e44400-976b-11ea-9d23-0f2de4f01325.png)

![image](https://user-images.githubusercontent.com/37311270/82122642-308c0900-976b-11ea-8242-b8b979cbe019.png)

Which do you prefer?
I made the first one, thought it looked strange with two types of buttons, made the second one, and thought it ugly 🤣

[2020-05-16 14:51] tupaschoal commented on #152
Ideally I'd say the user would be able to hold left mouse button and really select to copy, but I find the button more practical.

I'd go with the second option, as it yields a consistent visualization

[2020-05-16 14:52] araujoarthur0 commented on #152
Nice, consistency is a good ideal to follow. I'll make a PR with it.

[2020-05-16 19:35] #152 closed

[2020-05-17 17:58] araujoarthur0 commented on #178
Please assign to me :)
I'll make a PR with the one CSS, and if I have time I'll propose afterwards a one SCSS file to enjoy the nesting capabilities of the language.

[2020-05-17 18:30] tupaschoal commented on #178
Done

[2020-05-19 00:50] kashaiahyah85 commented on #226
I think I know what's going on with this one; I'll get on it.

[2020-05-21 01:20] tupaschoal opened #232 ""Total" bar not updating automatically on day change"
**Describe the issue**
When I start my day, I'm now noticing that I have to refresh TTL so that the bar moves down. I think this is a regression.

**To Reproduce**
1. Leave TTL open
2. Check next day that the bar was stuck on day -1

**Expected behavior**
The totals bar should move with every new day.

[2020-05-21 16:33] araujoarthur0 opened #233 "Crash when opening the waiver for a day"
**Describe the issue**
When clicking on the waiver button for one day, on the leftmost row of the main calendar, the program suddenly crashed.

**To Reproduce**
Steps to reproduce the behavior:

1. Clicked on waiver button on the name next day. (Today only had one entry yet)
2. Crash.

It's happening on all days after today, right now.

**Expected behavior**
No crash.

**Environment**

- Node/npm

[2020-05-21 17:46] kashaiahyah85 commented on #233
Thank you for that nice recording and providing clear information! Getting on that.

[2020-05-21 18:33] tupaschoal commented on #233
I thought this had been solved on #218

[2020-05-21 18:48] kashaiahyah85 commented on #233
#234  Should do it.
Let's test a bit and close it.

[2020-05-21 18:51] kashaiahyah85 commented on #233
The symptom had, but for a different problem. This should fix up this particular cause:
https://github.com/kashaiahyah85/time-to-leave/pull/63

[2020-05-21 18:52] kashaiahyah85 commented on #233
The symptom had, but for a different problem. This should fix up this particular cause:
#233

[2020-05-22 00:57] araujoarthur0 commented on #229
I'm working on this.

[2020-05-23 00:47] #229 closed

[2020-05-23 02:17] #233 closed

[2020-05-23 20:43] araujoarthur0 opened #239 "Waiver doesn't disable punch"
**Describe the issue**
When adding a waiver for the day, the punch button stays active. It should be disabled, since it won't do anything else.

**To Reproduce**
Steps to reproduce the behavior:

1. Add waiver for the day.
2. See punch button still active.

**Expected behavior**
Punch button should be inactive.

**Environment**
Version: 1.5.2-dev
Electron: 7.1.13
Chrome: 78.0.3904.130
Node.js: 12.

[2020-05-23 20:46] araujoarthur0 opened #240 "Waiver deletion doesn't allow new waivers."
**Describe the issue**
When removing a waiver, it's not possible to add a new one without closing the window.

**To Reproduce**
Steps to reproduce the behavior:

1. Remove waiver.
2. Try to add a new one.

**Expected behavior**
After removing you should then be able to add new ones.

**Environment**
Version: 1.5.2-dev
Electron: 7.1.13
Chrome: 78.0.3904.130
Node.js: 12.8.1
OS: Windows_NT x64 10.0.1

[2020-05-23 22:25] araujoarthur0 commented on #96
Hey guys.
I'm working a very simple "Day View". The implementation was made easier after separating the Calendar class.

Basically it's the same table, limited to one day. I added a select on the title bar to choose the day, using the `input type="date"` facilities. The month sum and balance are being calculated up to that day, and changes based on the "count today in total" preference as well, bu

[2020-05-23 23:38] thamara commented on #96
Wow, that looks really good already!

I think it makes sense to not have the punch button enable if the displayed day is not the current one. This actually make me think about the behavior of such button today if the month displayed is not the current one.

I guess the window height would resize after clicking on this option

I agree. It would be nice to have this automatic window adjustment when

[2020-05-24 00:09] araujoarthur0 commented on #96
Agreed!
That also made me worried 🤣

I loved the mockups ❤️ With that size one can open and keep it at the corner of the screen. Though the first one keeps the order of times, the second one makes it obvious which ones are inputs and which ones aren't.

[2020-05-24 00:13] thamara opened #241 "Time between notification is strange when using AM/PM"
When using AM/PM settings, the time between notification in the preferences window is strange:
![image](https://user-images.githubusercontent.com/846063/82742921-2d2fe900-9d3a-11ea-839b-d5ab099cd1d0.png)

The expected behavior is for it not include the 12.

[2020-05-24 00:14] thamara commented on #241
In order for improving this we may need to move from having it as an input time to be a text input.

[2020-05-24 01:15] tupaschoal commented on #96
I love the second suggestion too

[2020-05-24 19:15] araujoarthur0 commented on #96
I think I'm in love with this design hahahha

![day](https://user-images.githubusercontent.com/37311270/82762844-b2b6a600-9dd9-11ea-81f0-c993755c0f31.gif)

Please assign this to me and I'll make this into some nice patches.

[2020-05-24 19:35] tupaschoal commented on #96
I assigned it. I think it can be even more minimal in the future, but it already looks awesome as it is.

[2020-05-24 20:36] tupaschoal commented on #96
@araujoarthur0 it'd be great to have a button somewhere on the interface for quick switch between minimalist/full version

[2020-05-25 00:17] tupaschoal opened #244 "Opening Waiver from table doesn't fill up date"
**Describe the issue**
When you click on a day to open the waiver window, the dates are not being filled up

**To Reproduce**
1. Open TTL
2. Click on any day to open the workday waiver manager
3. Note how date is unfilled

**Expected behavior**
Date should be pre-filled with the clicked day

**Environment**

- Version: 1.5.2-dev
- Electron: 9.0.0
- Chrome: 83.0.4103.64
- Node.js: 12.14.1
- OS: Win

[2020-05-25 16:20] kashaiahyah85 commented on #244
Let's check the difference between the call in calendar.js vs the call in main.js's menu. Ideally that entire part should be put into its own js, and reference by the same methods.

[2020-05-26 02:49] thamara commented on #96
I agree with Tulio, maybe something on the left of the "<" button, to equilibrate the "calendar" button.

[2020-05-26 02:51] thamara commented on #240
@araujoarthur0 In order to be able to add a waiver one must input the "Reason". Without it the Waive button is not enabled.
From the gif I didn't see the input being entered.
I tried to reproduce here and could not see any problem.

[2020-05-26 02:54] araujoarthur0 commented on #240
After pressing delete, the inputs became "uneditable", so I couldn't input a new reason. Are you on mac? Could it be a Windows-only issue?

[2020-05-26 02:56] tupaschoal commented on #240
I think I also reproduced it on windows

[2020-05-26 02:56] thamara commented on #240
Yeah, I'm on mac and could not see the problem. Can you please check the developer log to see if any error message is being printed?

[2020-05-26 03:01] #239 closed

[2020-05-26 03:11] #178 closed

[2020-05-27 20:13] araujoarthur0 commented on #241
Maybe just a number input and indicate it's going to be a number of minutes

[2020-05-27 20:17] araujoarthur0 commented on #240
Nothing appeared on the log. However it looks like the inputs become selectable again after switching windows, without closing.

[2020-05-27 20:35] araujoarthur0 opened #245 "Allow Dev Tools on Waiver and Preference Windows"
**Describe the current limitation**
Dev Tools doesn't open on waiver and preference windows => makes it harder to debug

**Describe the proposed feature or enhancement**
Using the suggestion presented here https://stackoverflow.com/a/37814569, I was able to trigger the opening of a dev tools on the waiver window. Perhaps we could either
* attach the opening of dev tools to a keyboard shortcut
* or

[2020-05-27 21:15] araujoarthur0 commented on #240
Found it: https://stackoverflow.com/questions/56805920/cant-edit-input-text-field-after-window-alert

[2020-05-27 21:40] tupaschoal commented on #240
Done

[2020-05-30 13:03] tupaschoal commented on #245
I'd be ok with it. We already have a shortcut for it on the main window "Ctrl + Shift + I", we could make it work everywhere

[2020-05-30 19:55] tupaschoal opened #248 "UnhandledPromise Warnings on terminal"
**Describe the issue**
Weird warnings on the terminal

**To Reproduce**
I don't really know, I let it idle for a bit and noticed all these warnings. They might be related to opening the preferences or workday waiver manager.

**Expected behavior**
Clean terminal

**Environment**

- Version: 1.5.2-dev
- Electron: 9.0.0
- Chrome: 83.0.4103.64
- Node.js: 12.14.1
- OS: Windows_NT x64 10.0.18362

**Scr

[2020-05-31 00:14] tupaschoal opened #250 "Don't allow adding waivers to non-working day"
**Describe the current limitation**
If you try to add a waiver to a non working day, currently, it fails silently, neither adding it nor telling you that it can't be done.

**Describe the proposed feature or enhancement**
I think we should pop-up, like when we try to a day that already exists or an end date before the start date

[2020-05-31 02:20] tupaschoal opened #252 "App allow multiple preference and workday waiver windows to be opened"
**Describe the issue**
It is possible to open multiple windows of the auxiliary ones.

**To Reproduce**
1. Open the menu
2. Click on Preferences or Workday Waiver Manager
3. Repeat
4. See that you now have multiple items.

**Expected behavior**
It should only be allowed to open one window at a time.

**Environment**

- Version: 1.5.2-dev
- Electron: 9.0.0
- Chrome: 83.0.4103.64
- Node.js: 12.14.1

[2020-05-31 02:43] #240 closed

[2020-05-31 02:58] #250 closed

[2020-05-31 19:24] araujoarthur0 opened #255 "Closing the preferences window without changing anything causes an exception"
**Describe the issue**
A clear and concise description of what the issue is.

Closing the preferences window without changing anything causes an exception

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Edit
2. Click on Preferences
3. Close without saving
4. See error

![image](https://user-images.githubusercontent.com/37311270/83360870-f883e900-a35a-11ea-87a8-649cbe1b8f75.png)

**Exp

[2020-05-31 19:29] tupaschoal commented on #255
I thought this would have been fixed by https://github.com/thamara/time-to-leave/pull/249 😭

[2020-05-31 19:30] araujoarthur0 commented on #255
Apparently there were two different issues heuahea

[2020-06-02 23:50] araujoarthur0 opened #257 "Import-export test leaves folder behind"
**Describe the issue**
A clear and concise description of what the issue is.

The import-export test creates a temporary folder in `fs.mkdtempSync('import-export');`, but never erases it. My repo is full of these folders after running the tests.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to your repo
2. Run npm run test
3. See a folder called import-export* on your repository.

**Ex

[2020-06-03 02:40] tupaschoal commented on #257
Hahaaha mine is full too, so annoying

[2020-06-03 15:48] araujoarthur0 opened #258 "Crash when changing network"
**Describe the issue**
A clear and concise description of what the issue is.

While turning my VPN on here, the internet connection was switching, and caused a crash in time to leave while it was searching for page URLS.

![err](https://user-images.githubusercontent.com/37311270/83658316-708b2280-a598-11ea-845a-5e835bbed1f6.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Start changing

[2020-06-03 23:04] tupaschoal commented on #258
Omg

[2020-06-04 01:30] #252 closed

[2020-06-05 00:13] araujoarthur0 commented on #245
You can close this now

[2020-06-05 00:15] araujoarthur0 commented on #96
Don't know if you want to close this or keep for the even more minimal idea

[2020-06-05 00:30] araujoarthur0 commented on #232
I think it's only calling calendar.redraw(), which doesn't change the internal _today member variable. That is used to see where the balance bar should be.

[2020-06-05 01:39] tupaschoal commented on #96
I'm alright with our current solution, thanks :)

[2020-06-05 01:39] #96 closed

[2020-06-05 01:39] tupaschoal commented on #245
@araujoarthur0 a tip: If you write "Closes #XXX" on your PR text when opening it, the issue is automatically closed when it gets merged :)

[2020-06-05 01:39] #245 closed

[2020-06-05 01:43] #257 closed

[2020-06-05 01:51] araujoarthur0 commented on #245
Oh, nice to know!

[2020-06-05 02:09] #255 closed

[2020-06-05 02:10] araujoarthur0 commented on #245
Could we update the template with this?

[2020-06-05 02:10] #244 closed

[2020-06-05 02:14] tupaschoal commented on #245
Just did on #264

[2020-06-05 02:14] tupaschoal commented on #232
I think it used to, but doesn't anymore heheh

[2020-06-19 01:01] thamara opened #268 "Fix test of waiver window on MacOS"
**Describe the issue**
After #266 the testcases added fails on macOS but we don't know why.

**To Reproduce**
Remove the early return from from __tests__/__renderer__/window-aux.js.

**Environment**
MacOS

[2020-06-19 01:20] araujoarthur0 commented on #187
Wasn't this solved in https://github.com/thamara/time-to-leave/pull/197 ?

[2020-06-19 01:22] tupaschoal commented on #187
#197 was closed, not merged.

[2020-06-19 01:23] #241 closed

[2020-06-19 01:30] araujoarthur0 commented on #187
You're right.
Apparently the preferences for "Count Today" was added in https://github.com/thamara/time-to-leave/pull/183, the actual usage was added in https://github.com/thamara/time-to-leave/pull/213, and fixed in https://github.com/thamara/time-to-leave/issues/229.

[2020-06-19 15:39] tupaschoal commented on #187
Yeah, I tested and also think it works hahaha

[2020-06-19 15:39] #187 closed

[2020-06-19 17:59] #258 closed

[2020-06-22 01:28] #232 closed

[2020-06-22 02:24] thamara opened #275 "Fix check for error in day entry"
On tests for hasInputError on `__tests__/__renderer__/classes/Calendar.js` from #659, we noticed that certain conditions that should cause the function to return an error, actually return true (not error).
This issue tracks the fix of the function in order to enable the commented lines in the test.

[2020-06-22 19:50] progkix opened #276 "Error: Image could not be created from /usr/lib/time-to-leave/resources/app.asar/assets/timer.ico"
**Describe the issue**
After install the latest RPM, tried running from Fedora menu and it does not start. Go to terminal session and enter time-to-leave and get the following:

_Mon, 22 Jun 2020 19:28:11 GMT uncaughtException: Image could not be created from /usr/lib/time-to-leave/resources/app.asar/assets/timer.ico
Error: Image could not be created from /usr/lib/time-to-leave/resources/app.asar/

[2020-06-23 00:12] thamara commented on #276
@progkix Does the previous release work as expected?

[2020-06-23 05:22] progkix commented on #276
yes, the application (1.5.1) started but threw this error:

Uncaught Exception:
TypeError: Error processing argument at index 0, conversion failure from /usr/lib/time-to-leave/resources/app.asar/assets/timer-grey.ico
at createWindow (/usr/lib/time-to-leave/resources/app.asar/main.js:-426.12)
at App.<anonymous> (/usr/lib/time-to-leave/resources/app.asar/main.js:-503:5)
at App.emit (events.js:208:15

[2020-06-23 17:53] araujoarthur0 commented on #276
Maybe the updated version of electron in the new release upgraded the dismissable error to a breakable error :(

[2020-06-23 20:41] thamara commented on #276
Yeah, that a fair guess. I'm setting up a Fedora VM to be able to reproduce the issue.

[2020-06-24 00:23] #276 closed

[2020-06-25 04:17] thamara opened #283 "Jest failing in ubuntu"
As seen in #282, jest fails when run in ubuntu. This prevent us from testing and validating the app on Linux based systems.

[2020-06-27 20:06] thamara opened #285 "Fix release to .deb"
In https://github.com/thamara/time-to-leave/commit/3688ce1424269376cf58242bc33389d7dbbced63 I removed the release to .deb as it was broken. My feeling is that it is related to [this issue](https://github.com/electron-userland/electron-installer-debian/pull/224) on electron-installer-debian.
It needs further investigation.

[2020-06-27 20:13] thamara commented on #276
Hey @progkix, a new [release](https://github.com/thamara/time-to-leave/releases/tag/v.1.5.4) of Time to Leave was done and now includes the fix of launching the app using the rpm.
Do you mind giving it a try to see if everything is ok?

[2020-06-27 20:43] progkix commented on #276
just upgraded with the 1.5.4 rpm and the applicatin started right up without any issues

[2020-06-27 23:03] thamara commented on #276
Yay! Great!

[2020-06-28 21:05] thamara commented on #285
Issue has been fixed in electron-installer-debian and I have reverted the change.

[2020-06-28 21:05] #285 closed

[2020-06-29 14:10] tupaschoal opened #287 "Calendar year change test failing"
First detected on https://github.com/thamara/time-to-leave/pull/286/checks?check_run_id=818158595 (but not due to it), there's one test failing in our suite, which needs to be fixed.

EDIT:
Culprit is @araujoarthur0 https://github.com/thamara/time-to-leave/commit/b4ccec0

[2020-07-02 03:25] #287 closed

[2020-07-02 03:56] thamara opened #290 "Fix 'Complex Method' issue in js\classes\Calendar.js"
[CodeFactor](https://www.codefactor.io/repository/github/thamara/time-to-leave) found an issue: Complex Method

It's currently on:
[js\classes\Calendar.js:780-844
](https://www.codefactor.io/repository/github/thamara/time-to-leave/source/master/js/classes/Calendar.js#L780)

[2020-07-02 03:57] thamara opened #291 "Fix 'Complex Method' issue in js\user-preferences.js"
[CodeFactor](https://www.codefactor.io/repository/github/thamara/time-to-leave) found an issue: Complex Method

It's currently on:
[js\user-preferences.js:75-148
](https://www.codefactor.io/repository/github/thamara/time-to-leave/source/master/js/user-preferences.js#L75)

[2020-07-02 03:58] thamara opened #292 "Fix 'Complex Code' issue in js\classes\Calendar.js"
[CodeFactor](https://www.codefactor.io/repository/github/thamara/time-to-leave) found an issue: Complex Code

It's currently on:
[js\classes\Calendar.js
](https://www.codefactor.io/repository/github/thamara/time-to-leave/source/master/js/classes/Calendar.js)

[2020-07-04 07:04] #290 closed

[2020-07-06 02:34] thamara opened #300 "Layout broken when width < 770px"
**Describe the issue**
Layout is broken when the width is smaller than 770px.

**To Reproduce**
Resize window.

**Expected behavior**
To not be broken :)

**Screenshots**
![image](https://user-images.githubusercontent.com/846063/86550132-f68fe580-bf17-11ea-912f-66cd2383c16e.png)

[2020-07-13 18:33] thamara opened #310 "Refactor calls that format string for db queries"
In a lot of places around TTL we concatenate strings to format the DB key in the form: `YYYY-MM-DD` or `YYYY-MM-DD-SOME-ATTR`.
We should replace all of these calls by one unique one in order to avoid code duplication and possible bugs in the future.

[2020-07-13 18:38] #164 closed

[2020-07-14 05:25] thamara opened #312 "Remove deprecated APIs"
When running tests we see:

  Electron Deprecation Warning The 'remote' module is deprecated and will be disabled by default in a future version of Electron. To ensure a smooth upgrade and silence this warning, specify {enableRemoteModule: true} in the WebPreferences for this window.

We should remove this.

To reproduce:
npm run test

[2020-07-16 02:59] thamara commented on #11
I'm currently working on this and would like some feedback on the flow I'm implementing. @tupaschoal and @araujoarthur0 can you please share some thoughts on this?

 Basically I'm adding a tab on Workday Waiver called Holiday. In it, the user selects the year, country, state, and city (if available). All the holidays matching that are displayed automatically bellow, with some columns to indicate i

[2020-07-16 03:01] thamara opened #313 "Overall balance should respect preference of counting today in totals"
Overall balance should respect preference of counting today in totals

[2020-07-16 12:51] tupaschoal commented on #313
Again? ahhaha damn this one comes back

[2020-07-16 14:28] araujoarthur0 commented on #11
I think that looks wonderful. The conflict feature is even more than I expected :)

[2020-07-16 14:34] tupaschoal commented on #11
It looks brilliant. I have a few comments and questions:

1. What happens if you choose to add a holiday on a day that has a conflict? Does it override the previous entry or just fails silently?
2. What happens if you choose to add a holiday on a day that is a non working day? It just fails silently?
3. Do we remember the last location set by the user? If not, I think it would be a nice to have, s

[2020-07-16 15:01] thamara commented on #313
Not again ahhahaha
This is regarding the new all-time total. When I implemented it I didn't consider the option the user has for counting today on the totals, and I found it very strange when using that the monthly total was changing based on today, but not the overall total.

[2020-07-16 18:27] thamara commented on #11
It overrides the previous entry.

Just adds it anyway, but this entry is not used by the app.

For now, it doesn't. I have thought about "inferring" the user location based on geolocalization, but I could not find a good (and light) library for this. This could be an enhancement in the future.

For the 2 first topics, I think I can create a warning message, or confirmation box informing this to th

[2020-07-16 18:48] tupaschoal commented on #11
I think we're alright with them overwriting for now, pop-up may be a bit distracting.

As for saving the location, like I said, it's a nice to have to avoid a few clicks once a year (potentially)

[2020-07-16 18:49] tupaschoal commented on #313
Ah, correct, that's a little bit better then :D

[2020-07-17 01:46] #268 closed

[2020-07-24 00:40] #11 closed

[2020-07-24 05:08] #313 closed

[2020-07-28 20:31] tupaschoal opened #328 "Swap position for overall and month balance on day view"
**Describe the current limitation**
Overall balance seems to be wrongly positioned on the day view

**Describe the proposed feature or enhancement**
Swap the month and overall position on the day view to be consistent with the month view

![Untitled](https://user-images.githubusercontent.com/6443427/88718195-f7bbc900-d0f7-11ea-9a1c-38a12d04dcda.png)

**Additional context**
Here's the month view fo

[2020-07-31 00:16] #328 closed

[2020-07-31 11:16] araujoarthur0 opened #333 "Add a Start Date for Overall Balance Calculation"
**Describe the current limitation**
The new overall balance feature is great. However, it considers everything in the TTL database for calculation. It may be even better if you allow the user to set the start date for the calculation. For example, one may only need to calculate after a certain month. Or, one left his company but is still using TTL and doesn't want to clean his database.

**Describ

[2020-07-31 18:24] araujoarthur0 opened #334 "Overall balance performance issue"
**Describe the issue**
After the addition of the overall balance feature, there's been a considerable performance degradation on TTL.

**To Reproduce**
Steps to reproduce the behavior:

1. Open TTL and see it taking a few seconds to load up, and images as well (gif attached).
2. If you use Developer Tools and run Profiler, you'll see "ComputeAllTimeBalanceUntil" as a big villain.

**Expected behav

[2020-07-31 18:56] tupaschoal commented on #334
I thought it was async? If not maybe it should

I noticed we should also cache it or be smarter on when to request it, because if I'm not mistaken, changing months or changing from day to month view trigger it to be recalculated, but it didn't really need to

[2020-07-31 19:50] thamara commented on #334
I thought it was async. At least I had tried going in that direction. But I might have messed something up.

[2020-08-07 03:38] #334 closed

[2020-08-09 23:59] #333 closed

[2020-08-21 19:37] araujoarthur0 opened #350 "Setting to avoid TTL on the tray"
**Describe the current limitation**
Selecting the configuration "Close button should minimize to tray" does stop the close button from minimizing to the tray. However, when minimizing the window, it still goes to the tray.
What I'd like is a way to avoid the tray alltogether.

**Describe the proposed feature or enhancement**
A new setting "Minimize button should minimize to tray" to stop this beha

[2020-08-27 05:35] ThomasBe opened #355 "Prefill break time (lunch time)"
Our system at work automatically substract a certain time from the (automatically) clocked time.

At the moment I have to fill in the times for lunch manually.
I fill them for all days with this mentioned certain value for our systems.

It would be helpful if it is possible to predefine a break time as a kind of general settings valid for all days or prefill the fields.

[2020-08-27 06:08] thamara commented on #355
Hi @ThomasBe, thanks for filling in this enhancement!
Can you give an example with some numbers on how this time subtraction works?

[2020-08-27 07:38] ThomasBe commented on #355
...to give some more 'details':
If I enter the office in the morning I "check-in". Leaving after work I 'check-out'. The time between is saved by the 'system'. If my time at work is less than 6 hours the sytem automatically  reduce the booked time by 15 minutes. If I'm more than 6 hours in the office/building, the ssytem substracts 45 minutes. If I really do a 'strange' break or if the is a bigger

[2020-08-31 12:10] tupaschoal commented on #355
The details of whent to add 45min or 15min seem too specific for general usage. What I thought we can do is: you set a predefined break on the app settings and every time you punch out for lunch, it automatically punches in again with the exact interval you chose. That would make most of your 45min inputs automatic. If for some reason you need to change it to a 15-min, then you can just edit manua

[2020-09-02 00:56] NetizenAbel opened #356 "Linux Desktop Support"
**Linux Desktop Doesn't Work**
Rather, it doesn't work very well.

**Additional context**
I will begin adapting the app for Linux desktops, working on Ubuntu, and then publish to snapcraft.

[2020-09-02 01:29] thamara commented on #356
Great! Thanks @kashaiahyah85 !
The one that worries me a bit regarding Linux support is that we are not able to run the tests on Ubuntu. I have opened #283 for that, and even started to debug it (it may be related to jest/jest for eletron), but unfortunately I didn't had the time to move forward.

[2020-09-02 01:54] araujoarthur0 commented on #312
Got a new one today, which may be related

electron/js2c/renderer_init.js:14 (electron) Security Warning: webFrame.executeJavaScript was called without worldSafeExecuteJavaScript enabled. This is considered unsafe. worldSafeExecuteJavaScript will be enabled by default in Electron 12.

[2020-09-02 03:29] araujoarthur0 opened #357 "Flexible table length"
**Describe the current limitation**
Today we're limited by just 4 columns for table entries, even though we may leave work more than just once for lunch.

**Describe the proposed feature or enhancement**
A flexible column approach to TTL, keeping the same balance and total behaviors. One will be able to see by default 4 entries, and then add/remove pairs of entries as seen fit.

[2020-09-06 06:28] thamara commented on #312
TTL relies on the remote module, which had the default value changed in electron 10. We can locally enable it, but
jest-electron-runner does not offer such configuration, which basically means that all of our tests will not run as expected (i.e. not run at all).
I'm studying some options, but so far, things don't look good.
Ideally, we would move away from the remote module, which means a big refa

[2020-09-10 04:42] ThomasBe commented on #355
...sorry for the delay, I was a little bit of because of holidays ;)
@tupaschoal Short answer: Sounds good.

[2020-09-10 22:27] thamara commented on #355
Looks like a good feature @ThomasBe. We'll try to include it in upcomming versions of TTL.

[2020-09-12 02:02] thamara opened #362 "Preferences window is too small for its content"
**Describe the issue**
The default size of the Preferences window is making the "Overall Balance Start Date" be incorrect align.

![image](https://user-images.githubusercontent.com/846063/92984674-3deba280-f482-11ea-9654-a7dee815375e.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Open TTL
2. Click on Edit > Preferences
3. See error

**Expected behavior**
Not to wrap the words.

[2020-09-12 05:19] thamara opened #363 "Enable brace-style"
Enable ESLint rule:

[code]

[2020-09-12 05:21] thamara commented on #363
Let's wait for #358 before doing this.

[2020-09-13 03:27] #357 closed

[2020-09-13 03:32] araujoarthur0 opened #365 "Investigate CRLF vs LF on es lint and CodeFactor"
**Describe the issue**
CodeFactor is complaining a lot about CRLF characters on .js files, due to the ESLint rule asking for unix-style line breaks (LF).
This happens even from commits coming from unix environments.
Using the `eol=lf` config on `.gitattributes` didn't work on forcing the committed files to have LF characters, but using ``linebreak-style: [2, "unix"]`` on `.eslintrc.json` instead o

[2020-09-13 23:28] thamara commented on #365
Issue seems to be fixed in [7c4a475 ](https://github.com/thamara/time-to-leave/commit/7c4a4754beacdac0a79f91e13da9d57ce56e8fcc) with some adjustments on the code factor itself (read: removing and adding the repository again).

[2020-09-13 23:28] #365 closed

[2020-09-15 00:13] araujoarthur0 opened #369 "Day View for Flexible Format"
**Describe the current limitation**
After https://github.com/thamara/time-to-leave/issues/357, a flexible format was introduced, for the Month View. This issue is to request a day view for that same format.

**Describe the proposed feature or enhancement**
The idea of adding entries should be reproduced for the smaller day view. Perhaps a vertical scrolling box could allow for quick expansion of e

[2020-09-29 04:12] thamara opened #372 "Update README screenshots"
Please update the screenshots on README file.

[2020-09-29 05:18] mohammed786 commented on #372
Hey @thamara ,

Can I take this up for hacktoberfest 2020?

[2020-09-29 15:15] tupaschoal commented on #372
Sure

[2020-09-30 01:54] thamara commented on #372
I have assigned that to you @mohammed786 :)

[2020-09-30 02:13] araujoarthur0 commented on #362
I have a feeling this may be different in Mac vs. Windows (and perhaps on linuxes)

[2020-09-30 09:35] anatdagan commented on #214
Hi Thamara,
Please assign this issue to me
Thanks, Anat

[2020-09-30 09:48] thamara commented on #214
Done!

[2020-09-30 09:56] anatdagan commented on #214
I will, thanks :)

[2020-09-30 10:24] anatdagan commented on #214
Hi Thamara,
How does the user "leave for lunch" or "retutn from lunch"?
I only see one button

Thanks

[2020-09-30 10:29] tupaschoal commented on #214
Every time you punch, you're toggling that you're entering or leaving work. There can be no odd numbers of punches, because that would mean you never left work.

We currently support 4 entries a day, which are filled sequentially when you use the punch button, but can also be filled manually by clicking the field:
- 1st punch: when you begin working
- 2nd: when you leave for lunch
- 3rd: when you

[2020-09-30 10:30] anatdagan commented on #214
I see, if you fill it manually.
Thanks!

[2020-09-30 10:43] anatdagan commented on #214
When do we want the validation done? on redraw or on bur event?

[2020-09-30 11:39] tupaschoal commented on #214
Anytime an input changes, I'd say.

Note that we have an open PR to make the number of entries unlimited, so better to make the validation code generic.

[2020-09-30 18:44] mohammed786 commented on #372
Hey @thamara ,

I need to run the app, take the screenshot and update right?

Or do you have the screenshots that needs to be updated?

[2020-09-30 19:35] daretobedifferent18 commented on #300
I want to work on this issue

[2020-09-30 19:43] araujoarthur0 commented on #300
There you go :)

[2020-09-30 20:17] araujoarthur0 opened #375 "Enable no-var in ESLint"
This enhancement is to allow the rule "no-var" (https://eslint.org/docs/rules/no-var) in ESLint.
This will allow us to avoid var usage, which is a probable source of bugs due to strange scoping rules (https://medium.com/javascript-scene/javascript-es6-var-let-or-const-ba58b8dcde75).

[2020-09-30 20:18] araujoarthur0 opened #376 "Enable prefer-const in ESLint"
This enhancement is to allow the rule "prefer-const" (https://eslint.org/docs/rules/prefer-const) in ESLint.
This will allow us to prefer const usage when a variable shouldn't change values, avoiding a probable source of bugs.

[2020-09-30 21:33] thamara commented on #372
Run and update the screenshots :)

[2020-09-30 21:48] nikikalwar commented on #292
I want to work on the issue @thamara.

[2020-09-30 22:10] tupaschoal commented on #292
Sure

[2020-09-30 22:12] skevprog commented on #291
Can I take this one?  @thamara  . I think that I can come up with some refactor ideas

[2020-09-30 22:12] tupaschoal commented on #291
Sure

[2020-10-01 01:34] mbokinala commented on #275
@thamara what exactly are the conditions that cause the function to behave unexpectedly?

[2020-10-01 01:37] mbokinala commented on #51
@thamara I can work on this, can you assign it to me?

[2020-10-01 01:40] tupaschoal commented on #51
Sure

[2020-10-01 02:07] kumaranshu72 commented on #310
@thamara can I pick this up?

[2020-10-01 02:21] thamara commented on #310
Sure! I've assigned that to you.

[2020-10-01 02:36] thamara commented on #275
Hi @mbokinala , the problematic portion are on test `hasInputError(dayBegin, lunchBegin, lunchEnd, dayEnd)`, close to lines 188.

[code]

I suspected this should have some overlap with #214, so I think it would be best to wait for PR   #374 before working on this.

[2020-10-01 04:45] #372 closed

[2020-10-01 05:13] ibamibrhm commented on #362
@thamara can I work on this?

[2020-10-01 10:49] araujoarthur0 commented on #362
You got it

[2020-10-01 13:29] akaash11 commented on #362
@thamara Hi, I have fixed the issue in style.css for preferences-window p:
` text-align: left `

[2020-10-01 15:45] #300 closed

[2020-10-01 23:43] Samibanley commented on #355
I would like to give this a try, if it is still available.

[2020-10-01 23:45] araujoarthur0 commented on #355
Thanks, I've assigned it to you

[2020-10-02 00:03] araujoarthur0 opened #385 "Reinforce param order in Calendar.js"
**Describe the current limitation**
Multiple methods from Calendar.js follow a different param ordering.
Some have "year, month, day", others have "day, month, year".

**Describe the proposed feature or enhancement**
Let's make this consistent :)
I'm pushing for year, month, day, since that's the format the DB is working with.
@thamara do you agree?

[2020-10-02 00:04] araujoarthur0 commented on #385
Whoever picks this, please wait till https://github.com/thamara/time-to-leave/pull/384 is approved, as you'll have to fix the docblocks too :) hahaha

[2020-10-02 00:39] araujoarthur0 opened #386 "Increase test coverage - preferences.js"
**Describe the current limitation**
Our test coverage is right now 0% for preferences.js

**Describe the proposed feature or enhancement**
Add tests for that file :)

[2020-10-02 00:40] araujoarthur0 opened #387 "Increase test coverage - workday-waiver.js"
**Describe the current limitation**
Our test coverage is right now 33% lines for workday-waiver.js

**Describe the proposed feature or enhancement**
Add tests for that file :)

[2020-10-02 00:41] araujoarthur0 opened #388 "Increase test coverage - main.js"
**Describe the current limitation**
Our test coverage is right now 0% for main.js.

**Describe the proposed feature or enhancement**
Add tests for that file :)
This might be tricky since we don't know yet how to do that. That's where you enter :D

[2020-10-02 01:26] Samibanley commented on #388
I can help with this :)

[2020-10-02 01:28] tupaschoal commented on #388
Yey, please do!

[2020-10-02 01:36] thamara commented on #388
That would be awesome!

[2020-10-02 02:04] araujoarthur0 opened #389 "'use strict' in all js files"
Let's add 'use script' to all js files:

https://stackoverflow.com/questions/1335851/what-does-use-strict-do-in-javascript-and-what-is-the-reasoning-behind-it

[2020-10-02 03:02] #389 closed

[2020-10-02 03:50] thamara opened #392 "Welcome Hacktoberfest people!"
We are very happy to have you here! Before starting, please read the [development guide](https://github.com/thamara/time-to-leave/blob/main/DEVELOPMENT.md).

If you have a specific issue you want to work on, please shout to us on the issue and we'll assign you that issue (this way no one will have their work thrown away).
If you want to work on something that's not captured in any issue yet, you a

[2020-10-02 04:20] kumaranshu72 commented on #310
@thamara Please review the PR #393 for this issue.

[2020-10-02 05:00] damirJa commented on #387
Could I help with this?

[2020-10-02 05:00] tupaschoal commented on #387
Sure

[2020-10-02 05:49] parnus01 commented on #385
@araujoarthur0  Hi i will do this issue, please help to assign.

[2020-10-02 06:12] michaelknowles commented on #350
I can take this issue.  I'll submit a PR for just the minimize to tray option first.  I'll need more clarification on the other option, "Allow TTL to be displayed on the tray", though.

[2020-10-02 08:15] tmarkovic commented on #375
I'd like to work on this!

[2020-10-02 10:53] araujoarthur0 commented on #385
It's assigned :)

[2020-10-02 10:53] araujoarthur0 commented on #375
Sorry, I already have this one, just waiting for a previous PR to be merged.

[2020-10-02 14:58] araujoarthur0 opened #395 "uncaught exception in main.js - Cannot read property 'webContents' of null"
**Describe the issue**
A crash in main.js on an idle TTL window:

Apparently mainWindow can be null at this stage. Other usages of the variable in main.js always check if it's not null before using it, while this one doesn't. The fix should be to add an if guard.

**Expected behavior**
No crashes.

[2020-10-02 15:04] araujoarthur0 opened #396 "Can't open About menu"
**Describe the issue**
When clicking on menu Help > About, I get the following exception at once:

**To Reproduce**
Steps to reproduce the behavior:

1. Click on 'Help'Menu
2. Click on 'About'
4. See error

**Expected behavior**
No crashes.

**Environment**

Wish I had the about window to show it here haha But I'm on latest main (October 2nd 2020, 425b03f57bfa5ae68723a6513915618c6eae362b).

[2020-10-02 16:36] bobsany16 commented on #386
@araujoarthur0 could I attempt this ?

[2020-10-02 16:43] araujoarthur0 commented on #386
Yes, thanks!

[2020-10-02 23:39] #362 closed

[2020-10-02 23:55] #214 closed

[2020-10-03 01:42] thamara commented on #396
This was introduced in [db6a3f8](https://github.com/thamara/time-to-leave/commit/db6a3f86f82429eeb7f0e49e1342a175ef8a15f7). I'm investigating it.

[2020-10-03 02:24] #396 closed

[2020-10-03 03:48] #310 closed

[2020-10-03 03:50] kumaranshu72 commented on #310
@thamara Looking forward to work on more OS Projects.

[2020-10-03 04:32] mbokinala commented on #51
Quick question - in the description you said the code shouild be moved into  `js/UserPreferences.js`, did you mean `js/user-preferences.js`?

[2020-10-03 04:46] thamara commented on #350
Hi @michaelknowles, we already had an open PR that addresses this issue so we'll prioritize it. Sorry you had extra work on this :(

[2020-10-03 04:47] thamara commented on #350
Will assign this to @kubeeek.

[2020-10-03 04:56] thamara commented on #51
@mbokinala, indeed. Some work has been already made between the time I opened this issue and now, and some things changed, the file name being one of those. The target functions that should be moved are those that manipulate the "preferences" object. Ideally we should not have that "global" `let preferences = getUserPreferences();`.

[2020-10-03 06:10] michaelknowles commented on #350
No, that's my bad for not reading the issue closely enough.  However, I noticed the other PR combined the options into one whereas mine gives the user more flexibility with two separate options.

[2020-10-03 09:20] thamara commented on #350
Indeed, that's the reason I haven't drop yours yet. I'll let @araujoarthur0, who already started the review and was the one who opened the issue operate on what he was expecting.

[2020-10-03 13:22] araujoarthur0 commented on #350
I think we're very much in a gray zone ahahha
@kubeeek did request a PR first, but he didn't request the issue assignment, whereas @michaelknowles did.
I'm also more inclined towards @michaelknowles 's solution, since it gives more flexibility to the user.

@kubeeek, would it be alright if we dropped #381 in favor of @michaelknowles 's solution?

[2020-10-03 14:18] araujoarthur0 opened #401 "Discussion issue to decide on the future of fixed vs flexible"
Just to document that we have this issue in place and it needs to be finalized before the next release happens.

If we go for flexible only:
* Remove number-of-entries preferences
* Remove class duplication, and simplify styles

If we keep them:
* Separate styles file ASAP, we're over 1200 lines
* Rename Calendar to FixedMonthCalendar and create a base calendar class with stub method implementatio

[2020-10-03 14:24] kubeeek commented on #350
I'd think that doing a PR which closes the issue and which is marked in the
issue itself too by github automation would be enough but I'll remember to
leave a comment next time. However I don't mind going for @michaelknowles's
solution and it's totally okay to close my PR.

sob., 3 paź 2020, 15:22 użytkownik Arthur Araujo <notifications@github.com>
napisał:

[2020-10-03 14:30] araujoarthur0 opened #402 "File Organization Issue"
How are we going to organize the css, js and html files in the future?

Right now we have:
* js folder for assorted .js files
** classes folder for Calendar files
* src for window files?
* css folder with just one file (hopefully more when we have .scss 😋)

[2020-10-03 14:32] araujoarthur0 commented on #402
For js folder, I think it'd be nice to have a main, renderer and etc separation, for the different electron processes

For src, maybe rename to windows?

[2020-10-03 14:32] araujoarthur0 commented on #402
@thamara and @tupaschoal, what are your inputs?

[2020-10-03 18:29] #369 closed

[2020-10-03 18:30] #395 closed

[2020-10-04 01:15] #375 closed

[2020-10-04 04:13] thamara commented on #350
Sorry for this confusion @kubeeek, hope to still see you around!

[2020-10-04 04:13] #350 closed

[2020-10-04 04:22] #363 closed

[2020-10-04 07:40] #291 closed

[2020-10-04 07:44] thamara opened #407 "Fix Complex code in js\time-balance.js:121-177"
CodeFactor found an [issue](https://www.codefactor.io/repository/github/thamara/time-to-leave/issues?category=Complexity&groupId=3): Complex Code

It's currently on:
js\time-balance.js:121-177
function _getDayTotalsFromStores(firstDate, limitDate)

[2020-10-04 08:30] greyGroot commented on #407
@thamara so this task is basically about refactoring, right? i would like to try.

[2020-10-04 08:32] thamara commented on #407
Yes. I'll assign that to you.

[2020-10-04 17:21] samin-batra commented on #275
HI @thamara is this still a valid issue? The other two, #214 and #374 are fixed. If so, please assign to me and I'll work.

[2020-10-04 18:26] thamara commented on #275
Hi @samin-batra , there's still one test commented, which needs a fix.
I have assigned that to you. Thanks!

[2020-10-04 23:39] bobsany16 commented on #386
A quick question, I am somewhat familiar with Jest but I haven't really messed around with Electron before and frankly, I am unsure of what direction I should take with testing for `Preferences.js` Would I just test to see if the preferences modal/window is rendered correctly since most of the functionality is already tested in `user-preferences.js`? @araujoarthur0

[2020-10-04 23:49] araujoarthur0 commented on #386
At first I would suggest the approach could be something akin to the waiver window test. Changing around some of the preferences in the window and confirming that the changes are actually being saved.

We are however only just starting with renderer tests, so we're not fixed in one direction. For example your suggestion about checking rendered elements is something that we don't do but has a great

[2020-10-04 23:56] bobsany16 commented on #386
ah, thanks for the encouragement! I'll try my best. @araujoarthur0

[2020-10-05 04:30] #407 closed

[2020-10-06 01:56] tupaschoal commented on #402
Shouldn't we go with most things under `src`?

I can think of two ways to lay it out, by file type or by component:

- src
- - css
- - html
- - js

- src
- - algorithms
- - windows

Or something in this sense

[2020-10-06 02:14] bobsany16 commented on #386
I managed to create a very rough test case and it passed. I did as you recommended by messing around with changing preferences and to see if they are saved. One thing, however, the coverage remains 0% 🙈😅

I have to look into mocking the `ipcRenderer` but other than that, it's all I have now. Would you mind if I create a rough PR just so I know I'm on the right track ? @araujoarthur0

[2020-10-06 02:16] thamara commented on #386
Maybe the coverage is not picking things up!
You can go ahead and open the PR, not problems :)

[2020-10-06 02:59] bobsany16 commented on #386
Thanks @thamara I appreciate it. In the meantime, I'll do some more research :)

[2020-10-07 02:37] thamara opened #414 "Menu options on Preference Windows should be right aligned"
On the preferences window, we have a few selections, in which the content is being left-aligned. This makes the interface be a bit strange:

![image](https://user-images.githubusercontent.com/846063/95281076-be58b580-082c-11eb-868f-8c1ec71f88a9.png)

The idea here is to align the content of such options on the right.

[2020-10-07 05:19] sajeevan16 commented on #414
Please assign this problem

[2020-10-07 14:48] Godstyme opened #418 "Live demo on the repo"
**Describe the current limitation**
Is a stress by cloning the repo before on can view it

**Describe the proposed feature or enhancement**
Add a live demo on the repo so that one can just view it before proceeding to contribute.

**Additional context**
Send me the live demo link to add in the repo

[2020-10-08 02:00] thamara commented on #418
Thanks @Godstyme! That's a great idea!
Do you have any suggestions on how to do this demo? Or do you know of any project that does something similar?

[2020-10-08 02:13] #414 closed

[2020-10-08 02:52] thamara opened #420 "Update changelog to capture the PR number to be used"
We have a workflow (available in `.github\workflows\ChangelogUpdater.yml`) which is triggered by comments in PRs matching a given word.

The comment looks like:
[code]

The workflow will capture this message (the body of the comment) and call script `scripts\update-changelog.py` to parse this message and extract the part which is the message and the user to update the changelog file

Notice that w

[2020-10-08 02:57] thamara commented on #401
I think we should go for flexible always, do these things you mentioned, but have a better error handling if someone has any type of issue migrating to the flexible.

[2020-10-08 03:05] thamara commented on #388
I have done some experiments on using another framework for testing (besides jest) and got some promising results: #415
What I'm doing is using mocha + spectron + some other things I'm not sure we actually need, but this has allowed me to run TTL capturing the coverage. Just by running the app, it has increased the coverage of main.js from 0 to 40%.
The issue I saw with that is that on the Windows

[2020-10-08 07:34] bartomiak commented on #12
I'd love to implement this feature :)

[2020-10-08 11:35] tupaschoal commented on #12
Please go ahead!

[2020-10-10 20:39] thamara opened #424 "Create a script to parse and generate the release notes for a version"
For every [release](https://github.com/thamara/time-to-leave/releases/tag/v.1.5.5), the notes follow an specific [template](https://raw.githubusercontent.com/thamara/time-to-leave/main/release_template.md) (available in `release_template.md`). This is created by parsing the [`changelog.md`](https://github.com/thamara/time-to-leave/blob/main/changelog.md), capturing the following information:

- Ch

[2020-10-10 21:05] nilold commented on #424
Hi Thamara! I would like to take this one! We've talked about it and since then I've made some progress already.

[2020-10-10 21:06] thamara commented on #424
Great! Let me know if there is any information missing.

[2020-10-10 22:46] thamara commented on #386
After #412 we were able to improve coverage of preferences.js to ~10%. I think there still more that can be done, because of this I'm keeping this issue open.

As I mentioned in a comment in the PR, suppose we extract a function that updates the content of the page by reading the getUserPreferences (which today is kind of all over the place). Then you can export it using the notation of module.exp

[2020-10-10 22:48] thamara commented on #51
@mbokinala any news on this? Do you expect to work on this soon?

[2020-10-10 22:49] thamara commented on #275
@samin-batra any news on this? Do you expect to work on this soon?

[2020-10-10 22:50] thamara commented on #292
@nikikalwar any news on this? Do you expect to work on this soon?

[2020-10-10 22:50] thamara commented on #355
@Samibanley any news on this? Do you expect to work on this soon?

[2020-10-10 22:51] thamara commented on #388
@Samibanley any news on this? Do you expect to work on this soon?

[2020-10-10 23:36] bobsany16 commented on #386
@thamara I totally forgot to mark the PR as a draft since as soon as I submitted it, I was attempting to extract the function and I think I got a better understanding. My apologies 😅

I am still interested in working on this and I will let you know if my attempt is unsuccessful so someone else can work on this.

[2020-10-10 23:37] thamara commented on #386
haahhaha no problems. Since it was already a step towards the bigger solution, I thought it was ok to merge it.
But please go ahead with your work :)

[2020-10-11 01:14] nikikalwar commented on #292
Starting right now. I will check and get back in few hours :)

[2020-10-11 01:18] nikikalwar commented on #292
It seems to be fixed by someone , can you please check once, I don't see the issue anymore on code factor.

[2020-10-11 01:33] thamara opened #427 "Mocha cannot run on Windows"
Running Mocha on windows we get an error. This needs investigation.

[2020-10-11 01:45] thamara commented on #292
I think after some refactorings, this become the following:

Complex Method js\classes\CalendarFactory.js:12-101
static getInstance(preferences, calendar = undefined)

[2020-10-11 06:15] samin-batra commented on #275
Hi @thamara, yes. I am starting on this. Will let you know once done.

[2020-10-11 13:45] nilold commented on #424
Where should the output file be created?

[2020-10-11 13:53] benjamin-allion commented on #427
Hello,
I just tried on Windows 10 and that work with command :
[code]
Can you give more information about your problem ?

[2020-10-11 13:55] araujoarthur0 commented on #427
![IMG-20201011-WA0004](https://user-images.githubusercontent.com/37311270/95680447-3bc75180-0bb0-11eb-9a6c-d04d308d36b9.jpg)
This is what I got after pulling the latest changes, running npm ci, and then run test:mocha

[2020-10-11 13:56] araujoarthur0 commented on #427
What is your environment?
I may have outdated versions, or it may be powershell related

[2020-10-11 14:00] benjamin-allion opened #431 "Test fail 'workday-waiver-aux.js' (Timezone problem)."
**Describe the issue**
'workday-waiver-aux.js' test fail.

**To Reproduce**
1. Clone the project
2. Run command : ```npm test```

**Expected behavior**
All test should be OK.

**Environment**
- OS: Windows 10
- UTC+2 local time zone
- Node 12.18.0
- Npm 6.14.5

**Screenshots**
![image](https://user-images.githubusercontent.com/45285113/95680533-c2912400-0bda-11eb-99ac-fd5b7651d4b0.png)

[2020-10-11 14:02] benjamin-allion commented on #431
Can I work on the issue for Hacktoberfest 2020 please ?

[2020-10-11 17:54] thamara commented on #431
Sure! Thank you!

[2020-10-11 18:05] thamara commented on #424
I believe outputting on the same directory used to run the script is ok (which I think was already the solution you went with right?)

[2020-10-11 18:12] thamara commented on #427
There's also the log from a failed run from CI: https://github.com/thamara/time-to-leave/runs/1234515722?check_suite_focus=true

[2020-10-11 20:06] thamara opened #432 "Translate README to pt-BR"
- Create new `README-pt-BR.md` under new director `docs/`
- Translate content from English to Portuguese (Brazil)
- Reference new translated README on main README

[2020-10-11 20:06] thamara opened #433 "Prepare Calendar.js for localization"
- Encapsulate all strings from file with `i18n.t($FixedCalendar.some-string)`
- Add new `some-string` to `locales/[en/pt-BR]/translations.json`
- Optionally translate the text to Portuguese (if you are not a Portuguese speaker, it's ok to leave the text with the English version even on the pt-BR file)

For reference, [check this example commit](https://github.com/thamara/time-to-leave/commit/8a2c8

[2020-10-11 20:07] thamara opened #434 "Prepare FlexibleDayCalendar.js for localization"
- Encapsulate all strings from file with `i18n.t($FlexibleDayCalendar.some-string)`
- Add new `some-string` to `locales/[en/pt-BR]/translations.json`
- Optionally translate the text to Portuguese (if you are not a Portuguese speaker, it's ok to leave the text with the English version even on the pt-BR file)

For reference, [check this example commit](https://github.com/thamara/time-to-leave/commit

[2020-10-11 20:07] thamara opened #435 "Prepare FlexibleMonthCalendar.js for localization"
- Encapsulate all strings from file with `i18n.t($FlexibleMonthCalendar.some-string)`
- Add new `some-string` to `locales/[en/pt-BR]/translations.json`
- Optionally translate the text to Portuguese (if you are not a Portuguese speaker, it's ok to leave the text with the English version even on the pt-BR file)

For reference, [check this example commit](https://github.com/thamara/time-to-leave/comm

[2020-10-11 20:07] thamara opened #436 "Prepare WorkdayWaiver.js/html for localization"
- Encapsulate all strings from file with `i18n.t($WorkdayWaiver.some-string)`
- Add new `some-string` to `locales/[en/pt-BR]/translations.json`
- Optionally translate the text to Portuguese (if you are not a Portuguese speaker, it's ok to leave the text with the English version even on the pt-BR file)

For reference, [check this example commit](https://github.com/thamara/time-to-leave/commit/8a2c8

[2020-10-11 20:46] Tailine commented on #432
Hi @thamara I would like to help.

[2020-10-11 20:47] thamara commented on #432
Yay! Thanks!
I have assigned the issue to you :)

[2020-10-11 20:54] mfayaq commented on #435
I would like to take this up 😄

[2020-10-11 20:57] thamara commented on #435
Yaaay! Thanks!
I've assigned the issue to you!

[2020-10-11 20:57] thamara commented on #435
Let me know if you find any issues... :)

[2020-10-12 01:58] jcombs0929 commented on #436
Can I help with this?

[2020-10-12 02:06] thamara commented on #436
Sure! It will be great!
I have assigned this issue to you!

[2020-10-12 02:06] tiagohermano commented on #434
I would like to be assigned to this one, please.
I also have a question, should I do this for every single UI string related on 'FlexibleDayCalendar', including the texts inside HTMLs strings?
I can also do the translation.

[2020-10-12 02:27] thamara commented on #434
I'll assign that to you.
That includes any text that is visible to the users, including `altText`, `title` and the text itself for example. You don't need to change any kind of `class=` or `id=`.

[2020-10-12 02:28] thamara commented on #434
If you are in doubt, feel free to change first those that you are sure that needs change, and publish a PR. We can discuss on there if any other string might be missing.

[2020-10-12 03:43] thamara opened #439 "Align Overall Start Date to the right"
All contents of the preferences table is aligned right, but the `Overall Balance Start Date` seems to have the alignment a little bit off:

![image](https://user-images.githubusercontent.com/846063/95702815-c39a7380-0c23-11eb-8427-66132c1bbbcd.png)

[2020-10-12 03:46] thamara opened #440 "Remove border of input boxed in preferences window"
The inputs in preferences windows seems a bit strange due to the border when using light or dark theme:

![image](https://user-images.githubusercontent.com/846063/95702886-fe041080-0c23-11eb-97d2-120a6d55036a.png)

![image](https://user-images.githubusercontent.com/846063/95702931-2b50be80-0c24-11eb-8fa5-1b67ca72d48f.png)

For the Cadent Star theme, everything looks cleaner:
![image](https://user-

[2020-10-12 03:57] thamara opened #441 "Punch button should overflow to the right"
Punch button should overflow to the right, filling up the gap between the button and the scroll bar. Still, the scrollbar needs to be on top of the button when in the bottom of the page.

![image](https://user-images.githubusercontent.com/846063/95703725-bd0cfb80-0c25-11eb-9350-afdb3ed13e50.png)

[2020-10-12 03:57] ccsCoder commented on #440
I am interested to work on this one. Would you please assign this to me ?

[2020-10-12 03:58] thamara commented on #440
Sure!

[2020-10-12 03:59] thamara commented on #440
Based on your username, I think there are a few other issues I just opened you'd be interested too hahahaha

[2020-10-12 04:02] ccsCoder commented on #440
Actually I am going through them as we speak :-D I will try to fix as many as possible

[2020-10-12 04:03] thamara commented on #440
Thanks!
Feel free to suggest any other changes!

[2020-10-12 04:10] ravidyarev commented on #439
Please assign this to me.

[2020-10-12 04:10] thamara commented on #439
Sure! Go ahead!

[2020-10-12 04:45] thamara opened #442 "Change colors for tab's bg color on workday waiver manager"
When we have the `Cadent Star` theme applied, the bg color for the tabs in the workday waiver manager are pretty disruptive:

![image](https://user-images.githubusercontent.com/846063/95706137-6b1ba400-0c2c-11eb-9222-0874698f9cda.png)

I think it should either be transparent, with some dark color outline, or have the bg be some darker color, but with some transparency.
Suggestions on how to make i

[2020-10-12 04:49] thamara opened #443 "Links in Workday Waiver Manager doesn't match any of the app's theme"
In Workday Waiver Manager, we have a link color for the tabs on the top of the page (for `Add Waiver` and `Holiday`). The not current item has a blue font, which doesn't match any of the themes in TTL

Dark:
![image](https://user-images.githubusercontent.com/846063/95706269-c9e11d80-0c2c-11eb-8051-65f8810cdae2.png)

Light:
![image](https://user-images.githubusercontent.com/846063/95706341-fc8b1600

[2020-10-12 04:58] thamara opened #444 "Remove border from inputs on Workday Waiver Manager > Holiday"
The holiday pane under the Workday Waiver Manager window has borders around the options:

![image](https://user-images.githubusercontent.com/846063/95706563-8f2bb500-0c2d-11eb-9bb0-977c291f0af3.png)

It would look cleaner if there were no borders.

[2020-10-12 05:04] thamara opened #445 "Move remove button to the left on Workday Waiver List"
Currently, the Workday Waiver List (under Workday Waiver Manager) has 4 columns, being the last one a remove button:

![image](https://user-images.githubusercontent.com/846063/95707207-4aa11900-0c2f-11eb-9ba2-686a09b5a4cf.png)

I think it would look nicer if the button was moved to the right, in a nameless column, something like this:

![image](https://user-images.githubusercontent.com/846063/9570

[2020-10-12 05:09] Aqsa48 commented on #445
Kindly assign this to me.

[2020-10-12 05:12] thamara opened #446 "Change icon remove icon color depending on theme in Workday Waiver Manager"
In Workday Waiver Manager, we have an X icon to indicate the removal of an entry. This icon is the same across all the themes, and, in the dark theme, the icon loses the contrast:

![image](https://user-images.githubusercontent.com/846063/95707420-dfa41200-0c2f-11eb-8875-024312d9effa.png)

The idea is to solve this by doing something similar to what we do with the `--calendar-icon` (in `style.css`

[2020-10-12 05:12] thamara commented on #445
Sure! All yours!

[2020-10-12 05:20] #432 closed

[2020-10-12 05:27] ccsCoder commented on #441
Do you think we should make the Punch Time button a little less prominent in terms of Width / and centre it ?
The reason I'm suggesting this is that it may lead to a lot of accidental taps / touches. Especially if it has a scrollbar on top of it .

While UX wise it is good to have large interact-able targets, this one may result in a lot of accidents.
Btw, is this action "Undoable" ?

[2020-10-12 05:35] deepharshsri commented on #444
Hey, can you assign me to this task?

[2020-10-12 05:37] thamara commented on #441
That's a very valid point, but I have a feeling that having it smaller would be a little strange. I think usually people don't grab the scrollbar right on the bottom or use the drag feature of the scrollbar as much, preferring usually the mouse/trackpad movement (totally based on my experience, not sure how much this is true).

The action is Undoable, but this means that the user would need to go

[2020-10-12 05:39] ccsCoder commented on #441
Makes sense. Please feel free to assign this to me 👍

[2020-10-12 05:47] thamara commented on #444
Hey @deepharshsri , thank you a lot for the interest! Currently, there's a PR in progress (#447) which is tackling a similar issue, and in there @cssCoder has raised some accessibility issues related to this. I think it would be better to wait for the discussion in there to finished, before start working on this one. So no work is wasted.

[2020-10-12 05:48] thamara commented on #444
I have assigned this to me while the discussion is in progress.

[2020-10-12 05:48] thamara commented on #441
Thanks!

[2020-10-12 05:49] rahul9091 commented on #446
Hi, Can i work on this?

[2020-10-12 05:51] thamara commented on #446
Sure! All yours!

[2020-10-12 05:56] Utpal29 commented on #442
can I work on this?

[2020-10-12 05:57] thamara commented on #442
Sure! Go ahead, I will assign the issue to you. :)

[2020-10-12 06:18] fikimaul commented on #443
Hi, Can i work on this?

[2020-10-12 06:20] thamara commented on #443
Sure! I'll assign the issue to you.

[2020-10-12 06:34] #440 closed

[2020-10-12 08:30] ccsCoder commented on #441
I investigated this.
The reason for the gap is that the Scrollbar is Actually appearing on the `body` and it automatically reserves `10px` for the scrollbar.
Ideally, the scrollbar should appear on the container holding the `table`.

[2020-10-12 09:24] #443 closed

[2020-10-12 10:44] #433 closed

[2020-10-12 10:50] thamara opened #452 "Translate Calendar and FixedCalendar to pt-BR"
Translate strings from `$Calendar` and `$FixedDayCalendar` to pt-BR.
Strings needing translation can be find in `locales/pt-BR/translation.json`.

[2020-10-12 11:54] ccsCoder commented on #441
This one is tricky.
Increasing the width is Not a solution because the browser Always leaves room for the scrollbar.
Trying to style scrollbars differently isn't flexible enough to target the right portion of the button.

The proper solution would be to change the layout around, but that's not trivial at this point.

Can we settle for something like this where the button is not 100% wide, but has

[2020-10-12 12:49] nilold commented on #424
Yes. I don't know the best solution because I know we're using this script in an automated workflow, so whoever is responsible for calling it is probably the most interested in knowing the output location and also the output file's name.
I think, if we're overwriting the output file on every script call, it doesn't really matter where we save it, but if we are naming it after version or something

[2020-10-12 13:08] ju-pinheiro commented on #452
Hi, I'd like to work on it if that's ok! :)

[2020-10-12 13:09] thamara commented on #452
Sure! I'll assign that to you!

[2020-10-12 13:40] thamara commented on #441
I really thought that was one of those one-line changes hahahahha
Thank you for investigating this.
I think this slightly narrow button looks good. It doesn't affect the overall feel but solves the little issue of the scrollbar meeting the button edge.
Unless this becomes extremely weird in one of the other themes (which I doubt), it's a go from me.

[2020-10-12 13:54] thamara opened #453 "Misplaced parenthesis when "Português (Brasil)" is the selected language"
**Describe the issue**
When we have the language set to "Porguguês (Brasil)", on the Preferences Window. Somehow we got a misplaced parenthesis:

![image](https://user-images.githubusercontent.com/846063/95754210-12bec380-0c79-11eb-848a-ad71f31f763e.png)

In the options, we don't see any problem:
![image](https://user-images.githubusercontent.com/846063/95753982-c2dffc80-0c78-11eb-903a-95736d2b668

[2020-10-12 14:05] sano2019 commented on #453
I can have a look at this if needed :)

[2020-10-12 14:07] thamara commented on #453
It would be great!
I'll assign the issue to you.

[2020-10-12 14:07] thamara commented on #453
Let us know if we can help with anything.

[2020-10-12 14:38] ccsCoder commented on #441
I've also made the scrollbar a little thinner. i.e `width: 5px, height: 5px` to leave some room around the right side of the button.

[2020-10-12 14:59] #427 closed

[2020-10-12 15:14] sano2019 commented on #453
@thamara I found a workaround-solution to render it correctly, however, I did not really find the cause of it. I tried a bunch of different things, but I am not really familiar with Electron so I am not too sure where the issue lies. It's a very small update but I can make a PR is you are happy enough with a workaround, otherwise I can keep looking the cause of this issue.

[2020-10-12 15:17] thamara commented on #453
Send a PR and let's see from there. :)
Although this is an annoying issue, I think it's not that impactful, so workaround should be fine, and no one needs to spends way too much time on it. :)

[2020-10-12 20:20] silenteyesoncode commented on #445
let me know if you need someone to work
after her

[2020-10-12 22:50] #453 closed

[2020-10-12 23:40] #424 closed

[2020-10-12 23:43] thamara opened #458 "Use Script from #430 during release workflow"
Use Script from #430 during release workflow

[2020-10-13 00:45] thamara commented on #51
Hi @mbokinala, since we haven't got any news for a while, I'll be removing you from the assignee, leaving the issue open to others to work. If you are back want to work on this, let me know. :)

[2020-10-13 00:46] thamara commented on #376
@araujoarthur0 are we waiting for something for this?

[2020-10-13 00:47] thamara commented on #388
Hi @Samibanley , since we haven't got any news for a while, I'll be removing you from the assignee, leaving the issue open to others to work. If you are back want to work on this, let me know. :)

[2020-10-13 00:48] araujoarthur0 commented on #376
I was waiting for less PRs to be open, or I'll cause a lot of issues for people haha
Lost the timing when I got scared with the const arrays being suggested

[2020-10-13 00:50] thamara commented on #376
hahahahahahhaha
Ok, just wanted to undestand. I think it's fair if we wait Hacktoberfest to finish before doing this :)

[2020-10-13 01:45] araujoarthur0 commented on #445
To be similar to the "Add waiver" button the Month Calendar, should the icon also be displayed only when hovering a row?
Perhaps it could just be commonly grey and turn black when the mouse hovers to indicate the active row.

[2020-10-13 01:46] araujoarthur0 commented on #439
Does the height of the date input also look bigger than the select inputs?

[2020-10-13 02:18] thamara commented on #439
I think it's. The fonts seem to be a different size.

[2020-10-13 02:23] #434 closed

[2020-10-13 02:57] dofbi opened #460 "Translate Time to Leave to fr-fr"
Hello @thamara
I would like to add french translation
thanks

[2020-10-13 03:05] thamara commented on #460
Sure! That would be great!

[2020-10-13 03:09] thamara commented on #460
I can prepare a small guide on adding a new language, or you can search for `pt-br` and basically replicate for french.

[2020-10-13 03:17] thamara commented on #460
How to include a new Language:

- Add the language [locale](https://www.electronjs.org/docs/api/locales) in `src/configs/app.config.js`, on the array `languages`
- Create a new director under `locales`, with the locale of the language
- Copy the `json` files from `locales/en/` to the new created directory
- Translate the strings in the new `locales/{LANG}/translation.json`
- Remember to include th

[2020-10-13 03:17] thamara commented on #460
I think it's basically this. If you run into an issue, let me know.

[2020-10-13 03:30] #441 closed

[2020-10-13 03:32] dofbi commented on #460
Thank you for the guide, it's clear

[2020-10-13 13:36] Samibanley commented on #355
@thamara Hi, yes. Sorry, work got unexpectedly busy. I will get this started soon!

[2020-10-13 21:52] ravidyarev commented on #439
@thamara Hello Thamara : I'm unable to figure out this one. I tried adding the right align in the style.css file. But it doesn't seem to change the alignment. So please feel free to assign to someone else. Thank you for letting me try.
#preferences-window .flex-box {
  display: flex;
  height: 25px;
  **text-align: right;**
  justify-content: space-between;
}

[2020-10-14 00:08] thamara commented on #355
Thanks!

[2020-10-14 00:46] thamara commented on #439
Thanks for sharing your attempt. Unfortunately, I don't know CSS that well, otherwise I would try to guide you on this. Thank you anyway, and feel free to stick around. :)

[2020-10-14 01:25] fikimaul commented on #439
Hi @thamara Assigned me to this. :)

[2020-10-14 02:23] ravidyarev commented on #439
@fikimaul can you please tag me on the pull request. I would like to see the solution.

[2020-10-14 03:02] thamara commented on #439
Assigned! Thanks!

[2020-10-14 05:30] #439 closed

[2020-10-14 20:55] taismassaro commented on #435
just expressing my interest in this in case @mfayaq doesn't have time to work on it :)

[2020-10-14 22:36] #452 closed

[2020-10-15 01:53] thamara opened #468 "Help on creating a beautiful site for Time to Leave"
Time to Leave now have a site: https://timetoleave.app/
But we need help making it look pretty. Please leave suggestions on the template for it.

Here's the information I think it needs to have:

- Links for latest release download on each supported platform (MacOS, Windows and Linux).
- Release notes for each new version (it would be great if we could reuse the release notes we do for GitHub)
- S

[2020-10-15 02:19] thamara commented on #468
For extra reference, our logo is available [here](https://github.com/thamara/time-to-leave/blob/main/website/resources/timer.svg), and our main font is [Montserrat](https://fonts.google.com/specimen/Montserrat).

[2020-10-15 03:26] mfayaq commented on #435
I'm on it just having bad internet from last 2 days 😟
Will deliver it by tomm 🤟

[2020-10-15 04:13] RafaelDavisH commented on #468
I'm interested in helping out with the site.

[2020-10-15 04:17] thamara commented on #468
Let me know if you have any questions :)

[2020-10-15 04:20] ReactorboY commented on #468
Interested

[2020-10-15 04:20] thamara commented on #468
I just updated the description of the issue to include some more information as well as some app's sites that I think have somewhat the feeling that we would be looking for.

[2020-10-15 04:21] RafaelDavisH commented on #468
Are there wireframes or sketch on what you want the site to look like. I haven't look completely around.

[2020-10-15 04:25] RafaelDavisH commented on #468
So I'm assigned to this issue ?

[2020-10-15 04:31] thamara commented on #468
Hi @RafaelDavisH, I just updated the information again. But to clarify, the idea is to have different people submitting suggestions, and, after October we'll evaluate and chose one (or more) to implement.

This is actually what I would like to receive as PRs hahaha, a draft of what the site could look like. I mentioned above some of the things I think it could have such as a downloading section, s

[2020-10-15 04:54] thamara commented on #435
@mfayaq Thanks a lot.
@taismassaro Some of the translations issues currently opened are being handled by some people that do not speak Portuguese (which is ok as we can do the actual translation later), so maybe you can help us with that later ;)

[2020-10-15 05:38] RafaelDavisH commented on #468
@thamara thank you for the clarification. Sorry I thought the issue was to code a site.

I'm all in. I'll work on a version/suggestion for the site. Using the logo as a reference for theme colors and the font Montserrat.

Thanks again.

[2020-10-15 06:28] taismassaro commented on #435
Sounds great! :)

[2020-10-15 09:29] ccsCoder commented on #468
Going by the features in the electron app, we won't need a fancy framework.
Having said that a crucial point to consider here would be that now we have multiple clients (web/ desktop).
These need to sync in real time.
Say an entry is made by the same person on web, that needs to reflect immediately in all other places the person is logged in.
Notifications also need to be handled the same way.
I w

[2020-10-16 00:56] thamara commented on #435
@taismassaro I just merged the PR from @mfayaq. Would you like to work on translating it to pt-BR?

[2020-10-16 00:59] thamara commented on #468
One more clarification, we don't want (at least for now) to move the app to a web-app (although it would look really cool).
I think for the site now, the goal is just to be like an ad for the app, so it can be simpler. :)

[2020-10-16 06:54] taismassaro commented on #435
@thamara I'd love to! :)

[2020-10-17 10:10] samin-batra commented on #275
@thamara , in that test case **            expect(calendar._hasInputError('not-valid-hour', '', '', 'not-valid-hour')).toBeTruthy();
**.. do we expect to enter a value (like a numeric value in the form hh:mm) or is that the actual value against which the function needs to be tested. I asked because while playing around with functionality, the system does not allow a user to enter any non-numeric v

[2020-10-17 20:57] #435 closed

[2020-10-17 22:07] #436 closed

[2020-10-17 22:46] thamara commented on #460
Hey @dofbi, we have just finished the complete support for translations. So all the strings that need translations are now available. Please rebase/pull your fork to have all the strings that need translation.

[2020-10-17 22:54] thamara opened #475 "Translating Time to Leave to other Languages"
Time to Leave now supports multiple languages. So far we have support for `English (default)`, and `Portuguese (Brazil)`.
You can help to translate it into new languages.

# Fully supported languages

- English (en) (@thamara, @tupaschoal, @araujoarthur0)
- Portuguese (pt-BR)  (@thamara, @tupaschoal, @araujoarthur0)
- Italian (it)  (@giovannipessiva)
- Spanish (es)
- Traditional Chinese (zh-TW) (@

[2020-10-18 05:31] thamara commented on #12
@bartomiak  Any updates on this?

[2020-10-18 05:32] #385 closed

[2020-10-18 05:33] #386 closed

[2020-10-18 05:49] thamara commented on #275
@samin-batra Indeed, as it's right now, the app will not allow this value to be entered, but the idea of the test is to test the behavior of the said API as a unit test, in a way that we should check if it's behaving as expected. The reason for this is that in the feature, we might do something with this API that for some reason will allow a non-valid parameter to be passed, and for that we want t

[2020-10-18 08:15] Squizzi3 opened #476 "Translate Time to Leave to de-DE"
Hello @thamara
I would like to add the german translation 😃
Thank you!

[2020-10-18 08:16] thamara commented on #476
Sure! That would be super!
I'll assign the issue to you!

[2020-10-18 09:01] #275 closed

[2020-10-19 00:27] MichaelYogar commented on #444
Hi, if I can be assigned to this, I can try to solve this issue!

[2020-10-19 00:59] thamara commented on #444
Hi @MichaelYogar. We already have someone working on this. As per our Contributing guide, we usually wait 7 days until considering the issue abandoned (this one is on its 5th day).
I'll let you know if this is open for others.

[2020-10-19 01:13] MichaelYogar commented on #444
thanks @thamara! Once you open it up for others, do I have to ask again or does it go to me?

[2020-10-19 02:00] csscoder commented on #444
Why do I receive e-mail?

On Mon, Oct 19, 2020, 04:14 Michael Yogar <notifications@github.com> wrote:

[2020-10-19 02:11] thamara commented on #444
@MichaelYogar No need to ask again, I'll let you know.
@csscoder I think I mentioned you before in the thread related to some work you did, and this might have included you on the watcher's list. Feel free to unsubscribe from it ^^

[2020-10-19 14:35] dofbi commented on #460
Hello @thamara, thanks for the update

[2020-10-19 15:18] MichaelYogar commented on #12
I can implement this if there is an opening available!

[2020-10-19 17:50] bartomiak commented on #12
Sorry @thamara, been pretty busy this week but i created pr just right now, please tell me if that's correct
https://github.com/thamara/time-to-leave/pull/479

[2020-10-19 20:06] giovannipessiva opened #480 "Translate Time to Leave to Italian"
Hi! I would like to add an Italian translation

[2020-10-19 20:10] SolKuczala commented on #475
Hi I can help with spanish :+1:

[2020-10-19 20:18] giovannipessiva commented on #475
Hi, I have opened an issue for italian: https://github.com/thamara/time-to-leave/issues/480

[2020-10-19 20:27] thamara commented on #480
Grazie @giovannipessiva! :D

[2020-10-19 20:29] thamara commented on #475
@SolKuczala Thanks, or should I say gracias!
Can you please open [an issue](https://github.com/thamara/time-to-leave/issues/new?assignees=&labels=enhancement&template=improvement_request.md&title=Translate%20Time%20to%20Leave%20to%20LANG) so I can assign that to you?

[2020-10-19 21:00] SolKuczala opened #481 "Translate Time to Leave to Spanish"
As far as I saw there are no limitations.

This will be the Spanish translations based on the neutral latin-american Spanish. It works for any Spanish speaker around the world :)

[2020-10-19 21:05] thamara commented on #481
Thanks!

[2020-10-19 21:19] giovannipessiva commented on #480
I have submitted #482
If it's ok please add label hacktoberfest-accepted to the PR 🙏 Cheers 🍻
Nice project BTW, I should really convince some colleague of mine to use this 😂

[2020-10-19 21:21] thamara commented on #480
Thanks! I'll be checking that soon! :)

[2020-10-21 01:45] #481 closed

[2020-10-21 01:50] #480 closed

[2020-10-21 02:03] thamara commented on #480
Hi @giovannipessiva, the repository already has the hacktoberfest tag, and because the PR was merged, it should already be included in your count. :)

[2020-10-21 03:52] tupaschoal opened #487 "Hardcoded strings for placeholder fields"
There are still some hardcoded strings for the placeholder texts that need to be extracted and localized:

https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce444a8814f67400c2428b/src/preferences.html#L47
https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce444a8814f67400c2428b/src/workday-waiver.html#L51
https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce

[2020-10-21 03:56] tupaschoal opened #488 "Hardcoded strings for update dialog"
When you click "check for updates" or if TTL automatically checks for those, the resulting dialog has hardcoded strings and were not localized. Ideally the `update-manager.js` file should have those strings extracted.

https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce444a8814f67400c2428b/js/update-manager.js#L40-L66

[2020-10-21 04:05] tupaschoal opened #490 "Hardcoded strings for notify calls"
Some calls to the `notify` function still have hardcoded English strings:

https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce444a8814f67400c2428b/js/calendar.js#L91

https://github.com/thamara/time-to-leave/blob/b8c2c86251a1b64a07ce444a8814f67400c2428b/main.js#L67

[2020-10-21 06:42] giovannipessiva commented on #480
@thamara you are right 😉 have a nice day!

[2020-10-22 00:47] virginiarcruz commented on #444
hey, @thamara could you please, assign to me?
I can fix this

[2020-10-22 01:01] virginiarcruz commented on #445
hey @thamara has anyone working on it?
If you wanna to assign to me I can fix it as well.

[2020-10-22 01:03] thamara commented on #444
@MichaelYogar Want to work on this yet?

[2020-10-22 02:03] thamara commented on #445
Hi @Aqsa48, since we haven't got any news in 10 days, I'll be reassigning the issue to someone else.
@silenteyesoncode, would you be interested in working on this?
@virginiarcruz, as someone had already shown interested in working on this, I'll prioritize this person. If we don't receive an answer by tomorrow, I'll assign the issue to you.

[2020-10-22 02:05] thamara commented on #292
@nikikalwar are you still interested in working on this?

[2020-10-22 02:06] thamara commented on #431
Hi @benjamin-allion, are you still interested in working on this issue?

[2020-10-22 02:09] MichaelYogar commented on #444
@thamara yes I can work on this if you let me!

[2020-10-22 02:11] thamara commented on #444
I'll assign the issue to you. Let me know if you have any questions :)

[2020-10-22 02:56] #490 closed

[2020-10-22 03:06] thamara opened #494 "Space better the cells in Flexible Month view"
In the flexible month view, when maximizing the screen, the spacing on the cells become weird, leaving too much space on the right:

![image](https://user-images.githubusercontent.com/846063/96819324-b33f8100-13f9-11eb-916e-7b2a9f903a51.png)

The desired behavior is that the internal cells will fill the space.

To reproduce:
1. Open the App
2. To to preferences
3. Select `View` = `Month`
4. Select

[2020-10-22 04:44] jswildcards opened #496 "Translate Time to Leave to zh-TW"
Hi @thamara, refer to issue #475
I can help to translate Time to Leave to Traditional Chinese. 😄

[2020-10-22 04:45] thamara commented on #496
Wow! That would be great!

[2020-10-22 04:46] jswildcards commented on #475
Hello, I've opened an issue for Traditional Chinese: #496 😄

[2020-10-22 05:10] tusharck commented on #494
I can take this issue, can you assign me.

[2020-10-22 05:47] alsvader commented on #487
Hi,
I would like to work on this issue :)

[2020-10-22 05:50] thamara commented on #487
That would be great!

[2020-10-22 06:47] firsi commented on #494
hey @thamara , I would like to take a look at it

[2020-10-22 07:50] thamara commented on #494
I got a notification on my email about multiple people wanting to work on
this, but for some reason, I can't see the comment. It's possible these
persons have removed the comment, but in the slightest change this is some
sort of bug, please comment again and I'll assign the issue accordingly.

Em qui., 22 de out. de 2020 às 02:10, Tushar Chand Kapoor <
notifications@github.com> escreveu:

[2020-10-22 08:01] cbanupama commented on #488
I will work on this issue.

[2020-10-22 08:02] thamara commented on #488
That will be awesome!

[2020-10-22 08:06] amitchakraborti9 commented on #494
Hi @thamara,
I would like to work on this issue. However, I am a complete beginner to open source. I am willing to give my best attempt in resolving this issue. Hence, I would request you to please assign this issue to me.

[2020-10-22 08:13] thamara commented on #494
Hi @amitchakraborti9! There's no problem with trying and not getting it. :)
I'll assign the issue to you, but if you hit a wall or something, feel free to get in touch in this issue, maybe we can guide you and help you progress.

[2020-10-22 08:15] amitchakraborti9 commented on #494
Ok, shall update you about any status change.

[2020-10-22 08:20] susheelg1197 opened #497 "Translate Time to Leave to Hindi (Indian Language)"
With reference to issue #475 , I would be translating Time-To-Leave in Hindi (HI) which is an Indian language.
Please assign me this task

[2020-10-22 08:23] susheelg1197 commented on #475
Hello, I've opened an issue for Hindi : #497

[2020-10-22 08:23] thamara commented on #497
Sure! Thanks!

[2020-10-22 09:22] thamara commented on #496
Hey @jswildcards, thank you very much for your contribution! The PR should be merged soon!

In the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you an ambassador of the Chinese support in the app, and, when we have new translations, we'll mention you to see if you can work on

[2020-10-22 09:26] thamara commented on #481
Hi @SolKuczala, in the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you an ambassador of the Spanish support in the app, and, when we have new translations, we'll mention you to see if you can work on those. This doesn't mean you'll have to translate those of course, only if y

[2020-10-22 09:27] thamara commented on #480
Hi @giovannipessiva, in the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you an ambassador of the Italian support in the app, and, when we have new translations, we'll mention you to see if you can work on those. This doesn't mean you'll have to translate those of course, only

[2020-10-22 09:31] RuteshRathod opened #501 "Translate Time to Leave in Marathi (Indian Language)"
With reference to issue https://github.com/thamara/time-to-leave/issues/475, I would be translating Time-To-Leave in Marathi(MR) which is one of Indian language.
Please assign me this task

[2020-10-22 09:34] jswildcards commented on #496
@thamara I'm willing to be here to help. 😊

[2020-10-22 09:35] thamara commented on #501
Thank you a lot!

[2020-10-22 09:40] RuteshRathod commented on #501
I have updated the base issue to #475 to avoid confusion

[2020-10-22 09:43] giovannipessiva commented on #480
Sure, I'll be happy to contribute, just mention me

[2020-10-22 09:52] thamara commented on #501
Thank you! :D

[2020-10-22 10:06] #496 closed

[2020-10-22 11:53] tupaschoal opened #506 "Punch button should always be enabled on flexible mode"
**Describe the current limitation**
The flexible mode allows you to have more than 4 entries, but it takes 2 clicks to add the 5th, 7th, etc..

**Describe the proposed feature or enhancement**
The punch button should not be disabled when the flexible mode is on, instead it should automatically add new entry pairs whenever it's hit and all the previous ones are already filled

**Additional context*

[2020-10-22 12:30] junevarsha commented on #506
can I take this one? please assign it to me

[2020-10-22 12:36] junevarsha opened #507 "Translations to Tamil"
With reference to issue #475, I would like to translate Time-To-Leave in Tamil which is one of Indian language.
Please assign me this task

How can I update the base issue to reflect this?

[2020-10-22 12:41] tupaschoal commented on #506
Sure, go ahead

[2020-10-22 12:44] tupaschoal commented on #507
I just did. Will it be Tamil (ta) or Tamil-India (ta-IN)?

[2020-10-22 12:50] junevarsha commented on #507
It is Tamil India - thanks! Quick question: should I add the hacktoberfest tag to this issue for the Pull request to be considered for Hacktoberfest entry?

Can you assign this issue to me?

[2020-10-22 13:05] tupaschoal commented on #507
Just assigned. No need for the label, when it's merged/accepted it will be considered

[2020-10-22 14:47] Semvrij opened #508 "Translate Time to Leave to nl-NL"
Hey @thamara
I can add a Dutch translation.
This language is mainly spoken in the Netherlands and Belgium.

[2020-10-22 16:21] DevDaveFrame commented on #51
Hi @thamara, I'd love to work on this today if no one else has been assigned

[2020-10-22 16:32] tupaschoal commented on #51
I've assigned you @DevDaveFrame

[2020-10-22 16:34] tupaschoal commented on #508
Thanks! Would you say this would be `nl`, `nl-BE` or `nl-NL`?

[2020-10-22 16:39] Semvrij commented on #508
I translate it to nl-NL. There are not so many differences between nl-NL and nl-BE, so you can also generalize it to nl.

[2020-10-22 18:58] Saumya-Mishra9129 commented on #442
@thamara Can you assign this to me?

[2020-10-22 19:11] tupaschoal commented on #442
Done

[2020-10-22 21:08] silenteyesoncode commented on #445
yeah i like to work on this

[2020-10-22 22:29] araujoarthur0 opened #510 "Bug in header of flexible layout"
**Describe the issue**
When using the flexible month layout and scrolling, the calendar arrows appear behind the header.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Flexible Calendar
3. Scroll down

**Expected behavior**
Calendar not crossing above.

**Environment**

Version: 1.5.6-dev
Electron: 10.1.3
Chrome: 85.0.4183.121
Node.js: 12.16.3
OS: Windows_NT x64 10.0.18363

**Scre

[2020-10-22 22:37] #444 closed

[2020-10-22 23:55] #476 closed

[2020-10-22 23:57] thamara opened #511 "Translate README to de-DE"
Translate README to de-DE:

Adding new languages
- Translate README, by creating a new docs/README-{LANG}.md, with a copy of the main README.md, but translating into the specific languagem
- Include a reference to newly created docs/README-{LANG}.md in README.md, close to the top, stating: "This document is also available in {LANG}", but translated to the targeted language

[2020-10-22 23:58] thamara commented on #476
Hi @Squizzi3, thank you very much for your contribution. In the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you an ambassador of the German support in the app, and, when we have new translations, we'll mention you to see if you can work on those. This doesn't mean you'll have

[2020-10-23 00:00] thamara commented on #445
Thank you!

[2020-10-23 00:10] thamara commented on #510
To select the flexible view:

1. Open the App
2. To to preferences
3. Select View = Month
4. Select Number of entries = Flexible
5. Close preferences

[2020-10-23 00:11] thamara commented on #506
To have the flexible view:

1. Open the App
2. To to preferences
3. Select View = Month
4. Select Number of entries = Flexible
5. Close preferences

[2020-10-23 00:23] loiscodes commented on #388
Hey! You can assign it to me. I can start working on it tomorrow

[2020-10-23 00:24] thamara commented on #388
Sure! That will be great!

[2020-10-23 00:36] thamara opened #512 "Make TTL available in Package Managers/App Stores"
TTL download needs to go through GitHub currently. It would be really great to have it available in different package managers.

# Already available:

- [Brew cask](https://formulae.brew.sh/cask/time-to-leave): MacOS and Linux
  - `brew cask install time-to-leave`

# Other options:

- [Snapcraft](https://snapcraft.io/): Linux

[2020-10-23 00:41] virginiarcruz commented on #510
@thamara can you assign it to me, please?

[2020-10-23 00:59] thamara commented on #510
Sure! Go ahead!

[2020-10-23 01:07] alsvader commented on #487
Hi,
I did the changes for this issue but I want to know if the text "Reason for the waiver" could be replaced by "Waiver Reason". There is already a label for "Waiver Reason" translated to all languages, so if we use that label, we don't need to add a new one with the text "Reason for the waiver".

[2020-10-23 01:11] tupaschoal commented on #487
It sounds ok to me

[2020-10-23 01:12] thamara commented on #487
I agree.

[2020-10-23 02:21] MichaelYogar commented on #446
Hi, I can give this a go if you still need someone to fix the issue!

[2020-10-23 02:23] tupaschoal commented on #446
Please do, I've assigned the issue to you

[2020-10-23 02:24] tupaschoal commented on #446
Actually wait, seems like the person up there had a solution

[2020-10-23 02:25] MichaelYogar commented on #446
no problem, let me know if I should work on it

[2020-10-23 03:07] alsvader commented on #487
Hi,

i am trying to create a pull request but the create pull request button is disabled

[2020-10-23 03:14] araujoarthur0 opened #514 "Can't reload the app"
**Describe the issue**
Reloading the app causes a blank screen to appear.
This makes it very hard to develop, especially since every save triggers a reload in electron.

**To Reproduce**
Steps to reproduce the behavior:

1. Open 'View'
2. Click on Reload

or

1. Press Ctrl+R

or

1. Open DevTools
2. Press F5

Looks like "i18n.changeLanguage(preferences['language'])" in calendar.js is not working t

[2020-10-23 03:15] tupaschoal commented on #487
Can you post a screenshot or gif of what you're trying to do?

You can also come to our discord server to chat for us to help you

[2020-10-23 03:18] araujoarthur0 opened #515 ""Menu" bar appears in Preferences window when changing languages"
**Describe the issue**
"Menu" bar appears in Preferences window when changing languages
Apparently this is Windows only.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Edit' > 'Preferences'
2. Change Language to any other
3. See Menu coming up

**Expected behavior**
No menu to come up here.

**Environment**

Version: 1.5.6-dev
Electron: 10.1.3
Chrome: 85.0.4183.121
Node.js: 12.16.3

[2020-10-23 03:20] araujoarthur0 opened #516 "Make height of rows consistent in "App Behaviour" part of Preferences"
**Describe the current limitation**
Each row has a different height here
![image](https://user-images.githubusercontent.com/37311270/96952568-88bafa00-14c5-11eb-940f-c34939aba182.png)

**Describe the proposed feature or enhancement**
Row heights to be always the same for a consistent vertical display and alignment.

[2020-10-23 03:24] araujoarthur0 opened #517 "Day view has day names starting uncapitalized in languages other than English"
**Describe the issue**
In day view, if you change the language to any other than English, the day name shown on the header is uncapitalized.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Edit' > 'Preferences'
2. Change View to 'Day'
3. Change language to any other than English
4. See error

**Expected behavior**
Capitalized names.

**Environment**

Version: 1.5.6-dev
Electron: 10.1

[2020-10-23 03:25] #510 closed

[2020-10-23 03:26] alsvader commented on #487
![Uploading Captura de Pantalla 2020-10-22 a la(s) 22.26.21.png…]()

[2020-10-23 03:27] tupaschoal commented on #517
I guess that's expected, at least for [English](https://www.grammarly.com/blog/capitalization-the-days-of-the-week-the-months/#:~:text=Capitalization%3A%20The%20Days%20of%20the%20Week%2C%20the%20Months%20of%20the,capitalized%20unless%20they're%20personified.&text=The%20maid%20comes%20on%20Tuesdays%20and%20Fridays%20.) and [Portuguese](https://www.dgabc.com.br/Noticia/102671/maiuscula-ou-minuscula-

[2020-10-23 03:27] tupaschoal commented on #487
You didn't wait long enough for the upload to finish. When it finishes uploading, the "Uploading" text goes away

[2020-10-23 03:29] araujoarthur0 commented on #517
Since it's the first word in the "sentence", I expected it to be capitalized too.
It also creates an inconsistent look

[2020-10-23 03:29] tupaschoal commented on #487
I guess it's because you haven't written a title

[2020-10-23 03:36] alsvader commented on #487
done

[2020-10-23 05:25] thamara commented on #517
The reason for this one is that we are using [`Date.toLocaleDateString`](https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString), which is capable of translating the date to the specific locale.

[2020-10-23 05:28] thamara commented on #517
It may be enough to use `text-transform: capitalize;` on the element.

[2020-10-23 05:53] anujpatel224 commented on #516
@araujoarthur0  can you assign this to me?

[2020-10-23 05:54] thamara commented on #446
Indeed, #457 already had a solution for that, which was discarded waiting for someone else's fix. I'll get in touch with the person, but most likely we'll get with that other solution.
@MichaelYogar For now I'll leave the assignee to me, but will let you know if something changes.

[2020-10-23 05:55] anujpatel224 commented on #511
@thamara  can you assign this to me,this could me my first PR.

[2020-10-23 05:57] thamara commented on #516
I can! 👍

[2020-10-23 05:57] thamara commented on #511
Sure! Go ahead!

[2020-10-23 06:18] sooster910 commented on #515
Hi 👋  can I try to work with this issue?

[2020-10-23 06:23] thamara commented on #515
Sure!
I think it's worth mentioning that I could not see this issue on MacOS. If that's the OS you use, you may not see the issue too.

[2020-10-23 06:33] thamara commented on #497
Hi @susheelg1197, in the future, we might add more strings that need a translation too. Would you be interested in be the point of contact for these upcoming contributions? The idea is to make you an ambassador of the Hindi support in the app, and, when we have new translations, we'll mention you to see if you can work on those. This doesn't mean you'll have to translate those of course, only if y

[2020-10-23 06:34] #497 closed

[2020-10-23 06:41] anujpatel224 commented on #511
can you take a look https://github.com/anujpatel224/time-to-leave/blob/main/docs/README-de-DE.md

[2020-10-23 06:42] anujpatel224 commented on #511
is there something i can improvise?

[2020-10-23 06:44] thamara commented on #511
From a quick glance, I saw that some links are not working as expected:

For example:

Feel free to open a PR, and we can review it and give feedbacks more easily.

[2020-10-23 06:47] anujpatel224 commented on #511
let me fix it quickly

[2020-10-23 07:02] anujpatel224 commented on #511
i think everything is good now can you please  check one more time

[2020-10-23 07:04] thamara commented on #511
You can open the PR and we'll review from there. It's kind of hard to do this without the syntax highlight hahaha

[2020-10-23 07:04] anujpatel224 commented on #511
yeah sure

[2020-10-23 07:08] anujpatel224 commented on #511
i have opened a PR, there are so many commits is it a bad thing?

[2020-10-23 07:18] anujpatel224 commented on #511
sorry i forgot to add reference of README-de-DE.md in README.md

[2020-10-23 07:43] amitchakraborti9 commented on #517
I think I have corrected this issue. Should I make a pull request?
Before
![2020-10-23 (2)](https://user-images.githubusercontent.com/62286727/96970546-7d9db380-1531-11eb-8f73-7c7c6d205166.png)
After
![2020-10-23 (3)](https://user-images.githubusercontent.com/62286727/96970617-960dce00-1531-11eb-8309-1a5b70ae0857.png)

[2020-10-23 10:48] tupaschoal commented on #517
Please do and we can discuss the solution there!

[2020-10-23 12:42] KarthiK2601 commented on #511
I can translate it to other languages also

[2020-10-23 13:34] KarthiK2601 commented on #511
can you create a issue for translating it into french, Because i have done it and also created a pull request

[2020-10-23 14:03] KarthiK2601 opened #525 "Translate the documentation to French"
**Describe the current limitation**
I want to translate the README.md into French and German

[2020-10-23 14:04] KarthiK2601 commented on #525
I have translated it, and also created a pull request regarding the same !

[2020-10-23 18:03] iamsrujal commented on #418
We can use GitHub pages feature for the demo of time-to-leave.
What do you think?

[2020-10-23 18:25] samin-batra commented on #10
@thamara can I work on this?

[2020-10-23 18:27] tupaschoal commented on #10
Sure!

[2020-10-23 22:15] loiscodes commented on #388
@thamara I'm reading through pull #415, since the code coverage is at 40%, what is the minimum coverage percentage for main.js?

[2020-10-23 22:51] Godstyme commented on #418
Thats what am thinking or even host it on netlify

[2020-10-23 23:23] thamara commented on #418
We currently have a website that uses netlify. Its content is under `website/`.
What is not clear is how we could actually do a live demo...

[2020-10-23 23:25] thamara commented on #388
In an ideal world, we would want 100%, but this doesn't mean you need to work on reaching 100%. If you work and get any percentage increase, this is already a good step towards the ultimate goal.

[2020-10-24 01:20] #487 closed

[2020-10-24 01:28] #488 closed

[2020-10-24 02:34] stevesioli commented on #514
I can take a stab at this one

[2020-10-24 02:35] tupaschoal commented on #514
Please do!

[2020-10-24 03:47] junevarsha commented on #507
Created the Pull request for this.

[2020-10-24 03:59] fuslonflare opened #528 "Translate Time to Leave to th-TH"
I would like to translate TTL to Thai (th-TH).

[2020-10-24 04:01] fuslonflare commented on #475
Hi, I opened the issue [#528](https://github.com/thamara/time-to-leave/issues/528) to translate this project to Thai.

[2020-10-24 05:06] junevarsha commented on #507
@thamara  @tupaschoal Looking at the digital-ocean logs, I think the hacktoberfest label is required for this PR to count towards the challenge. Let me know if this looks good or if anything needs to be done.

Thanks!

[2020-10-24 07:24] #517 closed

[2020-10-24 08:07] thamara commented on #507
@junevarsha, because TTL has the hacktoberfest label applied in the project when the PR is closed, it will go into your count automatically. :)

[2020-10-24 08:09] #494 closed

[2020-10-24 08:31] thamara commented on #528
That would be great!

[2020-10-24 08:35] #501 closed

[2020-10-24 08:36] thamara opened #529 "Translate README to Marathi (mr)"
Translate README to mr:

Adding new languages
- Translate README, by creating a new docs/README-{LANG}.md, with a copy of the main README.md, but translating into the specific language
- Include a reference to newly created docs/README-{LANG}.md in README.md, close to the top, stating: "This document is also available in {LANG}", but translated to the targeted language

[2020-10-24 08:37] #529 closed

[2020-10-24 08:45] jswildcards commented on #292
@thamara, I am interested in this issue and actually I have some idea already. I would like to create a PR soon. 😃

[2020-10-24 08:59] #387 closed

[2020-10-24 09:02] thamara commented on #292
Yay! That will be great!
I'll assign that to you.

[2020-10-24 14:23] firsi commented on #494
Thanks Thamara, Thanks for replying! I actually wanted to take the issue
before realising that it was an electronJs app. I'm more of a
Javascript/React developer. That's why I deleted the comment.

On Thu, 22 Oct 2020 at 07:51, Thamara Andrade <notifications@github.com>
wrote:

--
*FRONT END DEVELOPER*
*Name:* Alex Gnakadja
*Address*: Bamako, Mali
*Email*: firsijc@gmail.com
*Tel*: +223 72 61 09 28

[2020-10-24 16:35] aldoalprak opened #533 "Translate Time to Leave to id-ID"
Hello @thamara , I'd like to translate Time to Leave app to Indonesian (id-ID). Thank you!

[2020-10-24 16:41] tupaschoal commented on #533
@aldoalprak how similar (if not the same) is it to #532 ? Maybe you can review or collaborate by translating some?

[2020-10-24 16:53] aldoalprak commented on #533
@tupaschoal ah sorry I don't see it, so there's someone already take this task. But I saw in the PR, he hasn't translated the readme.md yet. Can I  do it?

[2020-10-24 16:54] tupaschoal commented on #533
Sure!

[2020-10-24 16:56] aldoalprak commented on #533
Okay, I'll create a PR for this. thanks!

[2020-10-24 17:59] The-Kernel-Panic commented on #468
I would like to contribute to this.

[2020-10-24 18:02] aldoalprak commented on #533
@tupaschoal I've added a PR for translating README.md to ID. Here #534

[2020-10-24 18:43] The-Kernel-Panic commented on #525
I have translated the document in French

[2020-10-24 18:48] The-Kernel-Panic commented on #475
Hi. I have translated it to french.

[2020-10-24 19:00] servatj opened #535 "Translate Time to Leave to ca-CA"
Hello @thamara, I'd like to translate Time to Leave app to Catalán (ca-CA). is it possible?  cheers!

[2020-10-24 19:26] SaviPrograms opened #536 "Translate Time to Leave to pl"
Hi @thamara, I'd like to translate _Time to Leave_ to Polish

[2020-10-24 19:29] SaviPrograms commented on #475
Hi, I've opened issue #536 for Polish translation.

[2020-10-24 22:57] #511 closed

[2020-10-25 00:10] thamara commented on #535
Sure! Thanks @servatj!

[2020-10-25 00:10] thamara commented on #536
That would be great! Thanks @SaviPrograms!

[2020-10-25 00:38] SaviPrograms commented on #536
You're welcome @thamara. Done

[2020-10-25 01:35] #536 closed

[2020-10-25 01:37] thamara opened #542 "Translate README to pl"
Translate README to Polish (pl):

Adding new languages
- Translate README, by creating a new docs/README-{LANG}.md, with a copy of the main README.md, but translating into the specific language
- Include a reference to newly created docs/README-{LANG}.md in README.md, close to the top, stating: "This document is also available in {LANG}", but translated to the targeted language

[2020-10-25 01:38] thamara commented on #542
Hey @SaviPrograms, would you be interested in working on this?

[2020-10-25 02:20] SaviPrograms commented on #542
Yes, I'll do it.

[2020-10-25 04:19] sooster910 commented on #515
When I ran npm start on Windows, nothing happens.

[code]
When I ran in MacOs, application was popped up and worked well, but issue only within Windows.
Any suggestions to solve this? Thank you.

[2020-10-25 04:26] tupaschoal commented on #515
Did you check if it isn't starting minimised to tray?

[2020-10-25 04:30] thamara commented on #515
Hmm.. That's strange. Any chance the app is initializing minimized on the tray?

[2020-10-25 06:10] Esot3riA opened #544 "Translate Time to Leave to ko"
**Describe the current limitation**
TTL isn't supporting korean(ko) now.

**Describe the proposed feature or enhancement**
It will be good If TTL supports korean.

**Additional context**
I'd want to translate TTL to korean, and make korean README. Thanks! :)

[2020-10-25 06:14] Esot3riA commented on #475
Hello, I've opened issue #544 for Korean translation!

[2020-10-25 06:19] thamara commented on #544
That would be great!

[2020-10-25 06:20] thamara commented on #460
Hey @dofbi, any updates on this?

[2020-10-25 06:25] #446 closed

[2020-10-25 06:34] thamara commented on #355
Any updates @Samibanley?

[2020-10-25 07:01] #431 closed

[2020-10-25 09:28] sooster910 commented on #515
Thanks for quick reply and help me out! @thamara @thamara .It was my bad 😅  .  not used to check the app was launched  minimized on the tray since I'm a mac user.

[2020-10-25 09:44] thamara commented on #515
Hahahaha, no problem! Glad it wasn't a bug hahahah

[2020-10-25 09:53] Gnoyoyo commented on #528
I would like to continue the Thai translation to 100% (or almost)

[2020-10-25 10:04] thamara commented on #528
Hi @Gnoyoyo! Thank you a lot for your interest. Let's just wait for @fuslonflare to see if they have progressed or not.

[2020-10-25 11:36] fuslonflare commented on #528
I appreciate to let you continue to contribute to 100%
ขอบคุณมากครับ (Thanks a lot.)

[2020-10-25 11:41] #533 closed

[2020-10-25 11:41] thamara commented on #528
Great! I'll check the current status of the PR and will try to merge it ASAP to unblock you @Gnoyoyo.

[2020-10-25 11:54] thamara commented on #528
Merged. For reference, here are the list of strings that needs translation:

[code]

[2020-10-25 12:08] thamara commented on #475
# Missing Translations:
## de-DE:

[code]

## pl:

[code]

## mr:

[code]

## it:

[code]

## zh-TW:

[code]

## hi:

[code]

## es:

[code]

[2020-10-25 12:14] fuslonflare commented on #528
@Gnoyoyo If translated word/phase in the list of string or in README has better word/phase, don't hesitate to edit it. thanks

[2020-10-25 17:09] #544 closed

[2020-10-25 18:06] The-Kernel-Panic opened #551 "Translation to French"
**Describe the current limitation**
There is no French translation to the Readme.md file.

**Describe the proposed feature or enhancement**
French users will be better able to understand the features of this software.

**Additional context**
[Time-to-live(French).pdf](https://github.com/thamara/time-to-leave/files/5435584/Time-to-live.French.pdf)

Add any other context about the problem here.

[2020-10-25 18:50] SaviPrograms commented on #475
In pl "Menu" is used the same as in English

[2020-10-25 19:20] dofbi commented on #460
Hi @thamara
Two more translations that I can't find, see capture
![Capture du 2020-10-25 19-13-05](https://user-images.githubusercontent.com/84446/97116745-1f223200-16f7-11eb-8531-b2a8915ea3d5.png)
![Capture du 2020-10-25 19-12-31](https://user-images.githubusercontent.com/84446/97116746-20535f00-16f7-11eb-8ea6-9698a2994c21.png)

[2020-10-25 23:14] Samibanley commented on #355
Sorry, go ahead and unassign me. I thought I was out of the woods with work, but I got pulled back in. Sorry again. :(

[2020-10-26 00:58] tupaschoal commented on #460
Is this on the "Flexible" or "Fixed" mode of the calendar (you can change this in the settings). Because if it's fixed, we plan to retire it, so no need to translate.

[2020-10-26 01:10] #542 closed

[2020-10-26 01:10] thamara commented on #355
Let us know if you got any time :)

[2020-10-26 01:11] thamara commented on #475
Thanks!

[2020-10-26 01:16] thamara commented on #460
I suspect this issue is actually due to a bug on the translation infrastructure. If you reload the window (Ctrl/Cmd + R), does it show up the translation?

[2020-10-26 01:16] #515 closed

[2020-10-26 01:19] stevesioli commented on #514
I was not able to reproduce the issue on Mac OS 10.15.7
[code]
Sorry I was not able to help out with this.

[2020-10-26 01:56] stevesioli commented on #516
@thamara I know this is assigned, but I have a fix I can submit tonight if you'd like?

Legit Hacktoberfest tasks have been hard to come by this year, and time is running out. 😰

[2020-10-26 02:01] thamara commented on #516
Hi Steve. We try to respect the order in which people ask to work on the issues, only removing assignments if we haven't hear from the person after a while.

We will be opening more issues soon, which you might be able to work. Come back later or tomorrow, or start watching the repo. I'm sure you'll find something in time for hackertoberfest.

[2020-10-26 07:01] hzq-up opened #555 "What kind of application is this?"
**Describe the current limitation**
A clear and concise description of what the limitation is.

**Describe the proposed feature or enhancement**
A clear and concise description of what you expect Time To Leave to do.

**Additional context**
Add any other context about the problem here.

[2020-10-26 07:01] hzq-up opened #556 "What can we do with this？"
**Describe the current limitation**
A clear and concise description of what the limitation is.

**Describe the proposed feature or enhancement**
A clear and concise description of what you expect Time To Leave to do.

**Additional context**
Add any other context about the problem here.

[2020-10-26 07:16] SaviPrograms opened #557 "International title of "Language" option in preferences"
**Describe the current limitation**
It's not easy to find out, where to change language, if you normally uses Latin characters, and you land in languages like Korean, or Chinese

**Describe the proposed feature or enhancement**
We can add "(lang)" to language translation in all languages.

[2020-10-26 07:57] h-shams opened #558 "Translation to persian(fa)"
I would like to translate TTL to Persian (fa).

[2020-10-26 10:37] thamara commented on #558
Sure!

[2020-10-26 10:40] thamara commented on #557
Hi @SaviPrograms, I don't think I quite understand your proposal. Is it a way of translating/identifying better the "Language" text option in the preferences, or work on the options for this preference?

[2020-10-26 10:42] thamara commented on #555
Hi @hzq-up, the [README](https://github.com/thamara/time-to-leave/blob/main/README.md) file some information on what application this is. If that was not clear, please let us know.

[2020-10-26 10:42] thamara commented on #556
Hi @hzq-up, the [README](https://github.com/thamara/time-to-leave/blob/main/README.md) file some information on what application this is. If that was not clear, please let us know.

[2020-10-26 10:44] SaviPrograms commented on #557
It's all about adding "(lang)" text to end of regional version of Language. For example in Polish it will be "Język(lang)" displayed.

[2020-10-26 15:56] tupaschoal commented on #557
I guess Savi's idea is: "If you fall into a language you can't understand, how do you find the option to change back?"

[2020-10-26 16:25] thamara commented on #557
Oh, I see... I don't like adding a string on the language names as this will be too repetitive, but that's a valid concern.
One option is to use an icon on the Language option, something like the [language](https://fontawesome.com/icons/language?style=solid) icon from FontAwesome, or something in this direction. What do you think?

[2020-10-26 16:27] tupaschoal commented on #557
Love the icon idea

[2020-10-26 16:33] thamara commented on #557
![image](https://user-images.githubusercontent.com/846063/97200314-d23e6a00-178f-11eb-8bd9-b48858546438.png)

Some ideas (the icon can be something different)

[2020-10-26 16:35] SaviPrograms commented on #557
Oh, may I add icons for each of the options?

[2020-10-26 18:22] virginiarcruz commented on #445
@thamara
anyone working on that?
I can fix this.

[2020-10-26 18:49] thamara commented on #445
Hi @virginiarcruz, @silenteyesoncode is working on this, I believe.

[2020-10-26 18:54] silenteyesoncode commented on #445
I'll put the PR by wed @thamara